.title-modal
    .inner-wrap.title-inner
        header.head-bar
            .inner-wrap
                h3.modal-title(
                    ng-bind="transclude.title"
                    title=""
                )
                a.icon-cancel-big.close-modal
        .modal-inner(ng-transclude)