/*cp-ad*/.add-self-speaker-list
    padding em(10)
    background $cyan

    .img-box
        float right
        margin 2.25em 0
        width 35%

    .cta-wrap
        width 100%

    .cta-sec
        text-align center
        margin 1em auto 0
        width em(375)
        max-width 100%

    /*h3*/.cta-head
        $font-bold(18)
        color $blue-2
        margin-bottom 1em

    /*p*/.cta-body
        $font-light(15, null, 18)

    /*img*/.arrow
        position absolute
        left 15%
        bottom 1.25em