section.add-self-speaker-list.logged-out-only
    .img-box
        img.image(src="/images/AdSlot/addSelfSpeakerList/map.svg")

    .cta-wrap
        .cta-sec
            h2.cta-head(i18n="campaign.ADD_SELF")
            p.cta-body(i18n="campaign.AD-ADD_SPK_BODY")

            a.fluffy.btn-yellow(
                i18n="campaign.AD-ADD_SPK_CTA"
                ui-sref="standalone.addYourself"
                analytics-on="submit"
                analytics-category="add yourself"
                analytics-event="click"
                analytics-label="speaker results: put me on the map"
            )

            img.arrow.hidden-xs(src="/images/AdSlot/addSelfSpeakerList/arrow.svg")