.v-select
    $photo-size = 65
    $padding = 20
    $background = $white
    $background-alt = $light-blue-1
    $border-color = $blue-2-50op

    $input-size = $photo-size - ($padding * 2)

    text-align left

    &.edit-mode
        .options-list
            border-top 1px solid $border-color

        .v-option,
        .v-input
            max-height em($photo-size)

        .v-option
            border-bottom 1px solid $border-color

            &.activated
                background $cyan
                color $white

        .edit-button
            max-height 0

    /*a*/.edit-button
        display block
        padding .5em
        max-height em(40)
        text-align center
        color $blue-2-50op
        line-height em($photo-size - ($padding * 2), 15)
        transition-delay 500ms

    .edit-button,
    .v-option,
    .v-input
        transition max-height 300ms ease-in
        overflow-y hidden

    .v-option,
    .v-input
        max-height 0

    /*.options-list */.v-option
        display block
        background $background
        cursor pointer

        &.activated
            .input
                border-color $cyan

    .sm-photo-wrap
        @extends .middle-align
        width em($photo-size)
        height em($photo-size)
        overflow hidden

    /*photo-wrap*/.v-photo
        height 100%

    /*.photo-wrap */.img
        background-size cover
        padding-bottom 100%
        height 100% !important

    /*.content */.inner-content
        padding em($padding)
        width calc('100% - ' + em($photo-size))

    /*span*/.v-name
        line-height unit($photo-size - ($padding * 2), 'px')
        width calc('100% - ' + em($input-size + 5))
        overflow ellipsis
        display inline-block

    .input
        background $background
        border 1px solid $blue-2
        width em($input-size)
        height em($input-size)
        float right

    /*.input */.input-square
        width 100%
        height 100%
        border 4px solid $background

    input:checked + .input-square
        @extends _blue-gradient
