form.v-select(
    name="VenueSelect"
    required="true"
    ng-class="{'edit-mode': !vars.selected.index}"
)
    a.edit-button.bold-15(
        ng-show="vars.selected.index"
        ng-click="vars.selected.index = null"
        i18n="activities.CHANGE_SEL_LOC"
    )

    .options-list
        input(
            name="hiddenSelect"
            type="hidden"
        )

        label.v-option(
            ng-repeat="venue in vars.venueData"
            for="{{::vars.unique + '-' + $index}}"
        )
            .sm-photo-wrap.top-align
                .v-photo.responsive-image
                    .img(ng-style="::{'background-image': 'url(' + venue.venue.picture + ')'}")

            .inner-content.top-align
                span.v-name.bold-15(ng-bind="::venue.service.name")

                .input
                    input.hidden(
                        type="radio"
                        id="{{::vars.unique + '-' + $index}}"
                        value="{{$index}}"
                        ng-model="vars.selected.index"
                    )
                    .input-square

        .v-input
            google-location(
                data-inline="true"
                data-icon="true"
                data-search-type="places"
                data-name="location"
                data-on-select="vars.onLocSelect(location)"
                data-do-empty="vars.emptyInput"
            )
