- var people = { shana: { fullName: 'Shana Thompson', cofounder: true, title: 'CHIEF_MARKETING_OFFICER', alt: 'Chatterplot founder and CMO' },      marius: { fullName: 'Marius Miliunas', cofounder: true, title: 'CHIEF_TECHNICAL_OFFICER', alt: 'Chatterplot founder and CTO' },       chris: { fullName: 'Chris Westgate', cofounder: true, title: 'CREATIVE_DIRECTOR', alt: 'Chatterplot founder and CDO' } }

ion-view.About
    view-title meta.ABOUT_TITLE

    //- meta(
    //-     view-head
    //-     name="keywords"
    //-     content="{{::meta.TCLP_KEY | i18n}}"
    //- )

    meta(
        view-head
        name="description"
        i18n="true"
        content="meta.ABOUT_DESC"
    )

    ion-content
        .padding
            h1(i18n="standalone.ABOUT_CHATTERPLOT")
            h2.hidden(i18n="standalone.ABOUT_SUBHEADER")

            p.about(i18n="standalone.ABOUT_CHATTERPLOT_COPY")

            .border-dot.three-quart

            for person, name in people
                .person
                    .photo
                        img(src="/images/standalone/about/profile-#{name}.png", alt="#{person.alt}")

                    h2.person-name #{person.fullName}

                    if person.cofounder
                        span.role(i18n="standalone.ABOUT-COFOUNDER")

                    span.role(i18n="standalone.#{person.title}")

        site-footer
