ion-view.lots-of-text
    view-title meta.TERMS_TITLE

    //- meta(
    //-     view-head
    //-     name="keywords"
    //-     content=""
    //- )
    
    meta(
        view-head
        name="description"
        i18n="true"
        content="meta.TERMS_DESC"
    )

    ion-content
        .padding
            h1.no-cap(i18n="standalone.PAGES-TERMS_SERVICE")

            h3 Welcome Chatterplot users!

            p
                | Safeguarding your personal information is a top priority for us. This Privacy Policy (the “Policy”) covers how Chatterplot, ("Chatterplot.com," "we," "us," or "our") treats personal information that it collects and receives over the domain chatterplot.com and its sub-domains. This document informs you about the personal data we collect, how we protect it, as well as how we use and share it.

            p
                | For the purpose of this Policy all user-submitted personally identifiable information will be called Personal Information.

            h2 <span class="num">1.</span>Collected Information
            p
                | <strong>1.1 Collection Purpose:</strong> During the registration process and during the creation of your profile, Chatterplot will collect Personal Information from you which is used primarily for: products and services improvement, billing, authentication and identification of users, internal contact database, internal SEO reporting and website analysis.

            p
                | <strong>1.2 About collection:</strong>

                ol.count
                    li Initially Chatterplot collects basic details about you when you register on <a href="https://www.chatterplot.com">www.chatterplot.com</a>.
                    li Chatterplot allows you to submit additional information to your Profile once you’ve registered (name, photo, language skills, services offered, personal descriptors and location).
                    li When you make a monetary transaction, you may be required to share additional information with us and our business partners (payment processors and banks), including your credit card card number and additional personal information,  which are necessary for processing payments.
                    li Last but not least, Chatterplot uses Google Analytics (Section 2.4) as well as cookies and your IP address for reasons listed in section 2.5 and 2.6. These (cookies and IP address) are automatically received and recorded on our server logs both from your browser and from the pages that you visit.



            h2 <span class='num'>2.</span>Use of Information
            p
                | <strong>2.1 Registration:</strong> When you register on Chatterplot, chatterplot.com gathers account information from you, including your name, email address or social media login information to identify you and send you notifications regarding our service. You will be required to confirm your account information to gain full access to our platform and schedule Classes and Meetings. After you confirm, you may submit additional account information to chatterplot.com including location, photo and personal descriptions/biographical information. Your Personal Information will permit others to connect with you,  search for you and communicate with you for the purpose of language learning.

            p
                | You can choose not to provide us with certain information, but that may result in you being unable to use our Website to its full functionality. You may also be limited in taking part in contests, promotions, surveys and other special offers we offer users.

            p
                | <strong>2.2 Display:</strong> Chatterplot will display your name, profile picture and your Personal Information on your profile, which can be limited and altered from your Settings page. Note, you may limit only specific aspects of your profile.

                ol.count
                    li Syndication Programs: By making your information accessible through our Site,  you are making your Personal Information available to search engines, crawlers and other syndication programs. Note that Chatterplot is not responsible for any after effects of personal information being made public on the Site.
                    li As a user, you have the ability to post on various locations of our site, where personally identifiable information is optional. If you decide to post personal information on our website, in places where it is not required, you’re voluntarily making that voluntarily added personal information accessible to the public and may receive unsolicited messages, among other unsolicited actions, from other users in return.

            p
                | <strong>2.3  Email:</strong> Email addresses will not be shown to the public, but may be required if you decide to invite friends to join our Service. Chatterplot does have access to your email and may send you notifications related to our service and your use of Chatterplot when we see fit. You may opt out of commercial emails at anytime, but you may continue to receive other types of transactional and relationship email communications, such as service announcements, administrative notices, and surveys, from which you cannot opt out. We request a reasonable time to process any opt-out request.

            p
                | <strong>2.3 Location:</strong> To customize our service for you, we and our partners may collect, use, and share precise location data, including the real-time geographic location of your computer or device. This location data is collected anonymously in a form that does not personally identify you and is used only to provide and improve our service. However, the location you provide on our website for the purpose of our service is available to the Public unless otherwise indicated in your Settings. By using our service, you understand that your location WILL BE VISIBLE TO OTHER CHATTERPLOT USERS UNLESS YOU DEACTIVATE YOUR LOCATION. (Please review the Terms of our Service for details).

            p
                | <strong>2.4. Chatterplot use of IP Address:</strong> Chatterplot may occasionally obtain IP addresses, browser and session information to:

                ol.count
                    li Determine, prevent and resolve technology issues that are reported by engineers, Chatterplot staff and users in association with  IP addresses and ISPs.
                    li Indicate users with access privilege to services and resources we provide.
                    li Detect, act upon and recover from fraud and abuse.
                    li Offer relevant content, including advertisements to you.

            p
                | <strong>2.5. Chatterplot use of Cookies:</strong> As stated in Section 2.4, rejecting cookies may limit your access to our site and its functionality. You may configure your browser to accept all cookies if you’re experiencing difficulty accessing our Service, however, please note that we use cookies to:

                ol.count
                    li Keep track of preferences you specify while you are using the Chatterplot Sites, Products and Services.
                    li Protect you and your private information by logging you out of our site after a certain time period, after which you’ll be required to re-enter your password.
                    li Cater advertisements to you (based on profile information) and see that advertisements do not appear twice on an individual’s page.
                    li Permit other entities to put their cookies on your computer for the purpose of advertisement and service on our pages. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. In effect, these entities are not subject to this Privacy Policy and are not bound to the terms provided in this Policy.

            p
                | <strong>2.6. Google Analytics:</strong> This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses "cookies", which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States . Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.

            p
                | <strong>2.7 Other Technologies:</strong> We may decide to use web beacons or similar technologies to track your use of our site, which may include beacons in advertisements and email messages to determine whether the messages have been opened and acted upon. Web beacons are standard Internet technology tools that allow us to improve and customize the overall effectiveness of our online advertising, content and other activities.

            h2 <span class="num">3.</span>Sharing and Disclosing Information

            p
                | Chatterplot uses your collected Personal Information to improve our Services;  personalize your experience on our Website based on your interests and habits, better our marketing and promotional efforts, analyze site usage and create better content and products for you and our users. In resolving disputes, trouble shooting problems and enforcing our Terms and Services Agreement, it may also be necessary to use your Personal Information.

            p
                | <strong>3.1 Service providers:</strong> We may compile the information we collect about you and use it, in an aggregate form only, with third parties that perform certain services on our behalf. These services may include providing customer service and marketing assistance, performing business and sales analysis, member screenings, supporting our website functionality, and supporting contests, surveys and other features offered through our website. We may also share your name, contact information and credit card information with our authorized service providers who process credit card payments. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes.

                ol.count
                    li <strong>PCI Compliance:</strong> The PCI compliance regulations don't allow sharing of user's financial information except for the purpose of processing payments.
                    li <strong>External Media and Marketing:</strong> We do not share your Personal Information with unrelated third parties for their direct marketing purposes. However, Chatterplot may display targeted advertisements based on personally non-identifiable information (see Section 2.5 and 2.6).
                    li <strong>Disclaimer:</strong> Whatever information Chatterplot provided to third parties is "outside the jurisdiction" of Chatterplot and therefore if we have already provided your information to a third party (such as a service provider) before you have changed your preferences or updated your information, you may have to change your preferences directly with that third party. You can also control information collected by cookies (See section 2.5).

            p
                | <strong>3.2 Third Party Websites:</strong> There are a number of places on our website where you may click on a link to access other websites that do not operate under this Privacy Policy. For example, if you click on an advertisement on our website, you may be taken to a website that we do not control. These third-party websites may independently solicit and collect information, including personal information, from you and, in some instances, provide us with information about your activities on those websites. We recommend that you consult the privacy statements of all third-party websites you visit by clicking on the "privacy" link typically located at the bottom of the webpage you are visiting.

            p
                | <strong>3.3 Chatterplot Media and Marketing:</strong> We may use photographs you submit, as well as feedback from polls submitted for publication on our website and may use quotes and comments via email and posts for promotional or sales purposes. Our use of such materials is consistent with the restrictions on disclosure of Personally Information (Section 4).

            p
                | <strong>3.4. Required Disclosures:</strong> We make our best effort to maintain the privacy of our users, however may need to disclose your Personal Information when required by law or if we believe, in good-faith, that disclosure of your Personal Information is necessary to: (a) comply with a current judicial proceeding, a legal process or court order served on our website, (b) enforce this Policy or the Terms of Service Agreement, (c) respond to claims which state that your Personal Information violates the rights of third parties; or (d) protect the rights, property and personal safety of Chatterplot, its members and the public. You authorize us to disclose any information about you to law enforcement or other government officials as we, in our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose us or you to legal liability.

            p
                | <strong>3.5. Selling and Purchasing of Chatterplot:</strong> As we continue developing our business, we may decide to acquire additional businesses or sell all or even part of our business. In such a case, your Personal Information is one of the business assets that will be transferred. The transferred Personal Information will remain subject to this Privacy Policy and all other policies to which you have given your consent.

            h3 Changes to this Privacy Policy

            p
                | Chatterplot reserves the right to revise and update this policy whenever we see fit. When we do, we may notify you about changes by email or message (via the Platform). We encourage you to visit the Privacy Policy often as any use of the Chatterplot Service indicates you agree with all of the terms provided herein.

            h3 Questions about our Privacy Policy?
            p
                | If for any reason you feel that your privacy has been breached or that you have a concern about your privacy that has not been answered by this Policy, please send us a detailed description of your issue <a href="mailto:support@chatterplot.com">here</a>.

            p
                em Effective Date: November 21, 2014

            p
                em Last Updated: January 1, 2016

        site-footer
