.social-media-bar
    li,
    a
        display inline-block
        vertical-align top

    a
        font-size 1.35em

.password-meter
    width 100%
    height 1em
    margin-top .5em

    .meter
        width 0%
        border-radius em(3)
        height 100%
        transition .25s linear background, .25s ease-out width

    &.invalid
        .meter
            background $red

    &.weak
        .meter
            background $orange

    &.medium
        .meter
            background $orange-light

    &.strong
        .meter
            background $green

    &.secure
        .meter
            background $green-gradient-dark-pre

//////////////////////////////
///////  !TIMEPICKER   ///////
//////////////////////////////
.time-picker
    select
        margin 0

//////////////////////////////
///////    !LOADER     ///////
//////////////////////////////
.ui-mprogress
    .indeter-bar,
    .bar-bg
        height 100%

.site-loader
    position absolute
    top 100%
    width 100%
    height em(3)
    z-index 0

.uploader-progress
    width 100%
    height em(10)
    z-index 0