.cont[ng-view],
.wrapper,
section[class*="inner-"],
div[class*="inner-"]
    @extends _full-size

.site-wrap
    overflow-x hidden

html,
body
    text-size-adjust 100%
    height 100%

body
    font $root-font-px \/ 16px $font-regular-val
    color $blue-2

//  Retina + non retina span images
span.img
    display block
    max-width 100%
    width 100%
    background-repeat no-repeat
    background-position center center
    background-size contain

img
    color $white
    max-width 100%
    height auto

button
    border none

.subheader-visible + ion-nav-view
    ion-content
        top em($bar-height + $bar-subheader-height)

.subheader-visible.bar-dark + ion-nav-view
    ion-content
        top em($bar-height + $bar-subheader-height - $bar-padding-portrait)

.subheader-visible.hidden + ion-nav-view
    ion-content
        top em($bar-height)

ion-nav-view
    /*ion-content*/.scroll-content
        // Same as @extends .has-footer
        bottom em($bar-height)

b,
strong,
.strong
    font-weight normal
    font-family $font-bold-val

i,
em,
.em
    font-family $font-italic-val

small
    line-height 1em
    font-size .8em

ul.default
    list-style inherit

    li
        display list-item
        margin-left 1.25em

input,
textarea
    font-size 1em
    box-shadow none

::-webkit-input-placeholder /* WebKit browsers */
    font italic 1em $font-italic-val

:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
    font italic 1em $font-italic-val

::-moz-placeholder /* Mozilla Firefox 19+ */
    font italic 1em $font-italic-val

:-ms-input-placeholder /* Internet Explorer 10+ */
    font italic 1em $font-italic-val

iframe
    max-width 100%

a
    text-decoration none
    text-decoration inherit

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family $font-title-val
    line-height 1.2em
    color $blue-2

    strong
        font-family $font-title-val

h1,
.h1
    font-size em(32)

h2,
.h2
    font-size em(22)

h3,
.h3
    font-size em(19)

h4,
.h4
    font-size em(17)

h5,
.h5
    font-size em(15)

h6,
.h6
    font-size em(12)

// Fuck you Avast
.aos.aos-overlay
    display none !important
    z-index -1 !important

// Ionic sets opacity to 0 for an unknown reason
// http://forum.ionicframework.com/t/nav-view-stage-field-in-ionic-does-not-get-opacity-1-on-android/35038
[nav-view=stage]
    opacity 1

//////////////////////////
/////  $RETINA IMG   /////
//////////////////////////
.non-retina-block,
.visible-xs-block
    display block !important

.non-retina-inline-block,
.visible-xs-inline-block
    display inline-block !important

.non-retina-inline,
.visible-xs-inline
    display inline !important

.retina-block,
.retina-inline-block,
.retina-inline,
.visible-sm-block,
.visible-sm-inline-block,
.viible-sm-inline
    display none !important

+media('sm')
    .visible-xs-block,
    .visible-xs-inline-block,
    .viible-xs-inline
        display none !important

    .visible-sm-block
        display block !important

    .visible-sm-inline-block
        display inline-block !important

    .visible-sm-inline
        display inline !important

//retina images + desktop
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio : 2)
    .non-retina-block,
    .non-retina-inline-block,
    .non-retina-inline
        display none !important

    .retina-block
        display block !important

    .retina-inline-block
        display inline-block !important

    .retina-inline
        display inline !important
