blank-modal.blank-detail-modal.sa-modal(
    abs-center="true"
    box-class="cont default-modal"
    deactivate="modal.deactivate ? modal.deactivate() : $root.goBack()"
    data-disable-bg-close="true"
    padding="true"
)
    h1.h1(i18n="standalone.PAGES-ABUSE")

    form.content-wrapper.default-form(
        name="abuse"
        ng-controller="AbuseCtrl as Abuse"
        ng-init="Abuse.setVariables(content)"
    )
        ul.list-section.layout-A
            li.line
                .subject
                    span.text(i18n="standalone.CONTACT-CATEGORY")

                .stuff
                    .css-select
                        select.full(
                            ng-model="message.category"
                            name="category"
                            required
                        )
                            option(
                                i18n="common.SELECT"
                                disabled
                                value=""
                                style="display:none"
                            )
                            option(
                                ng-repeat="(index, what) in ::categoryOptions"
                                i18n="standalone.{{::what.key}}"
                                value="{{::what.value}}"
                            )

                        .icon

            li.line
                .subject
                    span.text(i18n="standalone.CONTACT-DETAILS")

                .stuff.popover-msg.nom
                    .pop.error(
                        data-pos="top"
                        ng-messages="contact.details.$error"
                        ng-if="(contact.$submitted || contact.details.$touched) && (contact.details.$invalid || contact.details.$invalid == undefined)"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-CONF_EMAIL_REQUIRED")
                        span.form-error(ng-message="min-length")
                            span(i18n="updates.ERROR-ATLEAST_10")
                    textarea.tall.full(
                        ng-model="message.details"
                        data-i18n-attr="{placeholder: 'standalone.PLACEHOLDER-FEEDBACK_DETAILS'}"
                        name="details"
                        min-length="10"
                        required
                    )

            li.line.submit-row.center.plump
                .btn-cancel(
                    i18n="common.CANCEL"
                    ng-click="modal.deactivate()"
                )
                input.btn-yellow(
                    type="submit"
                    data-i18n-attr="{value: 'common.SEND'}"
                    ng-disabled="contact.$invalid || vars.sent"
                    ng-click="send()"
                )
