blank-modal.default-modal.confirm(
    data-deactivate="modal.onCancel()"
    data-abs-center="true"
    ng-class="::modal.className"
)
    .inner-padding.modal-padding
        h3.confirm-title(ng-bind="modal.title")
        p.message(ng-bind="modal.message")

        .confirm-modal-group.center.fluffy
            a.cancel(
                ng-click="modal.onCancel()"
                ng-bind="::modal.cancel"
                ng-class="::modal.cancelClass"
            )
            a.confirm(
                ng-click="modal.onSuccess()"
                ng-bind="::modal.confirm"
                ng-class="::modal.confirmClass"
            )