ion-content.pane-content.Single.listing-event
    view-title {{::Event.Datum.name}} - Chatterplot Event

    meta(view-head, property="og:title", content="{{::Event.Datum.name}} - Chatterplot Event")
    meta(view-head, property="og:url", content="{{::Event.Datum.canonicalURL}}")
    meta(view-head, property="og:description", content="{{::Event.meta.description}}")
    meta(view-head, name="twitter:card", content="summary_large_image")
    meta(view-head, name="twitter:title", content="{{::Event.Datum.name}} - Chatterplot Event")
    meta(view-head, name="twitter:description", content="{{::Event.meta.description}}")
    meta(
        view-head=""
        ng-if="::Event.meta.image"
        property="og:image"
        content="{{::Event.meta.image}}"
    )

    .publish-row(ng-if="!Event.Datum.published && Event.Datum.imHosting")
        .inner-wrap
            .arrow
            span.p-text(i18n="events.IS_UNPUBLISHED")
            a.publish-event(
                i18n="events.PUBLISH"
                ng-click="Event.methods.publishEvent(Event.Datum)"
                analytics-on="click"
                analytics-category="events"
                analytics-event="click"
                analytics-label="standalone: publish event"
            )
            tooltip.tip.light(
                data-text="events.TT-UNPUBLISHED"
                data-pos="bottom"
            )

    .inner-wrap
        .pane-wrapper-scroll
            .shadow-hide
                article(
                    class="eventry"
                    ng-class="{ 'im-attending': Event.Datum.imAttending, 'wait-listed': Event.Datum.imWaiting, 'max-going': Event.Datum.capGoing }"
                    vocab="http://schema.org/"
                    typeof="Event"
                )
                    span.hidden(
                        property="url"
                        content="{{::Event.Datum.canonicalURL}}"
                    )
                    .inner-wrap
                        header.head.pane-layout-photo
                            .inner-head
                                .detail-wrap.content-sec
                                    .event-name
                                        h1.event-title(
                                            ng-bind="::Event.Datum.name"
                                            property="name"
                                        )

                                    .going-wrap
                                        .going-margin
                                            //- LANGUAGES
                                            .line.languages
                                                cefr-levels.middle-align.icon(
                                                    data-source="Event.Datum.levels"
                                                    data-tooltip-pos="right"
                                                )

                                                languages.middle-align(
                                                    data-source="Event.Datum.languages || Event.Datum.languages"
                                                    data-which="name"
                                                )

                                            //- WHEN
                                            .line.sub-detail.when
                                                .icon.icon-clock
                                                .text
                                                    .line(
                                                        property="startDate"
                                                        content="{{::Event.Datum.whenISO}}"
                                                    )
                                                        span.space-right
                                                            strong.cap(i18n="common.WHEN_TIME")
                                                            =':'
                                                        strong.date(ng-bind="::Event.Datum.date")
                                                        strong.space.time(ng-bind="::Event.Datum.time")

                                                    .line.endDate(
                                                        ng-if="::Event.Datum.until"
                                                        property="endDate"
                                                        content="{{::Event.Datum.untilISO}}"
                                                    )
                                                        em(i18n="common.TO_TIME")
                                                        span.space.date(ng-bind="::Event.Datum.endDate")
                                                        span.space.time(ng-bind="::Event.Datum.endTime")

                                            //- WHERE
                                            .line.sub-detail.where(
                                                ng-if="!Event.Datum.venue.hidden || Event.Datum.imAttending"
                                            )
                                                .icon.icon-location
                                                .text
                                                    .line(
                                                        property="location"
                                                        typeof="Place"
                                                    )
                                                        strong.cap(i18n="common.WHERE_LOC")
                                                        span=':'
                                                        span.space(ng-bind="::Event.Datum.formattedAddress")
                                                        .hidden
                                                            span(
                                                                property="address"
                                                                typeof="PostalAddress"
                                                            )
                                                                span(
                                                                    property="name"
                                                                    ng-if="::Event.Datum.venueDetails.name"
                                                                    ng-bind="::Event.Datum.venueDetails.name"
                                                                )
                                                                span(
                                                                    property="addressCountry"
                                                                    ng-bind="::Event.Datum.venueDetails.country"
                                                                )
                                                                span(
                                                                    property="addressLocality"
                                                                    ng-bind="::Event.Datum.venueDetails.city"
                                                                )
                                                                span(
                                                                    property="addressRegion"
                                                                    ng-bind="::Event.Datum.venueDetails.state"
                                                                )
                                                                span(
                                                                    property="postalCode"
                                                                    ng-bind="::Event.Datum.venueDetails.postal"
                                                                )
                                                                span(
                                                                    property="streetAddress"
                                                                    ng-bind="::Event.Datum.venueDetails.address"
                                                                )

                                            //- PRICE
                                            .line.sub-detail
                                                .icon.price.icon-money
                                                .text
                                                    span.space-right
                                                        strong.cap(i18n="common.PRICE")
                                                        =':'
                                                    money-display(
                                                        data-price-string="{{::Event.Datum.priceString}}"
                                                        data-if-none="events.FREE_PRICE"
                                                        data-if-translate="viewReg:events.REVIEW_REG_INFO"
                                                    )

                                .disconnect
                                    .bottom-right.fat
                                        //- Attend / Waitlist / Edit
                                        .float.attendance(ng-if="!Event.Datum.imHosting")

                                            //- Showing/hiding is done via CSS
                                            a.btn-yellow.signup(
                                                i18n="events.ATTEND"
                                                ng-click="Event.methods.toggleAttending(Event.Datum, true)"
                                                analytics-on="click"
                                                analytics-category="events"
                                                analytics-event="click"
                                                analytics-label="standalone: attend event"
                                                analytics-value="{{::Event.Datum.eID}}"
                                            )

                                            .css-select.unstyled.blue-gradient.attend-select.unsignup
                                                select.button-styles(
                                                    ng-model="Event.Datum.vars.attending"
                                                    ng-options="key as value for (key, value) in Event.methods.attendingOptions"
                                                    ng-change="Event.methods.toggleAttending(Event.Datum, false, false)"
                                                    analytics-on="change"
                                                    analytics-category="events"
                                                    analytics-event="click"
                                                    analytics-label="standalone: unRSVP"
                                                    analytics-value="{{::Event.Datum.eID}}"
                                                )
                                                .icon-up-down

                                            a.btn-yellow.wait-list(
                                                i18n="events.JOIN_WAITLIST"
                                                ng-click="Event.methods.toggleAttending(Event.Datum, true, true)"
                                                analytics-on="click"
                                                analytics-category="events"
                                                analytics-event="click"
                                                analytics-label="standalone: join waitlist"
                                                analytics-value="{{::Event.Datum.eID}}"
                                            )

                                            .css-select.unstyled.red-gradient.attend-select.unwait-list
                                                select.button-styles(
                                                    ng-model="Event.Datum.vars.attending"
                                                    ng-options="key as value for (key, value) in Event.methods.waitingOptions"
                                                    ng-change="Event.methods.toggleAttending(Event.Datum, false, true)"
                                                    analytics-on="change"
                                                    analytics-category="events"
                                                    analytics-event="click"
                                                    analytics-label="standalone: leave waitlist"
                                                    analytics-value="{{::Event.Datum.eID}}"
                                                )
                                                .icon-up-down

                                        a.btn-yellow.edit-event.icon-pencil.float(
                                            title=''
                                            i18n="events.EDIT"
                                            ui-sref="map.dashboard.eventCreate({ eID: Event.Datum.eID, type: Event.Datum.indexType })"
                                            ng-if="Event.Datum.imHosting"
                                        )

                                    .bottom-bar
                                        share-page.share-sec.bar-elem(
                                            data-text="{{::Event.meta.name}}"
                                            data-line-text="common.SHARE"
                                            ng-if="Event.Datum.published"
                                        )

                        //going-strip.u-going(
                        //    ng-if="Event.Datum.goingList.length"
                        //    data-source="Event.Datum.goingList"
                        //    data-maximum="{{::Event.Datum.maxGoing}}"
                        //    data-waiting="Event.Datum.waitList"
                        //)

                        .content
                            .top-right
                                a.head-actn.icon-mail(
                                    ng-if="Event.Datum.imHosting && Event.Datum.goingList.length > 1"
                                    i18n="events.EMAIL_ATTENDEES"
                                    ng-click="Event.notifyAttendees()"
                                )

                            .ding
                                h3.content-head(i18n="events.INFO")
                                .copy.ck-html(
                                    ng-bind-html="::Event.data.trustedDescription"
                                    property="description"
                                )

                            .ding(
                                ng-if="::Event.Datum.indexType == 'event'"
                                property="organizer"
                                typeof="Person"
                            )
                                span.hidden(
                                    ng-if="::Event.meta.hostImg"
                                    property="image"
                                    content="{{::Event.meta.hostImg}}"
                                )

                                h3.content-head
                                    span(i18n="events.ABOUT_HOST")
                                    =' - '
                                    a.a(
                                        property="name"
                                        ng-bind="::Event.Datum.host.fullName"
                                        ui-sref="map.dashboard.profile.user({userID:Event.Datum.host.userID})"
                                    )
                                p.copy(
                                    property="description"
                                    ng-bind="::Event.Datum.aboutHost"
                                )

                            .ding(ng-if="::Event.Datum.indexType == 'listing' && Event.Datum.registrationURL")
                                h3.content-head
                                    span(i18n="events.OL_REG_REQUIRED")
                                p.copy
                                    a.styled-link(
                                        href="{{::Event.Datum.registrationURL}}"
                                        ng-bind="Event.Datum.registrationURL"
                                        target="_blank"
                                    )

                            .ding(ng-if="::Event.Datum.paymentInfo")
                                h3.content-head(i18n="activities.PAYMENT_INFO")
                                p.copy(
                                    ng-bind="::Event.Datum.paymentInfo"
                                )
