.Tooltip
    $carrot-height = 13

    position relative
    display inline-block
    vertical-align middle
    font-size 1em
    cursor pointer
    min-width 1em
    min-height 1em
    text-align center
    z-index 3
    text-transform none
    
    &.light
        [class^='icon-']
            background $white
            color $cyan

    [class^='icon-']
        display inline-block
        font-size 12px
        line-height 1em
        background $blue-2
        color $light-blue-1
        border-radius 50%
        padding .15em

        &:before
            margin 0

    .box
        font-size 12px
        position absolute
        background $blue-2
        color $white
        cursor pointer

        &.ng-hide-add.ng-hide-add-active,
        &.ng-hide-remove.ng-hide-remove-active
           transition opacity linear 0.45s

        &.ng-hide
            opacity 0
    
    /*.box*/.top,
    /*.box*/.bottom
        width em(290)
        left 50%
        transform translateX(-50%)

    /*.box*/.top
        bottom 106%
        bottom calc('100% + ' + em($carrot-height + 2))

    /*.box*/.bottom
        top 106%
        top calc('100% + ' + em($carrot-height + 2))
    
    /*.box*/.right,
    /*.box*/.left
        width em(200)
        top 50%
        transform translateY(-50%)

    /*.box*/.right
        left 106%
        left calc('100% + ' + em($carrot-height + 2))

    /*.box*/.left
        right 106%
        right calc('100% + ' + em($carrot-height + 2))

    /*.box */.inner
        padding em($default-padding * .75)

    h3
        color $white

    /*.inner */.text
        $font-light(12, null, 14)

    /*.inner */.carrot
        opacity 1
        
        &:before,
        &:after
            content ' '
            position absolute
            width 0
            height 0
            border solid transparent
            pointer-events: none

        &:before
            border-color rgba($blue-2, 0)
            border-width em($carrot-height)

        //&:after
        //    border-color: rgba($white, 0)
        //    border-width: em($carrot-height - 1)
    
    .top .carrot
        &:before,
        &:after
            top 100%
            left 50%

        &:before
            margin-left - em($carrot-height)
            border-top-color $blue-2

        //&:after
        //    margin-left: - em($carrot-height - 1)
        //    border-top-color: $white
    
    .bottom .carrot
        &:before,
        &:after
            bottom 100%
            left 50%

        &:before
            margin-left - em($carrot-height)
            border-bottom-color $blue-2

        //&:after
        //    margin-left: - em($carrot-height - 1)
        //    border-bottom-color: $white
    
    .right .carrot
        &:before,
        &:after
            right 100%
            top 50%

        &:before
            margin-top: - em($carrot-height)
            border-right-color: $blue-2

        //&:after
        //    margin-top: - em($carrot-height - 1)
        //    border-right-color: $white
    
    .left .carrot
        &:before,
        &:after
            left 100%
            top 50%

        &:before
            margin-top: - em($carrot-height)
            border-left-color: $blue-2

        //&:after
        //    margin-top: - em($carrot-height - 1)
        //    border-left-color: $white


