ng-form.Display-Settings.form-A
    ul.list
        label.item.item-input.item-select
            span.input-label(i18n="settings.DISPLAY_LANGUAGE")
            settings-display-languages.select(data-current="vars.clone")


        label.item.item-input.item-select
            span.input-label(i18n="settings.TIME_ZONE")
            settings-time-zone.select(data-current="vars.clone.timeZone")

    ul.list
        legend(i18n="settings.UNITS")
        label.item.item-input.item-radio
            input(
                type="radio"
                ng-model="vars.clone.unit"
                value="1"
            )
            span.item-content
                strong(i18n="settings.METRIC")
                =' ('
                span(i18n="settings.KM_M")
                =')'
            i.radio-icon.ion-checkmark

        label.item.item-input.item-radio
            input(
                type="radio"
                ng-model="vars.clone.unit"
                value="2"
            )
            span.item-content
                strong(i18n="settings.IMPERIAL")
                =' ('
                span(i18n="settings.MILES_FT")
                =')'
            i.radio-icon.ion-checkmark

    ul.list
        legend(i18n="settings.DATE")
        label.item.item-input.item-radio
            input(
                type="radio"
                ng-model="vars.clone.formats.date"
                value="1"
            )
            span.item-content(i18n="common.DATE-SHORT_1")
            i.radio-icon.ion-checkmark
        label.item.item-input.item-radio
            input(
                type="radio"
                ng-model="vars.clone.formats.date"
                value="2"
            )
            span.item-content(i18n="common.DATE-SHORT_2")
            i.radio-icon.ion-checkmark
        label.item.item-input.item-radio
            input(
                type="radio"
                ng-model="vars.clone.formats.date"
                value="3"
            )
            span.item-content(i18n="common.DATE-SHORT_3")
            i.radio-icon.ion-checkmark


    ul.list
        legend(i18n="settings.TIME")
        label.item.item-input.item-radio
            input(
                type="radio"
                ng-model="vars.clone.formats.hours"
                value="2"
            )
            span.item-content(i18n="settings.12_HOUR")
            i.radio-icon.ion-checkmark

        label.item.item-input.item-radio
            input(
                type="radio"
                ng-model="vars.clone.formats.hours"
                value="1"
            )
            span.item-content(i18n="settings.24_HOUR")
            i.radio-icon.ion-checkmark

    .row
        button.save-btn.fat.col.col-100(
            i18n="common.SAVE"
            ng-click="vars.save()"
        )