view-title Signup

auth-modal-message(
    ng-if="::Authenticate.$state.params.message"
    data-message="vars.message"
)

.buttons
    .quick.button-section.signup
        span.plain.space-right(i18n="auth.SIGN_UP_WITH")

        a.btn-facebook(
            ng-click="Authenticate.action('connect', 'facebook')"
            analytics-on="click"
            analytics-category="acquisition"
            analytics-event="click"
            analytics-label="signup attempt: Facebook"
        )

        a.btn-linkedin(
            ng-click="Authenticate.action('connect', 'linkedin')"
            analytics-on="click"
            analytics-category="acquisition"
            analytics-event="click"
            analytics-label="signup attempt: Linkedin"
        )

        a.btn-google(
            ng-click="Authenticate.action('connect', 'google')"
            analytics-on="click"
            analytics-category="acquisition"
            analytics-event="click"
            analytics-label="signup attempt: Google"
        )

.modal-divider
    .text(i18n="common.OR")

form.signup.styled.default-form.auth-form(
    ng-submit="Authenticate.signup(Authenticate.user)"
    name="register"
)
    .popover-msg(popover-msg)
        .pop.error(
            data-pos="top"
            ng-messages="register.firstName.$error"
            ng-if="(register.$submitted || register.firstName.$touched) && register.firstName.$invalid"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-REQUIRED")
            span.form-error(ng-message="minlength")
                span(i18n="auth.ERROR-MIN_LEN", data-number="2")
        input.field(
            type="text"
            data-i18n-attr="{placeholder: 'auth.FIRST_NAME'}"
            name="firstName"
            ng-model="Authenticate.user.firstName"
            ng-minlength="2"
            required=""
        )

    .popover-msg(popover-msg)
        .pop.error(
            data-pos="top"
            ng-messages="register.lastName.$error"
            ng-if="(register.$submitted || register.lastName.$touched) && register.lastName.$invalid"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-REQUIRED")
            span.form-error(ng-message="minlength")
                span(i18n="auth.ERROR-MIN_LEN", data-number="2")
        input.field(
            type="text"
            data-i18n-attr="{placeholder: 'auth.LAST_NAME'}"
            name="lastName"
            ng-model="Authenticate.user.lastName"
            ng-minlength="2"
            required=""
        )

    .popover-msg(popover-msg)
        .pop.error(
            data-pos="top"
            ng-messages="register.email.$error"
            ng-if="(register.$submitted || register.email.$touched) && register.email.$invalid"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-EMAIL_REQUIRED")
            span.form-error(ng-message="pattern")
                span(i18n="auth.ERROR-INVALID_EMAIL")
            span.form-error(ng-message="emailAvailable")
                span(i18n="auth.ERROR-EMAIL_IN_USE")
        .pop.info(
            data-pos="top"
            ng-if="(register.email.$viewValue && register.email.$touched) && register.email.$pending"
        )
            span.form-update(
                i18n="auth.VERIFYING_EMAIL_UNUSED"
            )
        input.field(
            type="text"
            data-i18n-attr="{placeholder: 'auth.YOUR_EMAIL'}"
            name="email"
            ng-model="Authenticate.user.email"
            ng-min="7"
            required=""
            email-available-validator
            ng-pattern="$root.global.regex.email"
        )

    .popover-msg(popover-msg)
        .pop.error(
            data-pos="top"
            ng-messages="register.password.$error"
            ng-if="(register.$submitted || register.password.$touched) && register.password.$invalid"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-REQUIRED")
            span.form-error(ng-message="passwordStrength")
                span(i18n="auth.ERROR-PASSWORD_TOO_SHORT")

        .pop.on-focus(
            data-pos="top"
        )
            span(i18n="auth.PASSWORD_STRENGTH")
            .password-meter(
                ng-class="vars.passwordStrength"
                password-meter="vars.passwordComplexity"
            )

        input#passResetInput.field(
            type="password"
            data-i18n-attr="{placeholder: 'auth.NEW_PASSWORD'}"
            name="password"
            ng-model="Authenticate.user.password"
            password-strength-validator="vars.passwordStrength"
            password-complexity="vars.passwordComplexity"
            required=""
        )

    .popover-msg(popover-msg)
        .pop.error(
            data-pos="top"
            ng-messages="register.confirmPassword.$error"
            ng-if="(register.$submitted || register.confirmPassword.$touched) && register.confirmPassword.$invalid"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-REQUIRED")
            span.form-error(ng-message="mustMatch")
                span(i18n="auth.ERROR-PASSWORD_MUST_MATCH")

        input#passResetConfirm.field(
            type="password"
            data-i18n-attr="{placeholder: 'auth.CONFIRM_PASSWORD'}"
            name="confirmPassword"
            ng-model="vars.confirmPassword"
            must-match-validator="Authenticate.user.password"
            must-match-strict="true"
            required=""
        )

    button.btn-blue.fat(
        type="submit"
        analytics-on="click"
        analytics-category="acquisition"
        analytics-event="submit"
        analytics-label="signup attempt: Email"
        ng-disabled="register.$invalid"
        i18n="common.SIGNUP_VERB"
    )

.modal-divider

.line
    span.space-right.plain(i18n="auth.ALREADY_ACCOUNT")
    a.reverse-link(
        i18n="common.LOGIN_VERB"
        ng-click="Authenticate.changeView('login')"
        analytics-on="click"
        analytics-category="acquisition"
        analytics-event="click"
        analytics-label="signup page: already have an account"
    )