.email-pass-reset
    div(ng-if="!Authenticate.passwordResetSent")
        h2.head(i18n="auth.RESET_PASSWORD")

        p.copy(i18n="auth.RESET_PASSWORD_TEXT")

        form.default-form.styled(
            ng-submit="reset.clicked = true; Authenticate.passwordReset(vars.email)"
            name="reset"
        )

            .popover-msg.nom(popover-msg)
                .pop.error(
                    data-pos="top"
                    ng-messages="reset.email.$error"
                    ng-if="(reset.$submitted || reset.email.$touched) && reset.email.$invalid"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-EMAIL_REQUIRED")
                    span.form-error(ng-message="pattern")
                        span(i18n="auth.ERROR-INVALID_EMAIL")

                input.input.field(
                    type="text"
                    data-i18n-attr="{placeholder: 'auth.YOUR_EMAIL'}"
                    name="email"
                    ng-model="vars.email"
                    ng-min="7"
                    required=""
                    ng-pattern="vars.EMAIL_REGEXP"
                )

            .modal-divider

            .line
                input.submit(
                    type="submit"
                    ng-disabled="reset.$invalid || reset.clicked"
                    data-i18n-attr="{value: 'auth.RESET_PASSWORD'}"
                )

            .line
                .btn-cancel.cancel(
                    i18n="common.CANCEL"
                    ng-click="window.deactivate()"
                )

    div(ng-if="Authenticate.passwordResetSent")
        h2.head(i18n="auth.RESET_PASSWORD_SENT")

        img.illst(src="/images/email/email-sent.svg")

        .modal-divider

        .btn-green.fluffy(
            ng-click="Authenticate.passwordResetSent = false"
            ui-sref="account.auth({ page: 'login' })"
            i18n="common.GOT_IT"
        )
