blank-modal.auth-modal(
    ng-class="::window.class"
    data-disable-close="{{::vars.dedicated}}"
)
        .modal-content.margin(ng-controller="AuthenticateModalCtrl as Authenticate")
            .cont(ng-if="vars.view == 'signup'")
                include ./signupTemplate.jade

            .cont(ng-if="vars.view == 'email-signup'")
                include ./emailSignupTemplate.jade

            .cont(ng-if="vars.view == 'login'")
                include ./loginTemplate.jade

            .cont(ng-if="vars.view == 'password-reset'")
                include ./passwordResetTemplate
