.map-container(data-tap-disabled="true")
    ui-gmap-google-map(
        data-center='map.center'
        data-zoom='map.zoom'
        data-draggable='true'
        data-dragging='map.dragging'
        data-bounds='map.bounds'
        data-events='map.events'
        data-options='map.options'
        data-pan='true'
        control='map.control'
    )
        ui-gmap-markers(
            data-models="Map.currentSet.markers"
            data-icon="'icon'"
            data-coords="'coords'"
            data-events="Map.currentSet.events"
            data-fit="map.fitMap"
            control="map.markerControl"
        )

        ui-gmap-circle(
            ng-if="Map.currentSet.circle"
            data-center="Map.currentSet.circle.center"
            data-radius="Map.currentSet.circle.radius"
            data-stroke="Map.currentSet.circle.stroke"
            data-fill="Map.currentSet.circle.fill"
            data-draggable="Map.currentSet.circle.draggable"
            data-clickable="Map.currentSet.circle.clickable"
            data-editable="Map.currentSet.circle.editable"
            data-geodesic="Map.currentSet.circle.geodesic"
            data-events="Map.currentSet.circle.events"
        )

        ui-gmap-map-control(
            data-template="views/map/controls/locate.html"
            data-position="top-left"
            data-index="-1"
            data-controller="mapControlCtrl"
        )

        ui-gmap-map-control(
            data-template="views/map/controls/zoom.html"
            data-position="right-bottom"
            data-index="-2"
            data-controller="mapControlCtrl"
        )

        ui-gmap-map-control(
            data-template="views/map/controls/moveSearch.html"
            data-position="bottom-center"
            data-index="-1"
            data-controller="mapControlCtrl"
        )
