$dashboard-map-height = 35

ui-gmap-google-map
    display block

ui-gmap-google-map,
.angular-google-map,
.angular-google-map-container
    @extends _full-fit

// !FIX-CALC
.map-container
    display inline-block
    vertical-align top
    width 100%
    height unit($dashboard-map-height, vh)
    margin-top em($nav-height)
    border-bottom 1px solid $blue-3

    +media('iphone-xs')
        height em(150) // for iphones that don't support v-units

    .window-container
        .lh
            line-height 1.5em

ion-content.pane-content
    top 2px !important
    height calc('' + (100 - $dashboard-map-height) + 'vh - ' + em($nav-height * 2))

    .platform-ios &
        height calc('' + (100 - $dashboard-map-height) + 'vh - ' + em($nav-height * 2 + $iphone-offset))

.subheader-visible.bar-dark:not(.hidden) + ion-nav-view
    // If the same color as the main nav, then overlap their shared padding
    .map-container
        margin-top em($nav-sub-same-bg-height)

    ion-content.pane-content
        height calc('' + (100 - $dashboard-map-height) + 'vh - ' + em($nav-sub-same-bg-height + $footer-height))

    .platform-ios &
        height calc('' + (100 - $dashboard-map-height) + 'vh - ' + em($nav-sub-same-bg-height + $footer-height + $iphone-offset))

.map-pane
    position relative

.map-control
    position relative

    .control-button
        display block
        padding em(8) em(8) em(7)
        background $white
        margin em(8)
        color $blue-2
        box-shadow 0 0 5px 0 rgba($blue-3, .65)
        cursor pointer
        
        &:active
            background $cyan
            color $white
    
    :before
        margin 0

    &.plus-minus
        :before
            font-size 16px
            line-height em(18, 16)
            width em(18, 16)
            
    &.locate
        :before
            font-size 18px
            line-height em(18, 18)
            width em(18, 18)
    
    &.move-search
        font-size 12px
        left 50% !important
        transform translateX(-50%)
        margin-bottom em(14, 12)

        .control-button
            margin 0
            padding .65em
            font-weight bold
            border 1px solid $cyan

.window
    $carrot-height = 13
    font 14px \/ 1.2em $font-regular-val

    /*a*/.close-window
        position absolute
        right .5em
        top .5em
        cursor pointer

        &:before
            margin 0
    
    .window-container
        background $white
        border 1px solid $cyan
        border-radius .25em
        width em($map-marker-window-width)
        padding 1em
        opacity 0
        transition opacity 250ms ease-out
        
        &:before,
        &:after
            content ' '
            top 99%
            left 50%
            position absolute
            width 0
            height 0
            border solid transparent
            pointer-events: none

        &:before
            border-color rgba(4, 48, 74, 0)
            border-top-color $cyan
            border-width em($carrot-height)
            margin-left - em($carrot-height)

        &:after
            border-color: rgba(255, 255, 255, 0)
            border-top-color: $white
            border-width: em($carrot-height - 1)
            margin-left: - em($carrot-height - 1)

        &.appear
            opacity .9
    