.skill-select.default-form.styled
    .css-select
        select(
            ng-model="source.level"
            name="{{::name}}"
            ng-options="level.id as level.display for (id, level) in vars.levels"
        )
            option(
                ng-if="::vars.showDefault"
                value=''
                i18n="profile.SELECT_LEVEL"
            )

        div(class="icon-skill-{{source.level}}")