.Footer
    background $blue-3
    color $white
    position relative
    z-index 3

    /////////////////////
    ////// $CLASSES /////
    /////////////////////
    a
        color $cyan

    .f-link
        display inline-block
        margin .25em .5em

    /////////////////////
    ///// $STRUCTURE ////
    /////////////////////
    .nav-logo
        margin em(10) 0 em(5)

    /*h4*/.find-us
        font-family $font-bold-val
        margin 0 .5em em(12)
        color $light-blue-2

    .social-buns
        text-align center
    
    /*social-media-bar */.share-btn
        padding em(8)
        border 1px solid $blue-2
        border-radius .25em
        margin .5em
        transition color 200ms ease-in

        &:before
            margin 0

        &.activated
            color $white
            border-color $white


    .copyright
        margin-top 1em
        $font-bold(15, null, 30)
        color lighten($blue-2, 15%)

    /////////////////////
    /////// $MISC ///////
    /////////////////////
    .splash-signup
        margin-bottom 2em

    .landing-cta
        font-family $font-bold-val !important

.nav-subfoot
    bottom em($bar-height)
    display none
    background none
    padding 0

    &.subfooter-visible
        display block

    ///*
    // * If the same color as the main nav, then overlap their shared padding
    // */
    //&.bar-dark
    //    top em($nav-height - $bar-padding-portrait)

@require 'directives/blog/Style'
