- var curYear = (new Date()).getFullYear();

.Footer.container-fluid
    .content(ng-transclude)

    .center.padding
        a.f-link(
            ui-sref="standalone.privacyPolicy"
            i18n="standalone.PAGES-PRIVACY_POLICY"
        )
        a.f-link(
            ui-sref="standalone.termsService"
            i18n="standalone.PAGES-TERMS_SERVICE"
        )
        a.f-link(
            ui-sref="standalone.about"
            i18n="standalone.PAGES-ABOUT"
        )
        a.f-link(
            ui-sref="standalone.translator"
            i18n="standalone.PAGES-TRANSLATOR"
        )
        a.f-link(
            ui-sref="standalone.feedback"
            i18n="standalone.SEND_FEEDBACK"
        )

    .row.center
        h5.copyright.col.col-100 &#169; Chatterplot #{curYear}