.ppl-dsplay
    $single-width = 150
    $spacing = $default-padding * 2
    $borders = 1 * 2
    $padding = $default-padding

    min-height em(170)

    &.is-empty
        .transclude
            display block

    &.is-loading
        .transclude
            display none

        .loading
            display block

    .loading
        display none
        z-index 2
        @extends .il-loader-wrapper


    .transclude
        display none

    .box
        width em((2 * ($single-width + $spacing)) + $spacing + $borders)
        margin-bottom 12em

    .ppl-wrap
        padding em($default-padding)

    /*.loading span*/.load-txt
        @extends .h3

    /*article*/.person
        max-width em(150 + ($padding * 2))
        position relative
        padding em($padding)

        &.activated
            .hover-details
                display block

    /*.person a*/.profile-link
        display block

    /*.profile-link avatar*/.picture
        margin-bottom em(7.5)

    /*.person h3*/.name-display
        overflow ellipsis

    .hover-details
        $width = 300
        display none
        position absolute
        top em(150)
        left 50%
        margin-left em($width / -2)
        width em($width)
        border-radius em(3)
        z-index 1
        @extends _modal-shadow

        &:after
            border-bottom-color $green