.Tandem.Regular.List.Display(
    id="{{::vars.ownID}}"
)
    //- What to show when there's no data
    //- Will have a zero-data-directive appended to it
    .no-activities(ng-show="!vars.items.length && !vars.searching")

    .loader(ng-show="vars.searching")
        div(inline-loader="true")

    ul.user-list(ng-show="vars.items.length")
        li(
            class="Listing can-hilite"
            ng-repeat="Person in vars.items track by Person.userID"
            ng-class="{'active': Person.state.active}"
            id="peopleRow-{{::Person.userID || $index}}"
        )
            .cp-ad(
                ng-if="::Person.isAd"
                ng-include="::Person.template"
            )

            activity-listing(
                ng-if="::!Person.isAd"
                data-type="people"
                data-data="Person"
                data-listing="true"
                data-handler="tandems"
            )
                    

    .load-more(
        ng-click="vars.loadMore()"
        ng-if="vars.showLoadMore && vars.items.length && !vars.searching"
        analytics-on="click"
        analytics-category="search"
        analytics-event="click"
        analytics-label="tandem: load more"
    )
        .load-bar
            span.h3.load-text(i18n="activities.LOAD_MORE")
