.section-interests
    @extends _profile_column

    &.active-edit
        /*p*/.display-copy
            display none

        /*textarea*/.display-field
            display block

    /*p*/.display-field
        display none

    /*h4*/.small-head.q-title
        $font-bold(14, null, 16)
        margin-bottom .65em

    .single
        margin-bottom 1.5em

    /*.single textarea*/.input
        margin-bottom .5em

        &:disabled
            border none
            margin 0
            padding 0

    .text-btn
        color $blue-2-50op
        font-family $font-title-val
        cursor pointer

        &.activated
            text-decoration underline

        :before
            margin 0 0 0 .5em

