section.Profile-sec.inner-wrap.section-interests(ng-class="{'active-edit': vars.activeEdit}")
    .body-type
        h3.sec-title
            span(i18n="profile.QUESTIONS")
            .edit-link(
                ng-click="vars.activeEdit = !vars.activeEdit"
                i18n="profile.EDIT"
            )

        form.edit.default-form.styled(
            name="interest"
            delegate=".delete | vars.deleteRow(topic)"
        )
            .questions
                .single(ng-repeat="topic in vars.clone")
                    h4.small-head.q-title(ng-bind="::vars.options[topic.question]")

                    .popover-msg(popover-msg)
                        .pop.error(
                            data-pos="top"
                            ng-messages="interest[topic.question].$error"
                            ng-if="(interest.$submitted || interest[topic.question].$touched) && interest[topic.question].$invalid"
                        )
                            span.form-error(ng-message="required")
                                span(i18n="auth.ERROR-REQUIRED")
                            span.form-error(ng-message="minlength")
                                span(i18n="auth.ERROR-MIN_LEN", data-number="10")

                        p.field.display-copy(ng-bind="topic.answer")
                        textarea.input.field.display-field(
                            name="{{::topic.question}}"
                            data-i18n-attr="{'placeholder': 'misc.BEST_ANSWER_Q'}"
                            ng-model="topic.answer"
                            required
                        )

                    .delete-row.if-edit
                        .text-btn.delete
                            span(i18n="common.DELETE")
                            span.icon-cancel-big

            .css-select.if-edit(ng-show="!vars.maxQuestions && interest.$valid")
                select(
                    ng-model="vars.newQuestion"
                    ng-options="key as question for (key, question) in vars.availableOptions"
                )
                    option(
                        value=''
                        i18n="profile.ANSWER_QUESTION"
                    )
                .icon

            .save-button-row.plump.if-edit
                button.btn-cancel(
                    i18n="common.CANCEL"
                    ng-click="vars.activeEdit = false"
                )
                button.btn-blue(
                    i18n="common.SAVE"
                    ng-click="vars.save()"
                    ng-disabled="!interest.$valid && !interest.$touched"
                )
