.settings-time-zone
    select(
        ng-model="vars.current"
        ng-change="current = vars.current.offset"
        ng-options="zone as zone.display for zone in vars.timeZones track by zone.offset"
    )