ion-view
    ion-content
        .padding
            h1.h2(i18n="standalone.FEEDBACK-TITLE")


        form.list.form-A(
            name="feedback"
            ng-controller="FeedbackCtrl"
        )
            label.item.item-input.item-select
                .input-label(i18n="standalone.CONTACT-CATEGORY")
                select(
                    ng-model="message.category"
                    name="category"
                    required
                )
                    option(
                        ng-repeat="(index, what) in ::categoryOptions"
                        i18n="standalone.{{::what.key}}"
                        value="{{::what.value}}"
                    )

            label.item.item-input.item-floating-label
                span.input-label(i18n="standalone.CONTACT-SUBJECT")
                .popover-msg.nom
                    .pop.error(
                        data-pos="top"
                        ng-messages="subject.$error"
                        ng-if="(feedback.$submitted || feedback.subject.$touched) && (feedback.subject.$invalid || feedback.subject.$invalid == undefined)"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-REQUIRED")
                    input(
                        type="text"
                        ng-model="message.subject"
                        data-i18n-attr="{placeholder: 'standalone.PLACEHOLDER-FEEDBACK_SUBJECT'}"
                        name="subject"
                        required
                    )

            label.item.item-input.item-floating-label
                span.input-label(i18n="standalone.CONTACT-DETAILS")
                .popover-msg.nom
                    .pop.error(
                        data-pos="top"
                        ng-messages="feedback.details.$error"
                        ng-if="(feedback.$submitted || feedback.details.$touched) && (feedback.details.$invalid || feedback.details.$invalid == undefined)"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-REQUIRED")
                        span.form-error(ng-message="min-length")
                            span(i18n="updates.ERROR-ATLEAST_10")
                    textarea.tall.full(
                        ng-model="message.details"
                        data-i18n-attr="{placeholder: 'standalone.PLACEHOLDER-FEEDBACK_DETAILS'}"
                        name="details"
                        min-length="10"
                        required
                    )

            label.item.item-input.item-floating-label
                span.input-label(i18n="standalone.CONTACT-NAME")
                .popover-msg.nom
                    .pop.error(
                        data-pos="top"
                        ng-messages="subject.$error"
                        ng-if="(feedback.$submitted || feedback.subject.$touched) && (feedback.subject.$invalid || feedback.subject.$invalid == undefined)"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-REQUIRED")
                    input(
                        type="text"
                        ng-model="message.name"
                        data-i18n-attr="{placeholder: 'standalone.CONTACT-NAME'}"
                        name="name"
                        required
                    )

            label.item.item-input.item-floating-label
                span.input-label(i18n="auth.YOUR_EMAIL")
                .popover-msg.nom.inline-field
                    .pop.error(
                        data-pos="top"
                        ng-messages="feedback.email.$error"
                        ng-if="(feedback.$submitted || feedback.email.$touched) && feedback.email.$invalid"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-EMAIL_REQUIRED")
                        span.form-error(ng-message="pattern")
                            span(i18n="auth.ERROR-INVALID_EMAIL")

                    input.field(
                        type="text"
                        data-i18n-attr="{placeholder: 'auth.YOUR_EMAIL'}"
                        name="email"
                        ng-model="message.email"
                        ng-disabled="::userSet"
                        ng-min="7"
                        required=""
                        ng-pattern="$root.global.regex.email"
                    )

            .small-space-chunk

            .row.fat

                button.btn-yellow.col.col-100(
                    type="submit"
                    i18n="standalone.SEND_FEEDBACK"
                    ng-disabled="feedback.$invalid || vars.sent"
                    ng-click="send()"
                )

            .mid-space-chunk
