.il-loader-wrapper
    absolute top left
    width 100%
    height 100%
    background $light-blue-1

.il-loader
    width em(130)
    height em(130)
    margin auto
    text-align center
    position relative
    top 50%
    transform translateY(-50%)
    border-radius 50%
    background $white
    box-shadow -1px 3px 7px .05px rgba(4,48,74,0.25)

    @keyframes Shadow
        0%
            transform scale(1, .97)
            opacity .20

        100%
            transform scale(.88, .93)
            opacity .22


    @keyframes Floater
        0%
            transform translateY(-65%)
        100%
            transform translateY(-17%)

    .tbox
        $font-title(15)
        bottom 10%
        width 100%
        position absolute
        color $cyan

    .ldr
        position relative
        top em(36)
        width 100%
        transform translateY(-50%)
        animation Floater 700ms infinite
        animation-timing-function ease-in-out
        animation-direction alternate

    /*.loader img*/.lgo
        margin auto
        width em(40)
        height em(30)

    .oval
        animation Shadow 700ms infinite
        animation-timing-function ease-in-out
        animation-direction alternate
        position relative
        margin 0 auto
        top em(40)
        width em(40)
        height em(8)
        background $gray
        border-radius 50%
