.il-loader
    .ldr
        img.lgo(
            src="/images/misc/LogoLoader.svg"
            alt="logo"
            width="40"
            height="30"
        )
    .oval
    p.tbox(i18n="common.LOADING")

