.Zero.default
    text-align center
    padding 1em

    /*h2/3*/.cta-head
        $font-title(18, null, 29)
        margin-bottom em(15, 18)
        text-align center

        a
            color $blue-3
            text-decoration underline
            cursor pointer

            &.activated
                color $cyan

    .sub-head
        $font-bold(15)
        margin 0 0 em(15)

    .lheight
        line-height 1.5em

    /*ul*/.options-list
        margin 0 auto em(40)


    /*.choices */.choice
        width 50%

    /*.choice img*/.illo
        margin 0 auto em(15)
        width em(230)

.Zero.split
    .copy
        margin 0 auto 1.5em

    .choices
        margin 0 auto

    /*.choices */.choice
        text-align center
        @extends .middle-align

        img
            @extends .middle-align

    /* one item */
    .choice:first-child:nth-last-child(1)
        width: 80%

    /* two items */
    .choice:first-child:nth-last-child(2),
    .choice:first-child:nth-last-child(2) ~ .choice
        width: 50%

        &:first-child
            padding-right em(5)

    .choice:nth-child(2)
        img
            width 62%
            margin 15px 25% 20px

    .cta-button
        margin 0
