.autocomplete-box
    position relative
    color $blue-2

    .input-language
        width 100%

.autocomplete-box,
.single-lang
    &[class*="icon-"]
        position relative

        &:before
            @extends _icon-input

        .term-editor
            padding-left 1.5em

        .term:first-child
            margin-left 1.5em
