article.listing-event
    .inner-wrap
        .publish-row(ng-if="!Activity.published && Activity.imHosting")
            .inner-wrap
                .arrow
                a.publish-event(
                    i18n="events.PUBLISH"
                    ng-click="Event.publish(this, Activity)"
                    analytics-on="click"
                    analytics-category="events"
                    analytics-event="click"
                    analytics-label="event results: publish event"
                )
                tooltip.tip.light(
                    data-text="events.TT-UNPUBLISHED"
                    data-pos="top"
                )

        header.head.pane-layout-photo
            .title-row.event-name
                a.title-link(
                    ui-sref="{{::Activity.uiSref}}"
                    title=""
                    analytics-on="click"
                    analytics-category="events"
                    analytics-event="click"
                    analytics-label="event results: title: click into standalone event"
                    analytics-value="{{::Activity.eID}}"
                )
                    h2.activity-title(ng-bind="::Activity.name")

            .inner-head
                .photo-sec(
                    ui-sref="{{::Activity.uiSref}}"
                    title=""
                    analytics-on="click"
                    analytics-category="events"
                    analytics-event="click"
                    analytics-label="event results: picture: click into standalone event"
                    analytics-value="{{::Activity.eID}}"
                )
                    a.photo(
                        cloud-img="{{::Activity.eID}}"
                        data-type="events"
                        data-opts="{width:150, height:150, scale:true}"
                        data-value="{{::Activity.hasPhoto}}"
                        data-default="/images/misc/event-placeholder.svg"
                    )
                        .photo-hangers
                            .hanger.when
                                strong.date(ng-bind="::Activity.date")
                                =' '
                                strong.time(
                                    ng-bind="::Activity.time"
                                    ng-if="::Activity.indexType != 'listing'"
                                )
        
                .detail-wrap.content-sec
                    .line.languages
                        cefr-levels.inline-middle(data-source="Activity.levels")

                        languages.inline-middle(
                            data-source="Activity.languages || Activity.language"
                            data-which="name"
                        )

                    .line.sub-detail
                        .icon.icon-location
                        //- Hidden location
                        a.center-location.text(
                            ng-if="Activity.venue.hidden && (!Activity.imAttending || !Activity.imHosting)"
                            i18n="events.HIDDEN_LOCATION"
                            ng-click="Map.centerHidden(Activity.eID, 'search', 15)"
                            analytics-on="click"
                            analytics-category="events"
                            analytics-event="click"
                            analytics-label="event results: show map location"
                            analytics-value="{{::Activity.eID}}"
                        )

                        //- Visible location
                        a.center-location.text(
                            ng-if="!Activity.venue.hidden || Activity.imAttending || Activity.imHosting"
                            rel="v:location"
                            ng-click="Map.centerMap(Activity.venue.coords, 15)"
                            analytics-on="click"
                            analytics-category="events"
                            analytics-event="click"
                            analytics-label="event results: show map location"
                            analytics-value="{{::Activity.eID}}"
                        )
                            h3.sub-detail.strong.location(
                                ng-if="::Activity.displayLocation"
                                ng-bind="::Activity.displayLocation"
                            )
                            =' '
                            span.address
                                span(ng-bind="::Activity.formattedAddress")

                    .line.sub-detail
                        .icon.icon-money
                        money-display.text(
                            data-price-string="{{::Activity.priceString}}"
                            data-if-none="events.FREE_PRICE"
                            data-if-translate="viewReg:events.REVIEW_REG_INFO"
                        )

        .row.button-row.fat
            .going-count.col.col-50.col-center(ng-if="Activity.published && Activity.goingCount")
                people-going.icon-person(
                    data-count="Activity.goingCount"
                )

            //- Not hosting
            //- Attend / Waitlist / Edit
            a.attendance.col.col-50(
                ng-if="!Activity.imHosting"
                ui-sref="{{::Activity.uiSref}}"
                title=""
            )
                span.float.btn-blue(
                    i18n="activities.IM_GOING"
                    ng-if="Activity.imAttending"
                    analytics-on="click"
                    analytics-category="events"
                    analytics-event="click"
                    analytics-label="event i'm attending: go to event"
                    analytics-value="{{::Activity.eID}}"
                )

                span.float.btn-red(
                    i18n="activities.IM_WAITING"
                    ng-if="Activity.imWaiting"
                    analytics-on="click"
                    analytics-category="events"
                    analytics-event="click"
                    analytics-label="event i'm attending: go to event"
                    analytics-value="{{::Activity.eID}}"
                )

                span.btn-yellow.hover-show.fluffy(
                    i18n="events.VIEW"
                    ng-if="!Activity.imAttending && !Activity.imWaiting"
                    analytics-on="click"
                    analytics-category="events"
                    analytics-event="click"
                    analytics-label="event results: view btn: click into standalone event"
                    analytics-value="{{::Activity.eID}}"
                )

            //- Is hosting
            //a.btn-white.edit-event.hover-show.icon-pencil.fluffy(
            //    title=''
            //    i18n="events.EDIT"
            //    ui-sref="map.dashboard.eventCreate({ eID: Activity.eID, type: Activity.indexType })"
            //    ng-if="Activity.imHosting"
            //    analytics-on="click"
            //    analytics-category="events"
            //    analytics-event="click"
            //    analytics-label="event results: edit event"
            //    analytics-value="{{::Activity.eID}}"
            //)
