.person-details
    header.top-tails
        .half-left
            h3.display-name.bold(ng-bind="::user.fullName")

            //- age/location will get appended here manually in the directive
            .display-row
        .half-right
            user-favorite.fave-button(
                data-target="{{::user.userID}}"
                data-category="{{::category}}"
            )

    .lang-tails
        div(ng-if="::user.languages.length")
            div.space-bot
                languages(
                    data-source="user.languages"
                )
            div
                languages.bold.grey(
                    data-source="user.languages"
                    data-which="learning"
                )
                    span.middle-align.bold.grey.learning(i18n="profile.LEARNING")

        span(
            ng-if="::!user.languages.length"
            i18n="profile.NO_LANGS_SET"
        )