#yapBar.yap-bar
    .inner
        .yap-animation.yap-message(
            ng-repeat="(index, message) in messages"
            ng-class="{ 'show': message.show }"
            class="yap-{{message.type}}"
            ng-click="doeth.close(index, message.disableClick)"
        )
            a.icon-cancel.close-box(ng-click="doeth.close(index)")
            .message-icon
                h4.title(ng-bind-html="message.title")
                p.body(ng-bind-html="message.body")