.Msg
    $bald-grau = #8597A1
    $head-height = 50

    ////////////////////////
    ////    $Classes   /////
    ////////////////////////
    /*strong*/.bld
        font-family $font-bold-val

    /*h4*/.user-name
        @extends .middle-align
        $font-bold(14)

    /*h4*/.user-name,
    /*p*/.snippet
        margin 0

    /*a*/.styled-link
        .user-name
            color inherit

    /*span*/.when
        color $blue-2-50op
        $font-regular(12, null, 18)
        float right
        text-transform capitalize

        &.larger
            font-size em(14)

    /*p*/.snippet
        color $blue-2-50op
        $font-regular(14)
        overflow ellipsis

    /////////////////////////
    ////   $Structure   /////
    /////////////////////////

    /*ul*/.convo-list
        background $very-light-gray
        width 100%

        .sec-head
            border-right 1px solid $cyan

    /*.convo-list li*/.empty-convos
        text-align center
        padding 7em 3em
        font-family $font-bold-val

    /*.convo-list li*/.single
        border-bottom 1px solid $bald-grau
        border-right 1px solid $cyan

        &.unread
            background $light-blue-2

    /*.single a*/.link-single
        display block
        box-sizing border-box
        padding em(10) em(10) em(10) em(5)
        border-left em(4) solid $very-light-gray

        &.active
            margin-right -1px
            border-left em(4) solid $cyan
            background $white

    /*.link-singl */.top-strip
        margin-bottom em(7)


    /*.link-single avatar*/.photo,
    /*.link-single */.info
        @extends .top-align

    /*.single */.info
        width 75%
        width calc('100% - ' + em($img-sq-thumb + $reduced-padding))
        margin-left em($reduced-padding)

    /*section*/.convo
        @extends .top-align

        //size unit($content-width / $max-width * 100, '%') 100%
        overflow-x hidden

    /*li a*/.load-more
        display block
        padding em(20) em(10)
        text-align center
        cursor pointer
        border-right 1px solid $cyan
        border-bottom 1px solid $cyan
        font-family $font-bold-val
        background $light-blue-2
