ion-view.Msg
    ion-content
        ul.convo-list
            li.empty-convos(
                ng-if="!Interaction.hasConversations()"
                i18n="notifications.NO_CONVOS"
            )

            li.single(
                ng-repeat="conversation in Interaction.sortConvos() track by conversation.updated"
                ng-init="person = Interaction.people[conversation.participants[0]]"
                ng-class="{'unread': Interaction.isUnread(conversation)}"
            )
                a.link-single(
                    ui-sref="pStandalone.messages.single({ msgID: conversation.msgID })"
                    ui-sref-active="active"
                )
                    avatar.photo(
                        data-user="person"
                        data-size="thumb"
                    )
                    .info
                        .top-strip.clear
                            h4.user-name(ng-bind="::person.fullName")

                            span.when(ng-bind="conversation.fromNow")

                        p.snippet(ng-bind="conversation.snippet")

            li
                a.load-more.icon-down-open(
                    ng-if="!vars.loadingMore && Interaction.showLoadMore()"
                    i18n="notifications.LOAD_OLD_CONVOS"
                    ng-click="Interaction.getConvos(true)"
                )
