article.v-listing.dummy
    .photo-wrap
        .v-photo.responsive-image
            span.gray-block(i18n="misc.EXAMPLE_NOUN")

    .content
        .inner-content
            header.venue-head
                h3.v-name
                h5.v-address

            footer.venue-foot
                div.rating-bar(
                    rating-bar="vars.rating"
                )

                a.reviews.reverse-link(
                    href="#"
                    i18n="misc.REVIEWS_NOM"
                )

                .middle-align.info-link
                    a.more-info.reverse-link(i18n="events.MORE_INFO")

