.Convo
    $me-bg = $light-blue-1
    $them-bg = $light-gray
    $side-padding = 60

    .small
        font-size .85em

    /*ion-content*/.msgs
        padding 1em 0
        margin-bottom em($nav-height)

    .message
        min-height em(40)
        margin-bottom em($reduced-padding)
        padding 0 em($default-padding)
        position relative

    /*.message*/.is-me
        padding-right em($side-padding)

        .photo
            right em(5)

        /*p*/.chat-text
            background $me-bg
            colorCond($me-bg)

            &:before
                right em(50)
                border-width em(7) 0 em(7) em(14)
                border-color transparent $me-bg transparent

    /*.message*/.is-them
        padding-left em($side-padding)

        .photo
            left em(5)

        /*p*/.chat-text
            background $them-bg
            colorCond($them-bg)

            &:before
                left em(50)
                border-width em(7) em(14) em(7) 0
                border-color transparent $them-bg transparent

    /*.message p*/.chat-text
        border-radius em(20)
        padding em(10)

        &:before
            position absolute
            top em(7)
            content ''
            border-style solid

    /*.chat-text .small*/.when
        color $gray
        text-align right

    /*.message avatar*/.photo
        @extends .top-align
        border-radius 50%
        overflow hidden
        absolute top

.foot-chat
    border-top 1px solid $light-blue-2
    background $white !important

    /*form*/.chat-form
        padding em(4) em(5) em(5)
        font-family $font-light-val

    /*textarea*/.write
        width 82.5% !important
        height 100%
        margin 0
        padding .65em

    /*button*/.write-submit
        width 15%
        height 100%
        margin 0 0 0 2.5%
        padding 0