ion-view.Convo
    ion-content.msgs
        .msg-wrap.scroller
            article(
                ng-repeat="message in messages track by message.timestamp"
                class="message is-{{::Single.isMe(message.from) && 'me' || 'them'}}"
            )
                p.chat-text
                    span.block.chat-copy(ng-bind-html="::message.parsed")
                    span.block.small.when(ng-bind="Single.whenFrom(message.timestamp)")

                avatar.photo(
                    data-user="people[message.from]"
                    data-size="footerNav"
                )

    page-subheader.center.foot-chat(data-emit-target="/nav/subfooter/change")
        script(type="text/ng-template")
            form.chat-form.height-100.default-form.fat(
                name="message"
                ng-submit="Single.sendMsg($event)"
            )
                textarea.write.middle-align(
                    cmd-enter
                    ng-model="Single.vars.message"
                    ng-keypress="Single.enterCheck($event)"
                    name="write"
                    required
                    data-i18n-attr="{placeholder: 'activities.TT-CHAT_WINDOW'}"
                )

                button.write-submit.middle-align.btn-blue(
                    ng-disabled="message.$invalid"
                )
                    i.icon.ion-android-send