.Landing
    background $white

    ////////////// $CLASSES
    .border-top
        border-top 1px solid $blue-3

    ////////////// $STRUCTURE
    /*.section*/.alt-bg
        background $light-blue-1

    .fb-like-container.bottom-splash
        absolute bottom
        left 50%
        transform translateX(-50%)

    .Activities.Search
        margin 0

        .content
            padding 1em 0 0

    .floating.fb-like-container
        text-align center
        margin 1em 0

    .splash-center
        text-align center

        .btn
            float none
            margin 0

    .footer-inline
        margin 0 auto em(35)

        .fb-like-container
            margin-top 2em

    .Footer
        .landing-cta
            color $white

.LS-defaults
    /*h2*/.sec-header
        @extends .h1
        color $blue-2

        +media('xs')
            font-size em(25)

    /*h3*/.titles
        @extends .h2

    /*p*/.body-copy
        font italic em(15) \/ 1.2em $font-italic-val
        color $blue-3

///////////////////////////
///// $Splash-Content /////
///////////////////////////

// 3rd Tier Slides
$slideLength = 4
$slideUnit = 1 / $slideLength

_splash-body-font
    $font-italic(15, null, 19.5)

.Splash-Content

    .out-container
        width 100%
        position relative
        padding 1.5em 0

    .in-container
        margin 2em auto
        width 90%
        max-width em(675)

    img
        margin 0 auto
        width 100%

    .fluid
        display block
        margin-left auto
        margin-right auto

    .display,
    .sm-display
        font-family $font-title-val
        margin-bottom .75em

    .h3
        font-size em(19)

    .intro
        background $white

        .illst
            width 85%
            margin-bottom em(20)

        .copy
            width 100%
            max-width em(405)

        .text
            @extends _splash-body-font

    .top-sec
        background $light-blue-1

        .in-container
            width 100%

    /*.top-sec */.sec
        $margin = 8
        $blocks = 3

        display block
        margin 3em auto
        padding-bottom 2em
        border-bottom 1px solid $light-blue-3
        width 90%
        text-align center

        &:first-child
            margin-top 0

        &:last-child
            padding-bottom 0
            border none
            margin-bottom 0

        /*.sec */.text
            margin-bottom 1em

        /*.sec */img
            margin 0 auto

        .illst
            width 80%
            margin 0 auto

        img
            width 80%

    .sec-link
        display block

    /*.top-sec */.arrow-divide
        width 8%
        text-align center
        display none

        &[data-index="1"]
            transform rotate(10deg)

        &[data-index="2"]
            transform rotate(-30deg)

    .slides
        background $white

        /*.slide */.copy
            margin-bottom em(25, 13)

        .text
            @extends _splash-body-font

        .illst
            width 85%
            margin-left auto
            margin-right auto

    /*.slides */.mask-hide
        width 100%
        overflow hidden

    /*.mask-hide */.mask-slider
        width $slideLength * 100%
        transition .5s ease-in transform

    for i in (1..$slideLength)
        /*.mask-slider*/.slide-{i}
            transform translateX(- unit((i * $slideUnit - $slideUnit) * 100, '%'))

    /*.mask-slider */.slide
        display inline-block
        vertical-align middle
        width unit(100 / $slideLength, '%')

    .tutors
        padding em(20) 0
        text-align center
        color $blue-2
        background $light-blue-1

        /*p*/.text
            font 1em / 1.4em $font-bold-val

@import 'sections/how-it-works/Style'
@import 'sections/regions/Style'
@import 'sections/video/Style'
@import 'sections/splash/Style'

@import 'directives/addYourself/Style'
