ion-view.Landing
    view-title meta.MLP_TITLE

    meta(view-head, property='og:title', i18n="true", content="meta.MLP_TITLE")
    meta(view-head, property='og:image', content='https://i.imgur.com/XYp08gj.png')
    meta(view-head, property='og:type', content='website')
    meta(view-head, property='og:url', content="{{::$root.CP.site.name}}")
    meta(
        view-head
        property="og:description"
        i18n="true"
        content="meta.MLP_DESC"
    )

    ion-content(
        direction="y"
        padding="false"
    )
        //- Language regions section
        ls-regions.section.alt-bg

        //- How it works section
        div.section(ng-include="'views/landing/sections/how-it-works/Template.html'")

        //- Video section
        .section(ng-include="'views/landing/sections/video/Template.html'")

        add-yourself.logged-out-only.border-top

        site-footer
            footer-blog.section
