/*section*/.section-contact
    /*.window textarea*/.chat-text
        width 100%
        min-height em(80)
        background none

    &:before
        margin 0

    /*button*/.chat-send
        margin auto

    .sent
        display none
        padding 1em 0
        text-align center

    /*.sent */.border-dot
        margin 1.5em 0

    /*.sent */.convo-link
        font-family $font-regular-val

    &.activated
        text-decoration underline

    &.msg-sent
        .unsent
            display none

        .sent
            display block