section.section-contact.inner-wrap(
    id="chat-{{::$id}}"
    ng-class="{'msg-sent': !!chat.msgID}"
)
    form.unsent.list
        label.item.item-input.item-stacked-label.fat
            span.input-label(i18n="profile.MESSAGING")
            textarea.chat-text(
                ng-model="chat.message"
                data-i18n-attr="{placeholder: 'activities.TT-CHAT_WINDOW'}"
            )

        .row
            button.chat-send.btn-blue.col.col-50.col-center(
                i18n="common.SEND"
                ng-click="chat.send()"
                ng-disabled="!chat.message.length || chat.processing"
            )

    .sent
        h3.sent-title(i18n="activities.MSG_SENT")

        .border-dot

        a.h4.convo-link.close(
            i18n="activities.GO_2_CONVO"
            ui-sref="pStandalone.messages.single({ msgID: chat.msgID })"
        )

