ng-form.list.password-reset(
    ng-submit="vars.onSubmit(vars.password)"
    name="reset"
)

    div(ng-class="vars.passwordStrength")
        label.item.item-input.item-floating-label
            span.input-label(i18n="auth.NEW_PASSWORD")
            .popover-msg(popover-msg)
                .pop.error(
                    data-pos="{{::vars.popoverDir}}"
                    ng-messages="reset.password.$error"
                    ng-if="(reset.$submitted || reset.password.$touched) && reset.password.$invalid"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")
                    span.form-error(ng-message="passwordStrength")
                        span(i18n="auth.ERROR-PASSWORD_TOO_SHORT")
                            
                .pop.on-focus(
                    data-pos="{{::vars.popoverDir}}"
                )
                    span(i18n="auth.PASSWORD_STRENGTH")
                    .password-meter(
                        ng-class="vars.passwordStrength"
                        password-meter="vars.passwordComplexity"
                    )

                input#passResetInput.field(
                    type="password"
                    data-i18n-attr="{placeholder: 'auth.NEW_PASSWORD'}"
                    name="password"
                    ng-model="vars.password"
                    password-strength-validator="vars.passwordStrength"
                    password-complexity="vars.passwordComplexity"
                    required=""
                )

    .item.item-input.item-floating-label
        span.input-label(i18n="auth.CONFIRM_PASSWORD")
        .popover-msg(popover-msg)
            .pop.error(
                data-pos="{{::vars.popoverDir}}"
                ng-messages="reset.confirmPassword.$error"
                ng-if="(reset.$submitted || reset.confirmPassword.$touched) && reset.confirmPassword.$invalid"
            )
                span.form-error(ng-message="required")
                    span(i18n="auth.ERROR-REQUIRED")
                span.form-error(ng-message="mustMatch")
                    span(i18n="auth.ERROR-PASSWORD_MUST_MATCH")

            input#passResetConfirm.field(
                type="password"
                data-i18n-attr="{placeholder: 'auth.CONFIRM_PASSWORD'}"
                name="confirmPassword"
                ng-model="vars.confirmPassword"
                must-match-validator="vars.password"
                must-match-strict="true"
                required=""
            )

    .row.forgot-password-row(ng-if="::vars.forgotPassword")
        a.padding.col.col-100.center.bold-link(
            i18n="auth.FORGOT_PASSWORD"
            ng-click="vars.callForgotPassword()"
        )

    .row
        button.submit-btn.fat.col.col-100(
            type="submit"
            ng-disabled="reset.$invalid || !onCondition"
            i18n="common.SAVE"
        )

    .row(ng-if="::vars.showCancel")
        button.btn-cancel.fat.col.col-100(
            i18n="common.CANCEL"
            ng-click="vars.onCancel()"
        )