$pane-layout-photo-width = 180
$pane-layout-photo-content-width = $map-pane-width - $pane-layout-photo-width
$pane-padding = 15
.pane-layout-photo
    .photo-sec,
    .content-sec
        @extends .middle-align
        box-sizing border-box
        width 50%

    .photo-sec
        max-width em(150 + ($pane-padding * 2))
        padding em($pane-padding)

        &.activated
            $border-width = 2
            padding em($pane-padding - ($border-width * 2))

            .photo
                border unit($border-width, px) solid $cyan

    .photo
        width 100%
        height 100%
        background-size contain !important

        img
            width 100%

    .content-sec
        padding 1em 1em 1em 0

        > :last-child
            margin-bottom 0

@require 'List'
@require 'Listing'
@require 'SortList'
@require 'RegularList'