.Listing
    @extends .top-align
    position relative
    transition background 500ms linear
    width 100%

    &.notify
        background $yellow-light

    .top-right
        absolute top right
        margin 1em 1em 0 0

    .bottom-right
        absolute bottom right
        margin 0 em($default-padding) em($default-padding) 0
