.Regular.List
    .Listing
        +media('xs')
            &:nth-child(even)
                &,
                & .inherit-even
                    background $light-blue-1

        +media('sm')
            width 50%

            &:nth-child(4n - 3),
            &:nth-child(4n)
                &,
                & .inherit-even
                    background $light-blue-1