.Sort.List
    $padding-top = $activity-sticky-height
    
    .publish-row
        float right
        
        .inner-wrap
            max-height em($activity-sticky-height)
        
        .arrow
            &:before
                content ' '
                position absolute
                right 100%
                bottom 0
                border em(($activity-sticky-height + 1) / 2) solid $orange-dark
                border-left em($activity-sticky-height / 2, 14) solid transparent
                border-top em($activity-sticky-height / 2, 14) solid transparent
    
    .Listing
        transition background 500ms linear
        
        //&.even
        //    background $light-blue-1
        //
        //    .go-to
        //        background rgba($light-blue-1, .9)
    
        &:first-child
            .head
                &:before
                    content ''
                    height em(35)
                    display block
            
            .publish-row
                absolute top right
        
        &.notify
            background $yellow-light
    
    .head
        background inherit
        clear both
    
    /*header*/.inner-head
        clearfix()
        position relative

    .title-wrap
        @extends .pane-layout-photo .content-sec
    
    .title-wrap,
    .detail-wrap
        float right
    
    .title-row
        padding em($default-padding) em($default-padding) 0
    
    /*a.title-link h2*/.activity-title
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
        margin 0

    /*.line*/.languages
        [class*="th-width"]
            width 50%
    
    .detail-wrap
        .line
            line-height 1.2em

    /*a*/.go-to
        position absolute
        right .25em
        top .25em
        padding em(8)
        z-index 1
        background rgba($white, .9)
        border-radius .25em
        
        .no-touch &
            display none

        .text
            font-family $font-title-val
        
        .no-touch &:hover
            color $blue-3
        
        .icon
            display inline-block
            margin-left .5em
    
    ////////////// !When //////////
    /*.photo */.photo-hangers
        absolute top left
        padding em($default-padding / 2)
        
        .hanger
            z-index 2
            font-size em(18)
            color $white
            text-shadow 0 0 em(4, 18) $black

        .date
            display none
        
        /*span*/.at
            display inline-block
            
    /*table*/.activities-group
        box-shadow 0 0 5px 0 rgba($blue-2, .65)
        z-index 1
        background $white
        width 100%

// fixes the tooltip cut off see screenshot http://i.imgur.com/J4npDOw.jpg
/*table*/.activities-group:nth-of-type(1)
    /*tr*/.listing:first-child
        .publish-row
            .box
                transform translateY(0)

            .carrot
                display none