.cp-nav-back-button
    a.nav-logo#siteLogo(ng-click="vars.goHome()")
    a.nav-back.back.hidden(ng-click="$root.goBack()")
        i.ion-arrow-left-c.middle-align.icon
        span.middle-align.txt(i18n="common.BACK")
