section.Profile-sec.section-personal.inner-wrap(ng-class="{'active-edit': vars.activeEdit}")
    .body-type
        h3.sec-title
            span(i18n="profile.PERSONAL_INFO")
            .edit-link(
                ng-click="vars.activeEdit = !vars.activeEdit"
                i18n="profile.EDIT"
            )

        p.display-copy(
            ng-hide="vars.activeEdit"
            ng-bind-html="source.personal"
        )

        .if-edit.default-form.styled
            textarea.edit-input.tall.display-copy(
                ng-model="vars.editDescription"
                data-i18n-attr="{placeholder: 'profile.PLACEHOLDER-PERSONAL'}"
            )
            .save-button-row.plump
                button.btn-cancel(
                    i18n="common.CANCEL"
                    ng-click="vars.activeEdit = false"
                )
                button.btn-blue(
                    i18n="common.SAVE"
                    ng-click="vars.save()"
                )