$nav-sub-height = $nav-height * 2
$nav-sub-same-bg-height = ($nav-height * 2) - $bar-padding-portrait

.nav-styles
    $size = $logo-width
    $trim-size = $size + $bar-padding-portrait

    .inner
        width 100%

    .size
        @extends .middle-align
        margin-right em($bar-padding-portrait)

        &:last-child
            margin 0

    .trim.size,
    .blok.size
        @extends .middle-align
        height em($nav-usable)

    .trim.size
        width calc('100% - ' + em($trim-size))

        &:last-child
            margin-right 0

    .double.trim.size
        width calc('100% - ' + em($trim-size * 2))

    .blok.size
        width em($size)

    input:not([type]),
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="month"],
    input[type="url"],
    input[type="tel"]
        padding em(7)
        max-height em($nav-usable)
        background $white !important
        margin-bottom 0

    /*span*/.back
        line-height em($nav-usable)

        /*i*/.icon
            width 30%

        /*span*/.txt
            width 70%
            white-space nowrap
            overflow hidden
            text-overflow ellipsis

    [class*='btn-']
        &.fat,
        .fat &
            padding .5em 1em !important

.nav-bar-block
    &.no-title
        .title
            display none

.nav-header
    /*i.ion-navicon*/.burger
        text-align center

        &:before
            font-size em($nav-usable)

/*.nav-header */.nav-logo
    display block
    width em(41)
    height em(34)
    background url('/images/header_logo.svg') no-repeat

/*#navContent*/.nav-title
    text-align center

    .txt
        color $white
        line-height unit($nav-usable, px)

.nav-subhead
    top em($bar-height)
    display none

    &.subheader-visible
        display block

    /*
     * If the same color as the main nav, then overlap their shared padding
     */
    &.bar-dark
        top em($nav-height - $bar-padding-portrait)


@require 'directives/quickSearch/Style'
