.bar.bar-dark.nav-header.nav-styles
    .inner
        cp-nav-back-button.blok.size

        #navContent.double.trim.size(
            cp-page-subheader="/nav/content/change",
            data-visible-class=""
            data-has-default="true"
        )
            quick-search

        i.ion-navicon.blok.size.burger(ng-click="vars.toggleRightMenu()")