.footer-popup
    .inner-wrap
        .trigger.open.hidden-xs(ng-transclude)
        .trigger.close.hidden-xs.icon-cancel-big(i18n="common.CLOSE_BOX")

        site-footer(ng-class="vars.activeClass")