.Sort.List.Display
    //- What to show when there's no data
    //- Will have a zero-data-directive appended to it
    .no-activities(
        ng-show="!items || !items.length"
        ng-transclude
    )

    .loader(ng-show="isSearching")
        div(inline-loader="true")
    table.activities-group.taper-attach(
        ng-repeat="Group in items"
        id="sticky-group-{{::$index}}"
    )
        thead
            tr.group-head.taper-bar
                th.taper-inner
                    span.taper-display(ng-bind="Group[0][vars.headDisplay]")
        tbody
            tr(
                class="Listing can-hilite {{Activity.alternate}}"
                ng-repeat="Activity in Group track by Activity.activityID"
                id="activityRow-{{::Activity.activityID}}"
            )
                td
                    article(
                        class="listing-{{::Activity.activityType}}"
                        ng-include="::vars.getTemplate(Activity)"
                    )
    //-.load-more(
    //-    ng-click="vars.loadMore()"
    //-    ng-if="vars.showLoadMore && !vars.searching"
    //-    analytics-on="click"
    //-    analytics-category="search"
    //-    analytics-event="click"
    //-    analytics-label="event: load more"
    //-)
    //-    .load-bar
    //-        span.h3.load-text(i18n="activities.LOAD_MORE")
