.languages-container
    @extends .top-align
    border-collapse separate

    .lang
        position relative
        margin 0 .35em .25em
        @extends .middle-align

        &:first-child
            margin-left 0

        &:last-child
            margin 0

    .name
        padding-right 1.25em
        font-size 1em
        width 100%

    .marker
        z-index 1
        position relative
        display inline-block

    /*.marker */.no
        :before,
        :after
            display none !important

        .name
            padding-right .35em

        .lang
            margin-right .35em

            &:not(:last-child):after
                content ','

        .text
            display inline

    /*tooltip*/.ttip
        absolute top right

    .all-langs
        width 96%
        max-width em(310)
        margin 2%
        absolute left
        padding em($default-padding)
        border-radius em(2)
        @extends _modal-shadow
        border 1px solid $cyan
        background $white
        z-index 2

    /*.all-langs */th,
    td
        width 50%

    /*.all-langs th*/.head
        $font-bold(15, null, 18)

    /*all-langs tr*/.all-row
        padding .35em 0
        display block

    /*.all-langs */.is-learn
        color $blue-2-50op
        text-align right

        :before
            margin 0 0 0 .35em
