ul.languages-container
    span.transclude.middle-align(
        ng-transclude
        ng-if="vars.getIteration.cache[vars.cacheKey].length"
    )

    .marker(ng-class="{'no': !vars.showMarker}")
        li.lang(ng-repeat="language in vars.getIteration(vars.cacheKey, vars.iteration) track by language.llID")
            span.name(class="icon-skill-{{::language.level}}")
                span.text(ng-bind="::language.name")
                tooltip.ttip(
                    ng-if="::language.level"
                    text="profile.{{::vars.levels[language.level].key}}"
                    data-attach="true"
                    data-pos="{{::tooltipPos}}"
                )

        a.styled-link.middle-align(
            i18n="misc.AND_X_MORE"
            data-number="{{vars.hiddenLength}}"
            ng-if="vars.hiddenLength"
            ng-click="vars.toggleHidden()"
        )

    table.all-langs.default-table(ng-if="vars.showHidden")
        tr
            th.head.is-speak(i18n="profile.SPEAKS")
            th.head.is-learn
                span(i18n="profile.LEARNING")
                span.middle-align.icon-check
        tr.all-row(ng-repeat="language in vars.getIteration('hidden', vars.allIteration) track by language.llID")
            td.is-speak
                span.name(
                    ng-bind="::language.name"
                    class="icon-skill-{{::language.level}}"
                )
            td.is-learn
                span.icon-check(ng-if="::language.learning")
