ion-view.Message
    page-subheader.nav-title(data-emit-target="/nav/content/change")
        script#NavMessageTemplate(type="text/ng-template")
            h3.txt.no-margin(text-broadcast="/tb/message")

    div(ui-view="message")