/*body*/.menu-open
    /*nav-header i.ion-navicon*/.burger
        text-align right

        &:before
            content $ionicon-var-android-close
            padding-right 8px

.hamburger-menu
    .logged-out &
        .header
            display none

        .cont-sec
            top 0

    .item
        border none
        padding 0

    /*.item a*/.item-content
        padding em(16)

    .side-head
        border-bottom 1px solid $blue-2-50op
        text-align left
        padding 0

    /*a*/.profile-link
        width 100%

    /*.side-head */.navatar
        border-radius 50%
        overflow hidden
        height em($nav-usable)
        position absolute
        top em($bar-padding-portrait)
        right em($bar-padding-portrait * 2)

    /*.side-head h1*/.user-name
        display inline-block
        line-height unit($nav-usable, px)
        height 100%
        position static

    /*ion-item a*/.item-content
        overflow viible

    .menu-icon
        float right

    .side-foot
        absolute bottom left
        width 100%
        border-top 1px solid $blue-2
        z-index 11

        select
            height em($nav-usable)
            background none

    /*.side-foot */.settings-display-language
        width 100%

.Hamburg/*er menu*/
    padding-bottom em($nav-height)

    .logged-in &
        .primary .list
            border-bottom 2px solid $blue-2-50op

        .secondary
            .item-content
                padding em(12) em(16)
                font-size 14px

    .logged-out &
        .secondary
            .item:nth-child(even)
                background $light-blue-1