ion-side-menus.SideMenu
    ion-side-menu-content(ng-transclude)

    ion-side-menu.hamburger-menu(
        side="right"
    )
        ion-header-bar.header.bar.bar-light.side-head
            a.profile-link(ui-sref="map.dashboard.profile.user({userID:'me'})")
                h1#sideMenuHead.user-name.title

                avatar.navatar(
                    data-do-watch="true"
                    data-size="footerNav"
                )

        ion-content.Hamburg.cont-sec
            ion-list.primary.alternate
                ion-item.item(ng-repeat="val in vars.primary track by val.key")
                    a.item-content(ui-sref="{{::val.sref}}")
                        span(i18n-bo-variable="val.key")
                        i(class="menu-icon {{::val.icon}}")

            ion-list.secondary
                ion-item.item(ng-repeat="val in vars.secondary track by val.key")
                    a.item-content(ui-sref="{{::val.sref}}")
                        span(i18n-bo-variable="val.key")

        .side-foot.bar
            settings-display-languages
