.v-listing
    $photo-size = 125
    $padding = 10

    text-align left
    background $white

    .photo-wrap
        @extends .middle-align
        width em($photo-size)
        height em($photo-size)
        overflow hidden

    /*photo-wrap*/.v-photo
        height 100%

    /*.photo-wrap */.img
        background-size cover
        padding-bottom 100%
        height 100% !important

    .content
        @extends .middle-align
        width calc('100% - ' + em(125))
        height em($photo-size)
        position relative

        .no-csscalc &
            width 70%

    /*.content */.inner-content
        padding em($padding)

    /*a.loc-center*/.link-styles
        color $blue-2
        cursor pointer

        &.activated
            color $cyan

    /*h3*/.v-name
        $font-bold(15)
        margin-bottom .25em
        color inherit
        overflow ellipsis

    /*h5*/.v-address
        $font-light(14)
        color inherit
        margin em(5, 14) 0

    /*a*/.remove
        font-size em(18)
        cursor pointer
        color $blue-2-50op
        absolute top right
        padding em($padding, 18)

        &.activated
            color $cyan

    /*footer*/.venue-foot
        absolute bottom right
        width 100%
        padding 0 em($padding) em($padding)
        z-index 3

    /*.venue-foot */.info-link
        float right
        position relative

    /*.more-info */.popup-box
        @extends _modal-shadow
        border-radius 2px
        border 1px solid $cyan
        absolute right
        bottom 100%
        width em(385)
        margin-bottom 1.5em

        &:before,
        &:after
            left auto
            right 5%
