article.v-listing
    .content
        .inner-content(ng-if="vars.isLoaded")
            header.venue-head
                a.loc-center(ng-class="::{'link-styles': !noMap}")
                    h3.v-name(ng-bind="::vars.venue.name")
                    h5.v-address(ng-bind-html="::vars.venue.adr_address")

            a.remove.icon-cancel-big(
                ng-if="::vars.showRemove"
                ng-click="::remove({venue: vars.venue})"
            )

            footer.venue-foot
                div.rating-bar(
                    ng-if="::vars.venue.rating"
                    rating-bar="vars.venue.rating"
                )

    .photo-wrap
        .v-photo.responsive-image
            span.img
