.Create
    /*h2*/.subhead-bar
        display block
        background $blue-2
        color $white
        $font-title(15, null, 45)
        text-align center
        text-transform capitalize
    
    .create-wrap
        height auto
        min-height 100%
        padding em($default-padding)
    
    .steps-container
        text-align center
        padding 0 0 em(20)
        margin-bottom em(25)
        position relative

        &:after
            @extends .border-dot
            width 100%
            absolute bottom left
            content ''

    /*.steps-container */.step-width
        display inline-block
        position relative
        
        &:after
            content ''
            height 1px
            background $blue-2-50op
            position absolute
            bottom em(8)
            left 0
            z-index 0
            width 65%
            left 50%
            transform translateX(-50%)
    
    /*.step-width a*/.go-to
        width 0
        height 0
        border-top em(10) solid transparent
        border-bottom em(10) solid transparent
        position absolute
        top 50%
        margin-top - em(4)
        cursor pointer
        opacity .75
        
        &.activated
            opacity 1
    
    /*.step-width*/.first .prev-link
        display none
        
    /*.go-to*/.prev-link
        border-right em(15) solid $blue-2
        left 2em

    /*.go-to*/.next-link
        border-left em(15) solid $blue-2
        right 2em

    /*.step-width*/.last .next-link
        display none
        
    /*.step-width a*/.step
        display inline-block
        vertical-align middle
        margin 0 em(60)
        z-index 1
        position relative
        
        &:not(.accessible)
            cursor default

        &:first-child
            margin-left 0

        &:last-child
            margin-right 0
        
        .number-wrap
            display inline-block
            padding 0 em(5)
            background $white
        
        &.accessible
            .step-title
                color $blue-2
            
            .number
                background $orange
    
    /*.step h3*/.step-title
        $font-bold(14, null, 35)
        color $blue-2-50op
    
    /*.step span*/.number
        display inline-block
        color $white
        border-radius 50%
        background $blue-2-50op
        height em(17, 13)
        width em(17, 13)
        $font-bold(13)
        text-align center

    .line
        margin-bottom em(25)
        
        &.hanging
            margin-bottom em(10)
    
    .ffield,
    .subject,
    .inline-subject
        display inline-block
        vertical-align middle
        font 1em \/ 1.35em $font-bold-val
    
    .subject
        width 18%
        padding-right em(20)
        text-align right
        text-transform capitalize
    
        &.top
            vertical-align top
            margin-top .5em

    /*.subject*/.required
        /*span*/.text
            &:after
                content: '*'
                color $red
                font-family arial, sans-serif
    
    /*ng-form*/.subject-wide
        .subject
            width 35%
        
        .ffield
            width 65%

    .ffield
        width 82%
        
        .full
            width 100%
    
    .set-row-height
        $height = 38
        height em($height)

        .set-line-height
            line-height unit($height, 'px')
    
    .inline-field
        @extends .middle-align
        width 100%
        max-width 45%
    
    .inline-subject
        $font-light(15)
        margin 0 .5em 0 em(25, 15)
        
        &.even
            margin 0 .75em
    
    .delete-sec
        absolute bottom left
        margin 0 0 em(25) em(25)
    
    /*.delete-sec a*/.delete-link
        cursor pointer
        color $blue-2-50op
        $font-title(15)

        &.activated
            color $blue-2

    .twitter-typeahead .active-term
        @extends _autocompletLangPadding
    
    .date-shtuff
        max-width 100%
        width em(275)

    .time-picker
        width em(115)
    
    .vert-center
        margin-top 2.5em
    
    .msg-box
        width 90%
        margin 1em

    .faint-note
        font-size 1em
        color $blue-2
    
    input:not([type="submit"]),
    textarea
        font-family $font-light