.standalone
    position relative
    
    .inner-background
        background rgba($cyan, .07)

    .floating-box
        box-shadow 0 0 5px 1px rgba($blue-3, .5)
        round-corner 2px
        background $white
        background rgba($white, .9)
        border 1px solid $cyan
        position relative

.Standalone
    h1
        font 1.75 $font-title-val
        color $blue-2
        margin-bottom em(30, 42)

//////////////////////////
//////    !ABOUT     /////
//////////////////////////
/*.Standalone*/ .About
    /*p*/.about
        $font-light(16, null, 19)

    .three-quart
        margin 2em auto 1.5em
    
    .person
        text-align center
        margin-bottom 2.5em

    .photo
        margin-bottom 1em
        
        img
            margin 0 auto
    
    .person-name,
    .role
        text-transform capitalize
        display block
        color $blue-2
    
    .person-name
        $font-bold(18, null, 27)

    .role
        $font-light(12, null, 21.5)

///////////////////////////
////// !CONSTRUCTION  /////
///////////////////////////
.Construction
    height 100%
    
    .standalone-wrap
        text-align center
        
    .construction-img
        margin 5em auto 3em
        width em(335)
        height em(258)
        background url('/images/standalone/under_construction.svg')
        background-repeat no-repeat
        background-size 100%

        .no-svg &
            background url('/images/standalone/fallback/under_construction.png')

.lots-of-text
    h2
        margin 1em 0 .4em

    p
        margin .8em 0
    
    /*ol*/.count
        list-style-type decimal
        padding-left em(30)

        li
            display list-item
    
    /*span*/.num
        margin-right .5em
    
    .inner-content
        a
            color $blue-2
            
            &.activated
                text-decoration underline
                color $blue-3

@import 'translator/Style'
@import 'eventIdeas/Style'
@import 'FAQ/Style'
@import '404/Style'
@import 'donate/Style'
