.Translator
    background $light-blue-1
    position relative

    .background
        position absolute
        top 0
        left 50%
        height em(500)
        width em(801)
        z-index -1
        transform translateX(-50%)
        background url('/images/translator_thankyou/bg/800.png')
        background-repeat repeat-x !important

    /*h1*/.headline
        margin-bottom 8px

    .page-content
        position relative
        max-width em(790)
        margin 0 auto
        padding-top em(240)
        z-index 1

    /*.box.intro */.giant-logo
        text-align center

        &:before
            color $white
            font-size em(56)
            width 2em
            height 2em
            line-height 2em
            background $cyan
            border-radius 50%
            margin .2em auto

    .sub-head
        $font-title(17)
        color $blue-2
        margin-bottom em(10, 17)

    .page-content .share
        text-align center

        /*a*/.share-btn
            color $orange
            margin-left .75em
            font-size 21px

    .box
        vertical-align top
        color $blue-2
        margin-bottom em(20)

        .inner
            background $white
            border 1px solid $cyan
            box-shadow 0 0 6px 0 rgba($blue-3, .65)
            padding em(12)

        /*p*/.intro-text
            $font-regular(15, null, 18)
            margin-bottom 1em

        /*h1*/.headline,
        /*h2*/.name,
        /*.cta-bar h2*/.cta-head,
        .cta-curious
            text-align center
            $font-title(26, null, 38)

        img
            display inline-block

        /*h5*/.nationality
            $font-regular(15)
            margin-bottom 1em

        &.translator
            text-align center

            .inner
                display block
                padding em(35) 0 em(30)

    .cta-curious
        color $orange
        line-height 180px !important

    .cta-bar
        padding em($default-padding * 2) em($default-padding) em($default-padding)
        background $white
        text-align center
        box-shadow 0 0 5px 0 rgba($blue-3, .65)


    /*.cta-bar p*/.cta-copy
        $font-title(17)
        color $blue-2
        margin .75em 0 1.25em

    .cta-faint
        color $blue-2-50op
        $font-title(17)
        margin-bottom em(10, 17)

    // control the share button colors here
    /*share-page */.page-content .share-btn
        color $cyan !important

    .create-bg-lay
        padding-top em(5)
        padding-bottom 0
