ion-view.Translator
    view-title meta.TRANS_TITLE

    //- meta(
    //-     view-head
    //-     name="keywords"
    //-     content="Become a translator, translate for Chatterplot, Chatterplot translators, translators"
    //- )

    meta(
        view-head
        name="description"
        content="{{::meta.TRANS_DESC | i18n}}"
    )

    ion-content.page-content.clear
        .background

        .padding
            .box.intro
                .inner
                    h1.headline(i18n="standalone.TRANSLATOR_INTRO_HEADLINE")
                    p.intro-text.indent(i18n="standalone.TRANSLATOR_INTRO_TEXT_1")
                    p.intro-text.indent(i18n="standalone.TRANSLATOR_INTRO_TEXT_2")

                    .giant-logo.icon-logo

            .box.share
                .inner
                    h4.sub-head(i18n="landing.SHARE_TEXT")
                    share-page(data-url="self")

            .box.translator(
                ng-repeat="translator in ::Translator.translators track by translator.country"
            )
                a.inner(conditional-attr="{ 'href': translator.link }", target="_blank")
                    h2.name(ng-bind="::translator.name")
                    h5.nationality(ng-bind="::translator.nationality")
                    img(
                        ng-src="/images/translator_thankyou/{{::translator.country}}.svg"
                        alt="{{::translator.nationality}} translator {{::translator.name}}"
                    )

        .cta-bar.full-width
            h2.cta-head(i18n="standalone.TRANSLATOR_CTA_HEAD")
            p.cta-copy(i18n="standalone.TRANSLATOR_CTA_TEXT")

            a.btn-orange.fluffy.cap(
                i18n="common.LEARN_MORE"
                ng-click="Translator.openModal()"
                analytics-on="click"
                analytics-category="standalone"
                analytics-event="click"
                analytics-label="translator page: learn more"
            )

            .mid-space-chunk

        p.cta-faint.center.padding(i18n="standalone.TRANSLATOR_CTA_HEAD_2")

        .dot-through-box.fluffy.share-bar
            .bg-dot.border-dot
            .create-bg-lay
                share-page(data-text-key="standalone.TRANSLATOR_CTA_TEXT")

    site-footer
