form.FR-date-time.list(
    ng-controller="FlowReqWhenCtrl as VM"
    name="When"
)
    //header.padding.header
    //    h3.sub-title.hanging(i18n="common.WHEN_TIME")
    //    p.sub-desc(i18n="activities.CHOOSE_SETTING")


    label.item.item-input.item-stacked-label.sec-divide.overflow
        span.input-label(i18n="events.DATE")

        date-picker(
            data-source="VM.shared.when.date"
            data-disable-past="true"
            data-required="true"
            data-format="fullDate"
            data-autoclose="true"
        )

    label.item.item-input.item-stacked-label.sec-divide
        span.input-label(i18n="events.TIME")
        time-picker(
            data-source="VM.shared.when.time"
            data-required="true"
        )