.social-media-bar
    ul
        li.share-li(
            ng-repeat="source in ::vars.sources"
            class="button-{{::source.name}}"
        )
            a.share-btn(
                class="icon-{{::source.name}}"
                href="{{::source.data.link}}"
                target="_blank"
                analytics-on="click"
                analytics-category="social media"
                analytics-event="click"
                analytics-label="{{::source.name}}"
            )
