.edit-lang.modal-animation
    title-modal(
        data-title="profile.EDIT_LANGUAGES"
        data-abs-center="true"
        data-box-class="edit-lang-modal"
        data-deactivate="profile.deactivate()"
        data-padding="true"
        data-disable-bg-close="true"
    )
        edit-language-box.default-form.langs(
            data-source="user.languages"
            data-on-save="options.saveLanguage(languages, complete)"
            data-on-cancel="profile.deactivate()"
        )