.req-listing
    font-family $font-light-val
    color $blue-2-50op

    /////////////////
    //  $GENERAL
    ////////////////
    strong
        $font-bold(15)

    .styled-link
        font-family inherit
        text-decoration none

    .left-haf,
    .right-haf
        width 50%

    /////////////////
    //  $STRUCTURE
    ////////////////
    .gradient-bg
        @extends _blackOpaqGradient
        padding em(10) em(10) em(50)

    /*h2*/.activity-title
        color $white
        font-family $font-bold-val

    /*a*/.view-link
        color $white

    /*a*/.person-link
        display block
        color $cyan
        text-shadow 0 1px 3px $black

    .v-photo .img
        padding-bottom 145%

    .icon-haf
        font-size em(23)
        text-align center
        margin-top .25em

    &.deny
        .edit-button
            display none

    .status-bar
        position relative
        color $white
        $font-bold(15)
        background $blue-2-50op

        &:after
            content ' '
            position absolute
            width 0
            height 0
            border solid transparent
            pointer-events none
            border-width em($carrot-height - 1)
            margin-left - em($carrot-height - 1)
            bottom 100%
            left 50%
            border-bottom-color $blue-2-50op

    &.pending
        .status-bar
            background $orange

            &:after
                border-bottom-color $orange

        &.my-req
            .status-bar
                background $cyan

                &:after
                    border-bottom-color $cyan

        &:not(.my-req)
            .status-bar .accept-link
                display inline-block

            .pend-show
                display block

            .unpend-show
                display none

    &.accept
        .status-bar
            background $green

            &:after
                border-bottom-color $green

    &.deny
    &.cancel
        .deny-link
            display none

    /*span*/.status-txt
        margin-right .35em

        &:after
            content ':'

    .status-buttons
        text-align right

    .deny-link
        color $white
        text-decoration underline
        margin auto 0

    .accept-link
        display none

    .float-right
        margin-left auto

    .pend-show
        display none


