article(class="req-listing {{Activity.status}} {{::Activity.isMine && 'my-req'}}")
    .inner-wrap(ng-init="Interaction.otherParticipants(Activity)")
        header.head
            avatar.photo(
                data-size="coverPhoto"
                data-type="user"
                data-user="Activity.otherUser"
            )
                div
                    .gradient-bg
                        h2.activity-title(ng-bind-html="::Interaction.requestWith(Activity, Activity.otherUser)")

                    .bottom-right.fat
                        a.btn-white.edit-button.icon-pencil(
                            ng-if="::!Activity.expired"
                            i18n="profile.EDIT_DETAILS"
                            href="{{::Interaction.generateLink(Activity, 'edit')}}"
                        )

                        a.btn-blue.edit-button(
                            ng-if="::Activity.expired"
                            i18n="activities.REQ_ANOTHER"
                            href="{{::Interaction.generateLink(Activity, 'duplicate')}}"
                        )


        .row
            .col.col-25
                venue-photo(
                    data-venue="Activity.venue"
                    data-width="88"
                    data-height="125"
                )
            .col.col-75
                .row
                    .icon-haf.col.col-15.top-align
                        .icon-clock
                    .details.col.col-80.top-align
                        strong(ng-bind="::Activity.date")
                        strong(i18n="common.AT_TIME")
                        span=' '
                        strong(ng-bind="::Activity.time")

                .row
                    .icon-haf.col.col-15.top-align
                        .icon-location
                    .details.col.col-80.top-align
                        div(ng-if="::cache.venues[Activity.venue.vID].venue.name")
                            strong(ng-bind="::cache.venues[Activity.venue.vID].venue.name")
                        span(ng-bind="::Interaction.formatLocation(cache.venues[Activity.venue.vID].venue)")

        .status-bar.padding(ng-if="::!Activity.expired")
            .row
                span.status-txt(i18n="activities.REQUEST_STATUS")
                span.space.status-type(i18n-variable="Interaction.getStatus(Activity)")

                a.deny-link.middle-align.float-right.unpend-show(
                    i18n="activities.CANT_ATTEND"
                    href="{{Interaction.generateLink(Activity, Interaction.getDenyType(Activity))}}"
                )

            .pend-show
                .row.fat
                    a.deny-link.middle-align(
                        i18n="activities.CANT_ATTEND"
                        href="{{Interaction.generateLink(Activity, Interaction.getDenyType(Activity))}}"
                    )

                    a.btn-blue.accept-link.middle-align.float-right(
                        i18n="activities.ACCEPT_REQUEST"
                        href="{{::Interaction.generateLink(Activity, 'accept')}}"
                    )