.explain-modal.translator
    .banner-img
        margin em(10) auto em(25)
        width 100%
        max-width em(515)
        padding-bottom 15.5%
        background url('/images/translator_thankyou/banner.svg')
        background-size contain
        
        .no-svg
            background url('/images/translator_thankyou/banner.png')