- var mailTo = 'Translations@chatterplot.com'

blank-modal.explain-modal-lay(
    data-abs-center="true"
    data-box-class="explain-modal translator default-modal"
    data-deactivate="modal.deactivate('eventHost')"
    data-padding="true"
)
    .center
        .banner-img

    .content-wrapper

        h3.subline.center(i18n="standalone.TRANSLATOR_MODAL_HEAD")

        p.copy(i18n="standalone.TRANSLATOR_MODAL_BODY")

        h3.subline.center(i18n="standalone.TRANSLATOR_MODAL_BOLD_1")

        ul
            li.copy(i18n="standalone.TRANSLATOR_MODAL_BOLD_1_P_1")

        h3.subline.center(i18n="standalone.TRANSLATOR_MODAL_BOLD_2")

        ul
            li.copy(i18n="standalone.TRANSLATOR_MODAL_BOLD_2_P_1")
            li.copy(i18n="standalone.TRANSLATOR_MODAL_BOLD_2_P_2")
            li.copy(i18n="standalone.TRANSLATOR_MODAL_BOLD_2_P_3")

        h3.subline.center(i18n="standalone.TRANSLATOR_MODAL_CTA")

        p.copy(i18n="standalone.TRANSLATOR_MODAL_CLOSING")

        .center
            a.cta-color.cta-link(
                href="mailto:#{mailTo}"
                analytics-on="click"
                analytics-category="standalone"
                analytics-event="click"
                analytics-label="translator modal: email link"
            ) #{mailTo}