.Person.Display
    &.accept-msg
        .message
            display block

    .message
        display none
        absolute bottom right
        padding .5em
        margin .5em
        cursor pointer
        background white

    /*a.title-link h2*/.person-title
        font-size 1em
        margin-bottom em(5)

    /*.person-title span*/.tandem-name
        $font-bold(15)

    /*user-location*/.user-location
        font-size em(13)
        margin-bottom em(5, 13)

        // hide the location icon on mobile
        :before
            display none

    .all-langs
        display block

    .im-learning
        color $blue-2-50op
        font-family $font-bold-val

        .text
            margin-right .5em
            
            &:after
                content ':'
    
    /*p*/.description
        $font-light(15, null, 22)
        max-height em(50)
        color $blue-2
        absolute bottom left
        padding-right em(15, 15)
        bottom em(15, 15)
        overflow-y hidden
    
    /*a*/.more
        color $blue-3
        $font-bold(14)
        padding-left .35em
        text-transform capitalize
        
        &:after
            content '…'
        
        &.activated
            color $orange-dark

    .top-right
        margin .5em
        padding .5em
        background $white

[id^=tandemRow-adSlot]
    width 100%

.logged-in
    // hide the tandem ad slots if logged in
    [id^=tandemRow-adSlot]
        display none