article.Person.Display.pane-layout-photo(ng-class="::{'accept-msg': Activity.settings.notifs.messaging.acceptAll }")
    a.photo-sec(
        ui-sref="map.dashboard.profile.user({ userID: Activity.userID })"
        title=""
        analytics-on="click"
        analytics-category="search"
        analytics-event="click"
        analytics-label="tandem results: picture: click into profile"
        analytics-value="{{::Activity.userID}}"
    )
        .photo
            .photo-hangers
                avatar(data-user="Activity")
                .hanger.dist-from

    .detail-wrap.content-sec
        header
            a.title-link(
                ui-sref="map.dashboard.profile.user({ userID: Activity.userID })"
                title=""
                analytics-on="click"
                analytics-category="search"
                analytics-event="click"
                analytics-label="tandem results: title: click into profile"
                analytics-value="{{::Activity.userID}}"
            )
                h2.person-title
                    span.tandem-name(ng-bind="::Activity.fullName")

                user-location.middle-align.light-text(data-source="Activity.locations")

        .line.languages
            languages.all-langs(
                data-source="Activity.languages"
                data-overflow-limit="4"
            )

            div.im-learning
                languages(
                    data-source="Activity.languages"
                    data-which="learning"
                    data-overflow-limit="4"
                )
                    span.text.cap.middle-align(i18n="profile.LEARNING")