.Quick-Search
    .active-term
        padding .5em !important

    .bar & span
        margin-left 0

    .input-loc,
    .lang-search
        :before
            color $blue-2-50op

    .icon-location:before
        padding em(9) em(8) !important

    .big-dumb-search-button:before
        margin 0

    .page-results & .big-dumb-search-button
        @extends _blue-gradient

        &:before
            @extends .icon-arrows-cw:before
            line-height em(32, $button-font-size)


