form.Quick-Search.default-form.styled(
    name="qSearch"
)

    //- Needs to be last so that .trim-size applies to the :last-child selector
    .lang-search
        lang-complete.input.icon-search(
            data-placeholder="activities.PLACEHOLDER-SEARCH_LANGUAGE"
            data-on-add="vars.onLangChange(languageID, name)"
            data-on-focus="vars.onFocus(event)"
            data-allow-all="true"
            data-max-items="1"
            data-show-defaults="true"
        )

    page-subheader.hidden.bar-dark.Quick-Search(data-emit-target="/nav/subheader/change")
        script#subNavQuickSearchTemplate(type="text/ng-template")
            .inner
                .location.trim.size
                    google-location.input-loc(
                        data-source="vars.filter.location"
                        data-search-type="places"
                        data-placeholder="activities.PLACEHOLDER-SEARCH_CITY"
                        data-name="location"
                        data-on-empty="vars.invalidateSearch('coords')"
                        data-on-select="vars.addLoc(location, passive)"
                        data-sync-key="activitySearch"
                        data-show-icon="true"
                    )

                .blok.size
                    button.big-dumb-search-button.btn-yellow.icon-search.full-size(
                        ng-disabled="qSearch.$invalid"
                        ng-click="vars.submitSearch()"
                    )
