.LS-video
    &.active
        .content
            background rgba(0, 0, 0, .6)

    .title
        padding 1.5em .5em 1em
        text-align center

    .background
        background url('/images/landing/video/xs/background.jpg') no-repeat bottom center
        background-size cover

    .container-size
        padding-bottom 100%

    .content
        absolute top left
        width 100%
        height 100%
        padding 5em
        text-align center
        cursor pointer
        transition background-color 750ms ease-in

        &.activated
            .play-btn
                color $cyan

    .play-btn
        color $light-gray
        display inline-block

    /*a.h3*/.head
        text-decoration underline

    .video-cont
        position absolute
        top 0
        left 50%
        transform translateX(-50%)
        width 100%

    .video-inner
        position relative
        width 100%
        padding-bottom 100%

    /*iframe*/.video
        absolute top left