.LS-video.LS-defaults.container-fluid(
    ng-init="_video = { visible: false }"
    ng-class="{'active': _video.visible}"
    delegate=".play | _video.visible = !_video.visible"
)
    .row
        h2.col.col-100.title.sec-header(i18n="landing.SEARCHABLE_SKILLS")

    .row.relative.play.background
        .container-size
        .content
            .row.tall.vert-center
                .cp-video.col.col-50.col-offset-25
                    img.play-icon(src="/images/misc/white-play-btn.svg", alt="Play Video")

        .video-cont(ng-if="_video.visible")
            .video-inner
                iframe.video(
                    width="100%"
                    height="100%"
                    src="https://www.youtube.com/embed/BHJXq1jSKIY?rel=0"
                    frameborder="0"
                    allowfullscreen
                )
