.window-container.address.appear
    a.close-window.icon-cancel
    .inner-wrap
        h3.h4.lh(ng-bind="::activity.name")

        br

        strong.gray.lh.location-name(
            ng-bind="::activity.locationName"
            ng-if="::activity.locationName"
        )

        br

        span.font-light.gray.lh.address(ng-bind="::activity.address")

        br

        .directions.lh(ng-if="::activity.directionsLink && activity.address")
            a.styled-link(
                ng-href="{{::activity.directionsLink}}"
                i18n="common.GET_DIRECTIONS"
                target="_blank"
            )