.Verified
    position relative

    /*.content a*/.redirect-link
        text-decoration underline
        cursor pointer

        &.activated
            color $cyan

    .password-set
        max-width 70%
        margin 1em auto 0

    .continue-box
        margin-bottom 1.5em
