table(class="edit-lang lang-len-{{langs.length}} default-table")
    tr.header
        th
            h3.head(i18n="profile.LANGS_I_SPEAK")
        th
            span.head(i18n="profile.PROFICIENCY")
            | &nbsp;&nbsp;
            tooltip.small-tip(data-text="profile.TT-LANG_PROFICIENCY")
        th.center
            span.head(i18n="profile.LEARNING")
        th.center
            .teach-head
                span.head(i18n="common.TEACHING")

        th &nbsp;

    tr.f-row(
        ng-repeat-start="language in langs.key track by language.languageID"
        ng-id="::language.id"
        delegate=".remove | langs.onRemove($index)"
    )
        td
            input.lang-name(
                type="text"
                disabled=""
                value="{{::language.name}}"
            )

        td
            skill-select.inline-field.to-skill(
                data-source="language"
                data-show-native="true"
            )

        td
            form.default-form.styled
                label(for="learn-{{::language.name}}")
                    input(
                        id="learn-{{::language.name}}"
                        type="checkbox"
                        ng-model="language.learning"
                    )
                    span.checkbox

        td
            form.default-form.styled
                label(for="teach-{{::language.name}}")
                    input(
                        id="teach-{{::language.name}}"
                        type="checkbox"
                        ng-model="language.teaching"
                    )
                    span.checkbox

        td
            a.remove.icon-cancel-big

    tr.d-row(ng-repeat-end)
        td(colspan="5")
            .border-dot


    tr.add-row
        td
            lang-complete(
                data-value="lang.values"
                data-on-add="langs.onAdd(name, languageID)"
                data-exclude="langs.exclude"
            )

        td
            skill-select.inline-field.to-skill(
                data-source="langs.temp"
                data-show-native="true"
            )

        td
            form.default-form.styled
                input(
                    id="learn-{{::language.name}}"
                    type="checkbox"
                    ng-model="langs.temp.learning"
                )
                label.checkbox(for="learn-{{::language.name}}")

        td(colspan="2")
            form.default-form.styled
                input(
                    id="teach-{{::language.name}}"
                    type="checkbox"
                    ng-model="langs.temp.teaching"
                )
                label.checkbox(for="teach-{{::language.name}}")

    tr.clear
        td.save-row(colspan="5")
            .save-button-row.plump
                .btn-cancel(
                    i18n="common.CANCEL"
                    ng-click="langs.onCancel()"
                )
                .btn-red(
                    i18n="common.SAVE"
                    ng-click="langs.onSave()"
                )