.paid-tags
    padding em(110) 2% 2%

    .close-modal
        display none

    ////// Class
    .brick
        margin-bottom em(10)

    img
        display inline-block

    ////// Structure
    /*header*/.header-bg
        @extends _dark-blue-gradient
        text-align center

    /*.header-bg h3*/.title
        color $white
        $font-title(16, null, 40)

    .inner-c
        padding em($default-padding)

    /*p*/.intro
        padding-bottom em(20)
        font-size em(16)

    .btn-paid
        font-size em(14)

    .sample-listing
        absolute top left
        margin 2%
        width 96%
        box-shadow 0 0 3px $white

    .pay-box
        margin 0 auto
        padding em($default-padding)
        text-align center

    .cart-total
        $font-regular(18)

    .dolla
        $font-title(9)

    .price
        $font-title(16)

    .paypal
        opacity .5

    &.added-to-cart
        .paypal
            cursor pointer
            opacity 1

    .medallion
        width 60%
        margin 2em
