/*.LS-defaults.container*/.LS-hiw
    // inherits padding right/left from .container
    padding-top 3em
    padding-bottom 3em

    .titles
        margin-bottom .5em
        color $cyan
        
    .sec-header
        color $gray
    
    .auto
        margin auto

    .description
        @extends .top-align
        position relative
        margin-bottom 1em
        width 100%

        &:last-child
            margin 0

    .text
        margin 0 1em

        +above($above-sm)
            margin 0 1.5em