.LS-hiw.LS-defaults.container.center
    .row
        h2.sec-header.col.col-100(i18n="landing.ROOT-SLIDE_HEAD_1")

    .row
        .description.col.col-100
            img.auto(src='/images/landing/how-it-works/HowItWorks-03.svg')
            .text
                h3.titles(i18n="misc.CHOOSE_ACTN")
                p.body-copy(i18n="landing.CHOOSE_LANG_LOC")

    .row
        .description.col.col-100
            img.auto(src='/images/landing/how-it-works/HowItWorks-02.svg')
            .text
                h3.titles(i18n="misc.FIND_ACTN")
                p.body-copy(i18n="landing.TANDEM_SPEAKS_LEARN")

    .row
        .description.col.col-100
            img.auto(src='/images/landing/how-it-works/HowItWorks-01.svg')
            .text
                h3.titles(i18n="misc.MEET_UP_ACTN")
                p.body-copy(i18n="landing.PRACTICE_LOC_BY")
