.going-strip
    background $blue-3

    /////////////////////
    ////// $CLASSES /////
    /////////////////////
    .hide-flow
        height 100%
        width 100%
        overflow hidden

    /////////////////////
    ///// $STRUCTURE ////
    /////////////////////
    /*.going-strip header*/.header
        margin em(4) 0 em(12)
    
    /*.header a*/.going-count
        color $white
        display block
        text-align center
        cursor pointer

        &.activated
            color $cyan
    
    /*.going-strip*/.max-going
        .going-count
            color $red

    .avatar
        margin-right em(8)
        display block
        cursor pointer
        position relative
        width em($nav-usable)
        height em($nav-usable)
    
    /*tooltip-transclude*/.hover
        absolute top left
        width 100%
        height 100%

    /*a*/.view-all
        position relative
        text-align center
        width em(40)
        height em(40)
        cursor pointer
        display block
        border 1px solid transparent

        /*span*/.txt
            font em(50) \/ em(5, 50) "Comic Sans MS", cursive, sans-serif
            color $gray

        &.activated
            border-color $cyan

            .txt
                color $cyan