.going-strip(ng-class="{ 'max-going': vars.goingLength == maximum }")
    header.header
        a.going-count.icon-person(
            ng-bind="vars.goingLength"
            ng-click="vars.initModal()"
        )

    a.avatar(
        ng-repeat="user in vars.users | limitTo:vars.limitTo track by user.userID"
        ui-sref="map.dashboard.profile.user({userID: user.userID})"
        analytics-on="click"
        analytics-category="events"
        analytics-event="click"
        analytics-label="standalone: attendee profile"
    )
        tooltip-transclude.hover(
            data-attach="true"
            data-pos="top"
        )
            h3(ng-bind="user.fullName")

        avatar.navatar(
            data-do-watch="true"
            data-opt-preset="thumb"
            data-user="user"
            data-size="footerNav"
        )

    a.view-all(ng-click="vars.initModal()")
        tooltip-transclude(
            data-attach="true"
            data-pos="top"
        )
            h3(i18n="events.VIEW_ALL_ATTENDEES")

        .hide-flow
            span.txt …
