$grad-divide-height = 4

_blue-gradient-divide
    content ''
    display block
    position absolute
    top 100%
    left 0
    height em($grad-divide-height)
    width 100%
    background $cyan-gradient
    background linear-gradient(90deg, $cyan-gradient 50%, $cyan 100%)

_profile_column
    position relative

_profile_vert_border
    @extends .vert-border-dot
    display block
    content ''
    position absolute
    top 0
    left 47.5%

.Profile
    .edit-sec
        display inline-block

        textarea
            width 100%

        .display-copy
            $font-light(14)

        &.body-type
            width 100%
            min-height em(115)

        .edit-link
            vertical-align middle
            display none

    .user-location
        margin-bottom .75em

    .pane-wrapper-scroll
        background $very-light-gray

    /*.pane-wrapper-scroll*/.is-me
        .visitor
            display none

        .edit-sec
            &.activated
                background $white

        /*.edit-sec*/.hover-bg
            &.activated
                background $very-light-gray

        .no-langs
            display block

        &.no-pic
            .edit-photo-dd
                display block;

    .edit-link.langs
        position absolute
        right em($default-padding)
        top em($default-padding)

    /*div*/.summary
        position relative
        margin-bottom em($grad-divide-height)
        background $white

        &:after
            @extends _blue-gradient-divide

    /*h1*/.full-name
        padding 0

        &,
        h1,
        input
            $font-bold(22, null, 26)

        input
            padding em(5, 22)

    /*.summary */.info
        height 100%

        /*.listed li*/.list
            position relative
            margin .5em 0

            &:last-child
                margin 0

            .subject
                color $gray
                $font-bold(12)
                padding-right em(3)
                display block

            /*.subject */.text
                position absolute
                top 50%
                left 0
                transform translateY(-50%)

    .subject .learning,
    /*.languages-container */.lang
        color $blue-2-50op
        font-family $font-bold-val
        line-height 1.5em

    .top-right
        absolute top right
        margin 1em 1em 0 0

    .line
        margin-bottom .5em

        &:last-child
            margin 0

    .bottom-right
        position absolute
        right 1em
        bottom 1em

        a
            color $blue-2-50op
            $font-title(16)
            transition color 250ms ease-out

            &.activated
                color $blue-2

    .bottom-float
        width 100%

    .subject .learning:after
        content ':'
        margin-right .5em

    .no-langs
        display none
        background $yellow-light
        text-align center
        padding em($default-padding)
        cursor pointer

        &.activated
            text-decoration underline

    /*.visitory.icon-mail*/.message
        text-align center
        padding .5em
        cursor pointer
        color $blue-2-50op
        $font-title(15)

        &.activated
            color $blue-2

    /*tooltip*/.title-tip
        vertical-align top
        margin-left .5em

    ////////// BELOW HEAD ///////

    .sections
        padding-bottom em(100)

    /*.sections */.sec
        margin-bottom em(20)
        padding-bottom em(20)
        border-bottom 1px solid $mid-gray

        &:last-child
            border none

    .slight-margin
        margin-bottom 8px

.Profile-sec
    .if-edit
        display none

    &.active-edit
        .if-edit
            display block

        .edit-link
            display none

    .sec-title
        margin-bottom 1em

    .save-button-row
        text-align right
        padding-top .5em

        > div
            margin 0 0 0 1em

/*#subFoot*/.foot-user-msg
    .button-bg
        display inline-block
        padding em($bar-padding-portrait) em($bar-padding-portrait) 0
        margin-top em($bar-padding-portrait * 2)
        background $blue-3
        border-top-right-radius em(3)
        border-top-left-radius em(3)

@require 'modals/edit/Style'
@require 'modals/editLanguages/Style'
@require 'modals/profilePhotoSignup/Style'
@require 'modals/paidTags/Style'
@require 'directives/editLanguageBox/Style'
@require 'directives/avatar/Style'
@require 'directives/personDetails/Style'
@require 'directives/peopleDisplay/Style'
@require 'directives/sectionContact/Style'
@require 'directives/sectionInterests/Style'
@require 'directives/sectionLocation/Style'
@require 'directives/sectionTandemRequest/Style'
