ion-content.pane-content
    view-title {{::Profile.meta.name}} - Chatterplot Profile
    meta(view-head, property="og:title", content="{{::Profile.meta.name}} - {{::'meta.PROFILE_OG_TITLE' | i18n}}")
    meta(view-head, property="og:url", content="{{::Profile.meta.canonical}}")
    meta(view-head, property="og:description", content="{{::Profile.meta.description}}")
    meta(view-head, property="og:type", content="profile")

    div(ng-if="::Profile.meta.picture")
        meta(view-head, property="og:image", content="{{::Profile.meta.picture}}")

    section.pane-wrapper-scroll(
        ng-class="{'is-me': !!Profile.profile.isMe(), 'no-pic': !Profile.data.userPicture}"
    )
        .summary.pane-layout-photo(
            data-delegate=".edit-link | Profile.editSection($event)"
        )
            .photo-sec
                //- avatar directive
                avatar.photo(
                    data-user="profile.user"
                    data-editable="true"
                )

            .content-sec.info
                .edit-sec.hover-bg.basic
                    h1.full-name.middle-align.slight-margin(ng-bind="profile.user.fullName")
                    #editBasic.edit-link(
                        data-section="basic"
                        i18n="profile.EDIT"
                    )

                    //- Age/Gender
                    .slight-margin.light-text
                        span(ng-if="profile.user.details.gender")
                            span.gender(ng-bind="profile.options.genders[profile.user.details.gender]")
                        span(ng-if="profile.user.details.gender && profile.user.details.birthday")
                            =', '
                        span(ng-if="profile.user.details.birthday")
                            span.age(ng-bind="profile.options.age.get()")

                    //- userLocation directive
                    user-location.light-text(
                        data-source="profile.user.locations"
                        data-do-watch="true"
                        ng-hide="Profile.profile.isMe()"
                    )

                .bottom-float.edit-sec.hover-bg.languages
                    div(ng-if="profile.user.languages.length")
                        #editLanguages.langs.edit-link(
                            data-section="languages"
                            i18n="profile.EDIT"
                        )
                        .lang-wrap
                            .line
                                languages.whole-row(
                                    data-source="profile.user.languages"
                                    data-overflow-limit="3"
                                )

                            .line
                                languages.stuff(
                                    data-source="profile.user.languages"
                                    data-which="learning"
                                    data-overflow-limit="3"
                                )
                                    span.subject
                                        .learning(i18n="profile.LEARNING")
                    a.no-langs(
                        ng-if="!profile.user.languages.length"
                        data-section="languages"
                        i18n="profile.ADD_LANG_LONG"
                        ng-click="Profile.editSection($event)"
                    )

        .sections
            section-personal.sec.can-hilite.edit-sec.padding(
                ng-if="Profile.profile.isMe() || Profile.data.parts.personal"
                data-source="profile.user"
                data-on-save="Profile.profile.save(updates)"
                data-default-open="Profile.profile.isMe() && !Profile.data.parts.personal"
            )

            section-location.sec.can-hilite.edit-sec.padding(
                ng-if="Profile.profile.isMe() || Profile.data.parts.locations"
                data-locations="profile.user.locations"
                data-on-save="Profile.profile.save(updates)"
                data-default-open="Profile.profile.isMe() && !Profile.data.parts.locations"
                data-is-me="Profile.profile.isMe()"
            )

            section-interests.sec.can-hilite.edit-sec.padding(
                ng-if="Profile.profile.isMe() || Profile.data.parts.interests"
                data-source="profile.user.interests"
                data-on-save="Profile.profile.save(updates)"
                data-default-open="Profile.profile.isMe() && !Profile.data.parts.interests"
            )

            section-contact.sec(
                ng-if="!Profile.profile.isMe() && Profile.data.parts.contact"
                data-source="profile.user"
            )

        //- page-subheader.center.foot-user-msg(data-emit-target="/nav/subfooter/change")
        //-     script(type="text/ng-template")
        //-             div.button-bg(ng-hide="Profile.profile.isMe() || !profile.user.settings.requests.tandem")
        //-                 flow-request-button.fat(
        //-                     data-analytics-cat="profile"
        //-                     data-type="tandem"
        //-                     data-req-user="profile.user"
        //-                     data-sections="venue, when, message"
        //-                 )
