.avatar.avatar-like(ng-class="{'editable': vars.editable}")
    .avatar-inner
        div(class="img-wrapper {{::size}}")
            //- img will be added here dynamically

        div.transclude-cont(ng-transclude)
