.map-section-wrap
    background-color $orange-light 
    padding-top em($default-padding)
    margin-top em($default-padding)

    .map
        +media('sm')
            display inline-block
            width 40%
            vertical-align middle
            

    .add    
        margin-top 6%
        vertical-align middle
        text-align center
        
        +media('sm')
            display inline-block
            width 40%       

    .map img
        margin auto 

    .arrow img
        width em(50)
        transform rotate(140deg)
        position absolute
        right 65%
        bottom em(65)
        
        +media('sm')
            right 58%
            transform rotate(90deg)
            
        +media('md')
            right 62%
            width 80px
            bottom em(25)
            transform rotate(88deg)
        
     // button 
    .map-me
        margin em(75) 0 em(25)
        
        +media('sm')
            margin-top em(25)
    