.LS-a2m.LS-defaults
    .container-fluid
        .row
            .map-section-wrap
                .map
                    img(src="/images/map.svg")

                .add.center
                    h2 Add Yourself
                    p Put yourself on the map for awesomeness. Put yourself on the map for awesomeness.
                    .arrow
                        img(src='/images/landing/add-to-map/arrow.svg')
                    .b-arrow
                        button.map-me.fluffy.btn-blue
                            a(href='#') Put me on the map!
