.dd-layout-1
    border-radius em(3)
    background $blue-2
    text-align center
    padding em(3)
    min-width em(185)

    &:after
        border-bottom-color $blue-2

    :before
        @extends .middle-align

    .list
        background $white
        color $blue-2

        > *
            display block

            &.activated
                background $light-blue-3
                //color $white

            &:nth-child(even)
                background $light-blue-1
                color $blue-3

    .cancel
        color $white
        display block

        &.activated
            text-decoration underline

    .list > *,
    .cancel
        $font-regular(14)
        padding em(5)
        cursor pointer