.activation-bumper
    @extends _yellow-gradient
    position relative
    z-index 2
    
    &.loading
        a
            display none

    .inner
        line-height em(30)
        text-align center

    .text,
    a
        display inline-block
        font-size em(12)

    /*.inner */.text
        color $black
        margin-right 1.25em
        font-family $font-regular-val

    a
        color $blue-2
        cursor pointer
        font-family $font-bold-val

        &.activated
            text-decoration underline