li.notification-outr
    a(
        ng-class="{'unread': !data.read}"
        class="notification icon-{{::data.icon}}"
        ng-href="{{::data.link}}"
    )
        .middle-align.msg(ng-bind-html="::data.translate")
        .snippet(ng-if="::data.snippet", ng-bind="::data.snippet")
        span.mark-read
            .mark-dot