sections = {
    'my-activities': $orange-light,
    'profile': $green-vibrant,
    'hosting': $cyan,
    'fave-tab': $orange
}

$dashboard-animation-length = 500ms

.map-pane
    .dashboard-tabs .btn-tab
        transition border $dashboard-animation-length ease-out, transform 200ms ease-out
        
    for section, hex in sections
        &.{section}
            .dashboard-tabs
                .btn-tab
                    border-bottom em(100) solid lighten(hex, 70%)
                    
                    &.activated
                        border-bottom em(100) solid lighten(hex, 50%)
                    
                    &.active
                        border-bottom em(100) solid hex
                    
            .dash-head-holder
                background hex

$dash-head-font-size = 18
$dash-head-height = 45
.Dashboard
    height auto

    .dash-head-holder,
    .dash-like
        position relative
        height em($dash-head-height)
        
        .float-btn
            position absolute
            top 0
            right 1em
        
        [class*="btn-"]
            margin em(4) 0

    .dashboard-head
        absolute top left
        width 100%
        z-index 1
        
        &.ng-enter,
        &.ng-leave
            transition transform $dashboard-animation-length ease-out, opacity $dashboard-animation-length ease-out
        
        &.ng-enter,
        &.ng-leave.ng-leave-active
            z-index -1
            transform translateX(50px)
            opacity 0

        &.ng-enter.ng-enter-active,
        &.ng-leave
            z-index 1
            transform translateX(0)
            opacity 1
        
        .float-btn a
            margin em(5) 0
        
    .dashboard-tabs .active .text,
    /*h1*/.dashboard-head-text,
    /*h2*/.dashboard-subhead-text
        color $white
    
    /*h1*/.dashboard-head-text,
    /*h2*/.dashboard-subhead-text
        $font-title($dash-head-font-size)
        padding em(($dash-head-height - $dash-head-font-size) / 2, $dash-head-font-size) em($default-padding)
        text-transform capitalize
    
    .dashboard-subhead
        background $cyan
        
    /*h2*/.dashboard-subhead-text
        font-size em(18)
    
    .dashboard-view
        height calc('100% - ' + em($display-tab-height + $dash-head-height))

        .hide-dash &
            height 100%
            

    .hide-dash & .dashboard-bar
        display none
    
    .pane-wrapper-scroll
        overflow-y scroll
        height 100%
    
    // Sticky head filter tags
    /*.event-group tr*/.group-head
        &.sticky-pinned
            top em($nav-height + $display-tab-height + $dash-head-height)

    .dash-share-strip
        color $white
        absolute top right
        margin 1em
        font-family $font-light-val

        .share-btn
            color $white

            &.activated
                color $blue-3

    .footer-popup
        .trigger
            display none

@import 'myActivities/Style'
