.date-input
    $width = 50

    .day,
    .month
        width em($width)

    .year
        width em($width * 1.5)

    .piece
        margin-right 1em

        &:last-child
            margin 0

    .error
        span
            display block