.FooterNav
    $how-many-buttons = 4
    $usable = $nav-height
    padding 0

    .keyboard-open &
        display none

    .logged-out-only
        padding em($bar-padding-portrait)

    .wrap
        width 100%
        height em($usable)

    [class*="btn-"]
        @extends .top-align
        width 49%
        padding 7px 0

        &:first-child
            margin-right 2%

    /*a*/.link
        @extends .middle-align
        height em($usable)
        width unit(100 / $how-many-buttons, '%')
        text-align center
        color $blue-2-50op

        &.activated
            color $white

    /*a.link*/.active
        background $cyan-gradient

        :before
            color $white

    .icon:before
        font-size em(24)
        line-height em($usable, 24)
        margin 0

    .navatar
        width em($nav-usable)
        height em($nav-usable)
        margin em($bar-padding-portrait) auto
        border-radius 50%
        overflow hidden
