.FooterNav.bar.bar-footer.bar-dark
    .wrap.logged-out-only.fat
        a.btn-yellow.pw-50(
            ui-sref="account.auth({ page: 'login' })"
            i18n="common.LOGIN_VERB"
        )

        a.btn-blue.pw-50(
            ui-sref="standalone.addYourself"
            i18n="common.SIGNUP_VERB"
        )

    .wrap.logged-in-only

        a.link(
            ui-sref="map.dashboard.myActivities"
            ui-sref-active="active"
            analytics-on="click"
            analytics-category="navigation"
            analytics-event="click"
            analytics-label="my activities"
        )
            .icon.icon-group

        a.link(
            ui-sref="pStandalone.messages.list"
            ui-sref-active="active"
            analytics-on="click"
            analytics-category="navigation"
            analytics-event="click"
            analytics-label="messages"
        )
            .icon.icon-mail

        a.link(
            ui-sref="map.activity.search.default"
            analytics-on="click"
            analytics-category="navigation"
            analytics-event="click"
            analytics-label="map search"
        )
            .icon.icon-search

        a.link(
            ui-sref="map.dashboard.profile.user({ userID: $root.userID })"
            ui-sref-active="active"
            analytics-on="click"
            analytics-category="navigation"
            analytics-event="click"
            analytics-label="profile"
        )
            avatar.navatar(
                data-size="footerNav"
                data-do-watch="true"
                data-opts="{width:34, height:34, thumb:true}"
            )

