.donate
    background $very-light-gray

    // shared
    .signatures
        line-height 21px

    .sig
        $font-light(19)

        &.link
            color $blue-3
            text-decoration underline

    // buy-us-a-drink
    .header
        position relative
        width 100%

        /*span*/.img
            padding-bottom 62.5%

    .pad-bot
        padding-bottom 2em

    .header-title
        text-align center
        color $white 
        position absolute
        margin-left auto
        margin-right auto
        top 12%
        font-size em(22)
        width 100%
        
    .header-img
        position relative
        width 100%

    .row-contents
        position relative
        padding-bottom .5em
        
    .box
        border-radius em(3)
        max-width em(480)
        background transparent
        padding-bottom 1em
        margin 0

    .text-holder
        margin-bottom 2em
            
    /*img*/.animation
        width em(140)
        margin 0 auto 2em
        background transparent

        .img
            padding-bottom 100%
            
        span.img:before /*fixes background color on responsive images*/
            background none !important

    .subheader /* h1 */
        font-size em(18)
        text-align center
        margin-bottom 0
            
    .copy
        color $blue-2
        margin-bottom .5em
        
    .button-headers
        font-size em(18)
        text-align center
        padding .5em
        
    .choose p
        color $blue-2
        margin .5em 0

    .btns 
        width 100%
        margin-left 0
        margin-right 0

    .amount
        width 100%
        margin .5em 0 !important
        
    ////////////////////
    /* SUBMITTED PAGE */
    ////////////////////
    .share-row
        //text-align center
        background $white
        //padding 2em 0 2.5em

    .share-btn
        color $white !important
        border-radius .25em
        padding .35em

        &:first-child
            margin 0

        &:before
            margin-right .2em

    /*.share-row */.fb
        background $fb-blue-dark

        &:before
            margin 0

    /*.share-row */.twit
        background $twitter-blue-dark

    /*.share-row */.goog
        background $google-red-dark
