ion-view.donate.submitted
    ion-content
        .row.pad-bot
            .submit-cont.center
                img.illo.middle-align.col-66(src="/images/donation/thank-you.svg")
                .text-holder.middle-align
                    h1.subheader.padded(i18n="campaign.DONATE_THANKYOU")
                    p.copy.copy-scale(i18n="campaign.DONATE_THANKYOU_T")
                    br
                    .signatures
                        span &#8212;
                        span.space
                        a.sig.link(ui-sref="dashboard.profile.user({userID:223})") Marius
                        span ,
                        span.space
                        a.sig.link(ui-sref="dashboard.profile.user({userID:922})") Chris
                        span.space &
                        span.space
                        a.sig.link(ui-sref="dashboard.profile.user({userID:163})") Shana

        .row.flex-center
            .share-row.col.col-75
                h4.sub-head.center(i18n="landing.TELL_FRIENDS")
                br
                share-page(
                    data-url="self"
                    line-text="false"
                    data-text-key="campaign.DONATE_SOCIAL"
                )

        site-footer