.FAQ
    display block
    text-align center
        
    .cont
        max-width 100%
        margin 2em auto
        padding em($default-padding)
        background $white
        float none !important

    /*a*/.back-button
        color $blue-2-50op
        font-family $font-bold-val
        margin-bottom em(15)
        display inline-block
        cursor pointer

        &.activated
            color $cyan

    /*h1*/.page-title
        font-size em(22)
        margin-bottom em(25, 22)

    /*article*/.grouping
        margin-bottom em(25)

        &:last-child
            margin 0

    /*h2*/.topic-title
        $font-title(18)

    /*li*/.single-q
        $font-light(15, null, 18)
        transition margin 300ms ease-in

    /*.single-q*/.active
        margin .5em 0

        .question
            $font-regular(16)
            color $blue-3

        .answer
            max-height em(200)

    /*.single-q a*/.question
        cursor pointer
        transition font-size 300ms ease-in
        color $blue-2-50op

        &.activated
            color $blue-2

    /*span*/.answer
        max-height 0
        overflow hidden
        transition max-height 300ms ease-in
        color $blue-3

        a
            @extends .styled-link
