ion-view.FAQ
    ion-content
        .padding
            a.back-button.icon-back(
                i18n="common.GO_BACK"
                ng-click="$root.goBack()"
            )

            .inner-wrap(data-delegate=".question | single.active = !single.active; a[ui-sref] | FAQ.clickLinkCheck($event)")
                h1.page-title(i18n="standalone.FAQ_TITLE")

                article.grouping(
                    ng-repeat="topic in ::FAQ.topics"
                )
                    h2.topic-title(ng-bind="::topic.topic")

                    ul.questions
                        li.single-q(
                            ng-repeat="single in ::topic.data"
                            ng-class="{'active': single.active}"
                        )
                            a.question(ng-bind="::single.question")
                            .answer(ng-bind-html="::single.answer | trust")

        site-footer