/*html*/.page-auth
    .modal-open
        pointer-events auto

        .modal-backdrop
            top em($nav-height + 10) !important
            background none

        .modal-backdrop-bg
            display none

.auth-modal
    .scroll-content
        overflow visible

    .modal-content
        +media('sm')
            max-width em(400)
            margin 2em auto


.auth-wrap
    position relative
    height 100%
    background url(/images/landing/splash/MainBG_480.jpg) repeat-y

    +media('sm')
        background url(/images/landing/splash/MainBG_768.jpg) repeat-y