ng-form.languages.subject-wide(name="languages")
    .form-group(ng-init="Create.setStepForm(languages)")
        //- !LANGUAGES
        .line(ng-class="{'hanging': Create.vars.allLanguages != true}")
            .subject.required
                span.text(i18n="activities.LANGS_SPOKEN")
            .ffield.set-row-height
                lang-complete(
                    data-required="!Create.vars.allLanguages"
                    data-disabled="Create.vars.allLanguages"
                    data-langs="Create.vars.languages"
                    data-all-langs="activities.ALL_LANGS_WELCOME"
                    ng-hide="Create.vars.allLanguages"
                )
                label.set-line-height(
                    for="allLangsWelcomClone"
                    ng-show="Create.vars.allLanguages"
                )
                    input(
                        type="checkbox"
                        id="allLangsWelcomClone"
                        ng-model="Create.vars.allLanguages"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="activities.ALL_LANGS_WELCOME")

        .line(ng-hide="Create.vars.allLanguages")
            .subject
            .ffield
                label(for="allLangsWelcom")
                    input(
                        type="checkbox"
                        id="allLangsWelcom"
                        ng-model="Create.vars.allLanguages"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="activities.ALL_LANGS_WELCOME")

        //- !SKILL LEVELS
        .line.hanging
            .subject
                span.text(i18n="events.SKILL_NEEDED")
            .ffield
                skill-select.inline-field.from-skill(
                    data-source="Create.vars.skill.from"
                    data-max="Create.vars.skill.to"
                    data-name="from"
                    data-on-change="Create.onSkillChange()"
                )

                .inline-subject.even
                    span.text(i18n="common.A_TO_B")

                skill-select.inline-field.to-skill(
                    data-source="Create.vars.skill.to"
                    data-min="Create.vars.skill.from"
                    data-name="to"
                    data-on-change="Create.onSkillChange()"
                )

        .line
            .subject
            .ffield
                label(for="allSkillsWelcom")
                    input(
                        type="checkbox"
                        id="allSkillsWelcom"
                        ng-model="Create.vars.allSkills"
                        ng-change="Create.toggleAllSkills()"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="activities.ALL_SKILL_WELCOME")

    //- !CONTINUE
    .right-align.fluffy
        a.btn-cancel(
            i18n="common.CANCEL"
            ng-click="Create.cancelEvent()"
        )

        button.btn-blue(
            i18n="common.CONTINUE"
            ng-disabled="languages.$invalid"
            ng-click="Create.continue()"
        )