.section-location
    $size = 40
    $font-size = 23

    /*p*/.description
        margin-bottom 1.25em

    .all-locations
        margin-bottom em($default-padding * 1.75)

    .v-wrap
        position relative
        margin-bottom em($default-padding)

    /* one item */
    .v-wrap:first-child:nth-last-child(1)
        .remove
            display none !important

    /*.v-wrap */.set-primary
        border-radius 50%
        background $blue-2-50op
        font-size em($font-size)
        display none
        position absolute
        top 50%
        left - em($size / 2, $font-size)
        margin-top - em($size / 2, $font-size)
        cursor pointer
        width em($size, $font-size)
        height em($size, $font-size)
        text-align center

        &:before
            color $white
            line-height em($size, $font-size)
            text-align center
            z-index 1
            margin 0

    &.is-self,
    /*.v-wrap*/.primary
        .set-primary
            display block

    &:not(.is-self)
        /*a.icon-remove*/.remove
            display none !important

    /*.v-wrap*/.primary
        .set-primary
            background $orange-light !important

    /*.v-wrap */.venue
        box-shadow em(5) em(5) 0 lighten($gray, 65%)

    .add-location
        display none

    /*.cont*/.edit-mode
        .add-button
            display none

        .add-location
            display block
