.Flow-Req.modal-animation.deny
    blank-modal(
        data-box-class="pane-edit"
        data-inline-x="true"
    )
        ng-form.req-form(name="Flow")
            header.modal-head.padding.sec-divide
                legend.flow-title.head-19(i18n-bo-variable="modal.title")

            .list
                label.item.item-input.item-stacked-label.sec-divide
                    span(i18n="misc.INCLUDE_MESSAGE")
                    =' ('
                    span(i18n="common.OPTIONAL")
                    =')'
                    textarea.tall-input(
                        id="denyRequestText"
                        ng-model="modal.reqObj.message"
                    )

            .row.fat
                .col.col-50
                    button.btn-white.col.col-100(
                        i18n="common.CANCEL"
                        ng-click="window.deactivate()"
                    )

                .col.col-50
                    button.btn-blue.col.col-100(
                        i18n-bo-variable="modal.sendText"
                        ng-disable="modal.processing"
                        ng-click="window.onSubmit(this)"
                    )
