.Flow-Req
    // Classes
    .subject
        margin-bottom 1em
        font-family $font-regular-val

    .inline-subject
        margin 0 1em

    /*header*/.modal-head
        background $light-blue-1

    .sub-title
        margin 0

    /*p*/.sub-desc
        $font-italic(13)
        margin 0
        margin-top unit($default-padding, px)

    .tall-input
        min-height em(80)

    // Structure
    .modal-lay
        padding 2em 0

    .req-listing
        .view-link
            cursor default

    .req-form
        margin 0 auto
        background $white

        +media('xs')
            min-height 100vh

    /*legend*/.flow-title
        margin-bottom 1em

    /*section*/.sec
        position relative

        &:last-child
            margin 0

    /*.Listing */.hover-show
        visibility visible

    &.view
        .req-listing
            background $white

@require 'sections/venue/Style'