.Flow-Req.modal-animation
    blank-modal(
        data-box-class="pane-edit"
        data-inline-x="true"
    )
        ng-form.req-form.fat(name="Flow")
            header.modal-head.padding.sec-divide
                legend.flow-title.head-19(i18n-bo-variable="modal.title")
                span(
                    i18n="misc.WITH_PERSON"
                    data-person="{{::modal.withUser.fullName}}"
                )

            section.sec(
                ng-repeat="section in ::modal.sections"
                ng-init="shared = modal.shared"
                ng-include="::modal.ngIncludify('views/modals/FlowRequest/sections/', section)"
            )

            .row
                button.btn-cancel.col.col-50(
                    i18n="common.CANCEL"
                    ng-click="window.deactivate()"
                )
                button.btn-yellow.col.col-50(
                    i18n="common.SEND"
                    ng-disabled="Flow.$invalid || modal.processing"
                    ng-click="window.onSubmit(this)"
                )