.Flow-Req.modal-animation.view
    blank-modal(
        data-box-class="pane-edit"
        data-inline-x="true"
    )
        request-view.Listing(
            data-activity="modal.Activity"
        )
