form.FR-message.list(
    name="Message"
)
    label.item.item-input.item-stacked-label.sec-divide
        span.input-label(i18n="misc.INCLUDE_MESSAGE")
        textarea.tall-input(
            ng-model="shared.message"
            data-i18n-attr="{placeholder: 'common.PLACEHOLDER-OPTIONAL'}"
        )
