.wrapper.invalid
    .content-modal.default-modal.content.center(ng-init="Email.invalid()")
        h2.head(i18n-bo-variable="Email.vars.type.title")

        p.message(i18n-bo-variable="Email.vars.type.copy")

        div(ng-if="Email.vars.source")
            .modal-divider

            p.message(i18n-bo-variable="Email.vars.source.copy")

        button.btn-blue.fluffy(
            i18n="common.CLICK_HERE"
            ng-click="Email.vars.goLink()"
            ng-disabled="Email.vars.btnClicked"
        )

        br

        .emblem.db