.blank-modal
    ion-content(scroll="true")
        a.icon-cancel-big.close-modal(
            ng-if="::!transclude.disableClose"
            ng-click="window.deactivate()"
        )
        .modal-inner(ng-transclude)