.inner.email-preferences
    .sub-sec
        header.sub-head
            h3.sub-h3(i18n="settings.EMAIL_PRE_TEXT")

        ul.list
            .item.item-toggle
                span.no-cap.text(i18n="settings.EMAIL-I_SPEAK_EVENT_NOTIFICATION")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.eventsISpeak"
                    )
                    .track
                        .handle

            .item.item-toggle
                span.no-cap.text(i18n="settings.EMAIL-I_LEARN_EVENT_NOTIFICATION")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.eventsILearn"
                    )
                    .track
                        .handle

            .item.item-toggle
                span.no-cap.text(i18n="settings.EMAIL-ALL_LANGS_EVENT_NOTIFICATION")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.eventsAllLang"
                    )
                    .track
                        .handle

            .item.item-toggle
                span.no-cap.text(i18n="settings.EMAIL-UPDATES_NEWS")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.updates"
                    )
                    .track
                        .handle

            .item.item-toggle
                span.no-cap.text(i18n="settings.EMAIL-NEW_MSG")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.newMsg"
                    )
                    .track
                        .handle

    .sub-sec
        header.sub-head
            h3.sub-h3(i18n="notifications.MESSAGING")

        ul.list
            .item.item-toggle
                span.no-cap.text(i18n="settings.NOTIFS-MSG_PUBLIC")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.messaging.acceptAll"
                    )
                    .track
                        .handle

            .item.item-toggle
                span.no-cap.text(i18n="settings.NOTIFS-MSG_FRIEND")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.messaging.acceptFollowing"
                    )
                    .track
                        .handle

    .modal-divider

    .sub-sec
        ul.list
            .item.item-toggle
                span.no-cap.text(i18n="settings.EMAIL-UNSUBSCRIBE_ALL")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.unsub"
                        ng-change="vars.unsubAll()"
                    )
                    .track
                        .handle

    .row.center
        button.save-btn.fat.col.col-100(
            i18n="common.SAVE"
            ng-click="vars.save()"
        )