.inner.email-preferences
    .sub-sec
        header.sub-head
            h3.sub-h3(i18n="settings.AM_ACCEPTING")

        ul.list
            .item.item-toggle
                span.no-cap.text(i18n="activities.TANDEM_REQS")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.tandem"
                    )
                    .track
                        .handle

            .item.item-toggle
                span.no-cap.text(i18n="activities.STUDENT_REQS")
                label.toggle.toggle-energized
                    input(
                        type="checkbox"
                        ng-model="vars.fields.teacher"
                    )
                    .track
                        .handle

    .row.center
        button.save-btn.fat.col.col-100(
            i18n="common.SAVE"
            ng-click="vars.save()"
        )