.email-preferences
    label:first-child
        margin-right 1em

    .item
        text-overflow visible
        white-space normal
        background none
    
    label[for="unsubAll"]
        font-size 1.15em

    /*header*/.sub-head
        padding 1em

    /*.subhead h3*/.sub-h3
        $font-bold(15)
        color $blue-2
        margin 0
