.form-A.list
    label.item.item-input.item-floating-label
        span.input-label(i18n="settings.OLD_PASSWORD")
        .popover-msg(
            popover-msg
            name="passwordUpdate"
        )
            .pop.error(
                data-pos="top"
                ng-messages="passwordUpdate.oldPassword.$error"
                ng-if="(passwordUpdate.$submitted || passwordUpdate.oldPassword.$touched) && passwordUpdate.oldPassword.$invalid"
            )
                span.form-error(ng-message="required")
                    span(i18n="auth.ERROR-PASSWORD_REQUIRED")
                span.form-error(ng-message="passwordMatches")
                    span(i18n="settings.ERROR-INCORRECT_PASSWORD")

            .pop.info(
                data-pos="top"
                ng-if="passwordUpdate.oldPassword.$viewValue && passwordUpdate.oldPassword.$touched && passwordUpdate.oldPassword.$valid && passwordUpdate.oldPassword.$pending"
            )
            input.edit-input.field(
                type="password"
                ng-model="vars.oldPassword"
                name="oldPassword"
                passwords-match-validator="vars.oldPasswordValid"
                data-i18n-attr="{placeholder: 'settings.OLD_PASSWORD'}"
            )


    password-reset(
        data-on-condition="vars.oldPasswordValid || vars.disableOldPassword"
        data-on-submit="vars.save({ password: password })"
        data-forgot-password="true"
        data-popover-dir="right"
    )