.FR-venue
    .selected-venue
        &.ng-enter,
        &.ng-leave
            transition .3s ease-out max-height

        &.ng-leave.ng-leave-active,
        &.ng-enter
            max-height 0

        &.ng-leave
        &.ng-enter.ng-enter-active
            max-height em(130)

    /*venue-select */.edit-button
        absolute top right
