form.FR-venue.sec-divide(
    ng-controller="FlowReqVenueCtrl as VM"
    name="Venue"
)
    header.padding.header
        h3.sub-title(i18n="profile.LOCATION")
        p.sub-desc(
            i18n="activities.REQUEST_VENUE_COPY"
            ng-hide="VM.data.venuesArr[VM.data.selected.index].service"
        )

    .selected-venue(ng-if="VM.data.selected.index")
        venues-listing(data-venue-src="VM.data.venuesArr[VM.data.selected.index].service")

    venues-select.fat(
        data-suggested="VM.shared.suggestedVenues"
        data-venue-data="VM.data.venuesArr"
        data-selected-obj="VM.data.selected"
    )
