.google-location
    input[type="text"]
        margin-bottom 0
        width 100%

        &:focus
            box-shadow none
    
    &[class*="icon-"]
        padding-left 2em
        position relative

        &:before
            @extends _icon-input

    /*a*/.get-cur-location
        absolute top right

    .icon-location
        &:before
            $font-size = 16
            font-size unit($font-size, px)
            padding em(13, $font-size) em(8, $font-size)
            margin 0
            absolute top left
            width auto
            color $blue-2-50op

        .input-location
            padding-left 2.5em
        
    /*tooltip*/.loc-target
        padding em(12) em(8)

        &:before
            font-size em(18)
            cursor pointer
            margin 0
            width auto
            background white
        
        &.activated
            &:before
                color $blue-3