ng-form.google-location.list(ng-class="::{'default-form': !inline}")
    .loc-wrap.popover-msg.nom(ng-class="::{'cur-location': vars.curLocation}")
        .pop.error(
            data-pos="top"
            ng-messages="Form.loc.$error"
            ng-if="Form.loc.$touched && Form.loc.$invalid"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-REQUIRED")
            span.form-error(ng-message="invalidate")
                span(i18n-bo-variable="invalidError")
            span.form-error(ng-message="googleLocation")
                span(i18n-variable="vars.googleError")

        label(class="{{::vars.inputClasses}}")
            input.input-location.ion-autocomplete.field(
                ion-autocomplete
                name="loc"
                ng-model="vars.defaultValue"
                type="text"
                readonly="readonly"
                autocomplete="off"
                ng-required="required"
                max-selected-items="1"
                placeholder="vars.placeholder"
                item-view-value-key="{{::vars.viewValueKey}}"
                items-method="vars.doSearch(query)"
                items-clicked-method="vars.locationSelected(callback)"
                loading-icon="spiral"
            )

            a.get-cur-location(
                ng-if="::vars.curLocation"
                ng-click="vars.getCurrentLocation()"
            )