.share-page
    .text
        @extends .middle-align
        color $blue-2-50op
        $font-bold(15, null, 18)
        margin 0 em(5) .5em 0

        &:after
            content ':'

    .shares:nth-child(2)
        @extends .middle-align
    
    /*.shares */.share-btn
        cursor pointer
        font-size em(18)
        color $cyan

    .fb
        color $fb-blue

    .twit
        color $twitter-blue

    .goog
        color $google-red