ion-content.My-Actvty.pane-content
    .pane-wrapper-scroll
        view-title meta.ACTIVITIES_TITLE

        sort-list(
            data-items="My.data.activities"
            data-users="My.data.users"
            data-stack="My.data.stack"
            data-is-searching="My.data.isSearching"
        )
            div
                zero-data(data-what="myActivities")
