.v-info
    background $white
    padding em($default-padding)

    .times
        @extends .middle-align
        width 65%
        border-right 1px solid $cyan
        padding-right em($default-padding)

    .open-close,
    .no-hours
        $font-bold(15)
        color $blue-2
        text-align center

    /*.hours h3*/.open-close
        margin-bottom em($default-padding, 15)

    /*.hours h3*/.no-hours
        line-height em(170)

    /*ul.week-hours li*/.day-hour
        line-height 1.75em

    /*li.day-hour*/.is-today
        font-family $font-bold-val
        color $cyan

    /*.day-hour span*/.hours
        float right

    .details
        @extends .middle-align
        width 35%
        padding-left em($default-padding)

    /*.details */.directions
        padding em(20) 0
        text-align center
        border-bottom 2px solid $cyan

        /*img*/.icon
            margin 0 auto em(10)

    /*.details ul*/.additional
        text-align center
        padding em(15) 0

    /*.additional li*/.entry
        line-height 2em