.v-info
    .times
        .with-hours(ng-if="::venue.opening_hours")
            h3.open-close(i18n="{{::vars.openClose(venue.opening_hours.open_now)}}")

            ul.week-hours(ng-if="::vars.weekdayText")
                li.day-hour(
                    ng-repeat="day in ::vars.weekdayText"
                    ng-class="::{'is-today': day.today}"
                )
                    span.day(ng-bind="::day.name")
                    span.hours(ng-bind="::day.hours")

        .no-hours(ng-if="::!venue.opening_hours")
            h3.no-hours(i18n="misc.STORE_NO_HOURS")

    .details
        .directions
            a.reverse-link(
                href="{{::vars.gmapUrl}}"
                target="_blank"
            )
                img.icon(src='/images/venue/directions.svg')
                span.text(i18n="common.GET_DIRECTIONS")

        ul.additional
            li.entry(ng-if="::venue.website")
                a.reverse-link(
                    i18n="misc.WEBSITE_NOM"
                    href="{{::venue.website}}"
                    target="_blank"
                )

            li.entry(ng-if="::venue.formatted_phone_number", ng-bind="::venue.formatted_phone_number")


