ionic-datepicker
    display block
    position relative

    .boton
        height em(45)
        width 100%
        text-align left
        padding 0
        background none
        color $blue-2

        &.activated
            color $cyan

    /*.boton*/.placeholder
        font italic 1em $font-italic-val
        color $blue-fade

.date-picker
    position relative

    /*span*/.right-float
        position absolute
        right .5em
        top 50%
        transform translateY(-50%)
        cursor pointer

    /*.input*/.field
        background none

.ionic_datepicker_modal
    .date_selected
        background $cyan !important
        color $white

    .color_blue,
    .selected_date_full
        color $cyan !important