ng-form.date-picker(name="datepicker")
    .popover-msg
        .pop.error(
            data-pos="top"
            ng-messages="datepicker.date.$error"
            ng-if="datepicker.date.$touched && datepicker.date.$invalid && required"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-REQUIRED")

        span.icon-calendar.right-float(ng-click="vars.showPicker()")
        ionic-datepicker.date-box(
            data-ng-model="source"
            input-obj="vars.dateObj"
        )
            //- used to get the click from input
            //- so as not to trigger keyboard
            button.boton(
                ng-bind="vars.display || vars.placeholder"
                ng-class="{'placeholder': !vars.display}"
            )

            input.field(
                type="hidden"
                name="date"
                ng-required="required"
            )