.wrapper.Password-Reset
    .content-modal.default-modal.content.center
        div(ng-if="!Email.vars.passwordUpdated")
            h2.head(i18n="auth.RESET_PASSWORD")

            p.message(i18n="auth.RESET_PASSWORD_ALMOST_DONE")

            password-reset(
                data-on-submit="Email.passwordReset(password)"
            )

        div(ng-if="Email.vars.passwordUpdated")
            h2.head(i18n="common.SUCCESS_EXCL")

            p.copy(i18n="auth.PASSWORD_UPDATED_TEXT")

            .modal-divider

            a.btn-green.fluffy(
                i18n="auth.BACK_2_LOGIN"
                ui-sref="account.auth({ page: 'login' })"
            )

        .emblem.db