.Settings
    .list
        margin-bottom 0
        padding-bottom 0

    .item-radio :checked ~ .item-content
        background $light-blue-2

    // Structure
    .inline-modal
        width 100%

    .modal-divider
        height em(4)

    @import 'directives/preferences/Style'
