ion-view
    view-title meta.SETTINGS_TITLE

    ion-content.Settings
        inline-modal(title="settings.ACCOUNT_EMAIL")
            .row.padding
                span(i18n="settings.CURRENT_EMAIL_TEXT")
                span.space.settings-email(ng-bind="::Settings.my.email")

        inline-modal(title="notifications.NOTIFICATIONS")
            settings-email-preferences(
                data-source="Settings.setting.notifs"
                data-on-save="Settings.saveSettings('emailPref', updates)"
            )

        inline-modal(title="activities.REQUESTS")
            settings-request-preferences(
                data-source="Settings.setting.requests"
                data-on-save="Settings.saveSettings('requests', updates)"
            )

        inline-modal.password-update(title="settings.PASSWORD_CHANGE")
            settings-password-update(
                data-on-save="Settings.savePassword(password)"
                data-disable-old-password="obj.passwordNotSet"
            )

        inline-modal(title="settings.DISPLAY_SETTINGS")
            settings-display-settings(
                data-source="Settings.setting"
                data-on-save="Settings.saveSettings('settings', updates)"
            )

        inline-modal(title="settings.DELETE_ACCOUNT")
            .row.padding
                .fat.btn-red.col.col-100(
                    ng-click="Settings.deleteAccount()"
                    i18n="settings.DELETE_ACCOUNT"
                )

        site-footer