.LS-splash
    position relative
    background url("/images/landing/splash/MainBG_480.jpg") no-repeat
    padding 2em 0

    +media('sm')
        background url("/images/landing/splash/MainBG_768.jpg") no-repeat

    /*h1.sec-title*/.title
        margin-bottom .75em

    /*h2*/.sub-head
        font-size em(18)

    /*.row*/.search-row
        background $blue-3
