.map-control.move-search.default-form(
    ng-init="Control.moveSearchInit()"
    ng-show="!!Control.instance.currentSet.moveSearch && Control.vars.enabled"
)
    div(
        ng-if="!!Control.instance.currentSet.moveSearch && !Control.vars.autoSearch && Control.vars.mapMoveCb"
    )

        a.control-button(
            i18n="activities.MAP_UPDATE_SEARCH"
            ng-click="Control.manualMapRefresh()"
            analytics-on="click"
            analytics-category="maps"
            analytics-event="click"
            analytics-label="update map view"
        )