.map-control.plus-minus(ng-init="Control.name = 'zoom'")
    .control-button.icon-plus(
        ng-click="Control.zoom('plus')"
        analytics-on="click"
        analytics-category="maps"
        analytics-event="click"
        analytics-label="zoom in"
    )
    .control-button.icon-minus(
        ng-click="Control.zoom('minus')"
        analytics-on="click"
        analytics-category="maps"
        analytics-event="click"
        analytics-label="zoom out"
    )