_fluffy
    margin .5em
    padding 10px 1em
    
a[class*='btn-']
    box-sizing border-box

/************************
*****  $BUTTONS  ********
************************/
[class^='btn-'],
[class*='btn-'],
.button-styles
    s('box-shadow: -1px 1px 3px .05px %s;', rgba($blue-3, .5))
    text-align center
    color $white
    cursor pointer
    border-radius 2px
    @extends .middle-align
    $font-bold($button-font-size)

    &.spaced,
    .spaced &
        margin .5em

    &.fat,
    .fat &
        padding .8em 1em

    &.fluffy,
    .fluffy &
        @extends _fluffy

    &.plump,
    .plump &
        margin .5em
        padding .8em 2em

    &:first-child
        margin-left 0

    &:last-child
        margin-right 0

    &.thin
        padding .5em

    .text
        display inline-block
        vertical-align middle

    &:before
        @extends [class^="icon-"]:before

    &.activated:not(:disabled):not(.disabled):not(.unstyled),
    .no-touch &.activated:not(:disabled):not(.disabled):not(.unstyled)
        box-shadow 0 0 3px .5px rgba($blue-3, .5)
        position relative
        top 1px

    &.invalid,
    &:disabled,
    &.disabled
        cursor default
        opacity .6

    &:focus
        outline none

.btn-blue,
.submit-btn,
.save-btn,
.blue-gradient
    @extends _blue-gradient

    .no-touch &:hover:not(:disabled):not(.disabled)
        @extends _blue-gradient-hover

.btn-dark-blue,
.dark-blue-gradient
    @extends _dark-blue-gradient

.btn-green,
.green-gradient
    @extends _green-gradient
    color $white

    .no-touch &:hover:not(:disabled):not(.disabled)
        @extends _green-gradient-hover

.save-btn,
.submit-btn
    @extends [class*='btn-']
    text-transform capitalize
    padding em(8, 14) em(24, 14)

.btn-red,
.red-gradient
    @extends _red-gradient

    .no-touch &:hover:not(:disabled):not(.disabled)
        @extends _red-gradient-hover

.btn-yellow,
.yellow-gradient
    @extends _yellow-gradient

    .no-touch &:hover:not(:disabled):not(.disabled)
        @extends _yellow-gradient-hover

.btn-orange,
.orange-gradient
    background $orange

    .no-touch &:hover:not(:disabled):not(.disabled)
        background darken($orange, 20%)

.btn-white,
.btn-cancel,
.white-gradient
    @extends _white-blue-gradient
    color $blue-2-50op

    .no-touch &:hover:not(:disabled):not(.disabled)
        color $blue-2
        @extends _white-blue-gradient-hover

/************************
*****  $SOCIAL  ********
************************/

_btnSocial
    display inline-block
    margin 1em auto
    box-sizing border-box
    padding em(8) 1em

    &:before
        font-size 1.25em

.btn-facebook
    @extends _fbGradient
    @extends _btnSocial
    color $white

    &::before
        @extends .icon-facebook:before

    .active,
    &.activated
        background linear-gradient(-100deg, $fb-blue 0%, $fb-blue-hover 100%)

.btn-linkedin
    @extends _btnSocial
    @extends _linkedinGradient
    background $linkedin-blue
    color $white

    &::before
        @extends .icon-linkedin:before

    .active,
    &.activated
        background linear-gradient(-100deg, $linkedin-blue-hover 0%, $linkedin-blue 100%)

.btn-google
    @extends _btnSocial
    @extends _googleGradient
    background $google-red
    color $white

    &::before
        @extends .icon-gplus:before

    .active,
    &.activated
        background linear-gradient(-100deg, $google-red-hover 0%, $google-red 100%)

.btn-twitter
    background $twitter-blue
    color $white

    .no-touch &:hover
        background $twitter-blue-hover

/************************
*****   $TABS    ********
************************/
.btn-tab
    padding .8em 1.5em
    border-radius em(5) em(5) 0 0
    margin-right 1em

    &.btn-blue
        background linear-gradient(-165deg, $cyan 0%, $cyan-gradient 80%)



/**************************
*****    $GROUP    ********
**************************/
.button-group    
    [class*="btn-"]
        margin-left .5em
        
        &:first-child
            margin-left 0

.btn-paid
    font-size 11px
    box-shadow none !important

    .icon,
    .txt
        @extends .middle-align

    /*.btn-wrap */.icon
        margin-right em(4, 11)
        position relative
        width em(18, 11)
        height em(18, 11)

        &:after
            @extends [class^="icon-"]:before
            @extends .icon-search:before
            line-height em(18, 11)
            margin .15em 0 0
            color $cyan-gradient-dark-post

    .display
        @extends _blue-gradient
        border 1px solid $cyan
        padding em(5, 11)
        border-radius em(10)
        box-shadow -1px 1px 3px .05px rgba($blue-3, .5)
        color $white

    /*.btn-wrap */.txt
        color inherit
        text-shadow 1px 1px 0 rgba($blue-3, .5)

label.btn-paid
    :checked + .display
        border 1px solid $blue-3

        .icon
            &:before
                background $cyan-gradient-dark-post

        .no-touch &:hover
            @extends _white-blue-gradient
            color $blue-3
            border-color transparent

            .icon
                &:before
                    background $blue-2-50op

                &:after
                    color $blue-3
                    @extends .icon-cancel-big:before

    .icon
        &:before,
        &:after
            width 100%
            height 100%
            absolute top left

        &:before
            content ''
            border-radius 50%
            background $cyan

        &:after
            @extends .icon-check:before
            color $white
            font-size em(10, 11)


