ng-form
    @extends _block-display

$default-input-height = 43
$default-form-inputs
    padding em($input-padding)
    color $blue-2
    border 1px solid $light-blue-3
    border-radius 2px
    margin-bottom 1em
    height auto
    max-width 100%

    &:focus
        box-shadow 0 0 3px 1px $cyan

    &:disabled
        background none
        box-shadow none
        border-radius none
        color $blue-3

$default-checkbox-size = 16

/************************
*******  $FORMS  ********
************************/

.form-A
    input,
    select
        border none
        background none
        height em(43)

    input,
    textarea
        border-radius 3px // for error borders

    .input-label
        font 1em \/ 1em $font-bold-val
        height 2em

    .item
        max-width 100%
        overflow visible

    .item-content
        width 100%
        min-height em(43)

    legend
        background $cyan-gradient
        color $white
        font 1em $font-bold-val
        padding .5em

.default-form
    input:not([type="submit"]),
    textarea
        font 1em $font-regular-val
        placeholder()

    input:not([type]),
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="month"],
    input[type="url"],
    input[type="tel"],
    textarea,
    select
        @extends $default-form-inputs

    input.reset,
    textarea.reset
        padding 0
        border none
        margin 0
        box-shadow none

        &:focus
            box-shadow none

    input[type="checkbox"],
    input[type="radio"]
        width em($default-checkbox-size)
        height em($default-checkbox-size)

    input[type="checkbox"],
    .checkbox
        border-radius 2px

    input[type="radio"],
    .radio
        border-radius 50%

    input[type="submit"]
        cursor pointer

    .form-messages
        margin-top .35em

    // Good for !Error messages
    .form-error,
    .form-update
        margin-top .5em
        font-style italic
        color $red

    .form-update
        color $green

    ///////// !STYLED  ///////////
    &.styled,
    .styled
        input[type="checkbox"],
        input[type="radio"]
            display none

        .checkbox,
        .radio
            border 1px solid $blue-2 !important
            display inline-block
            width em(14)
            height em(14)
            vertical-align middle
            background $white

            .no-touch &:hover
                box-shadow inset 0 0 2px 1px rgba($blue-2, .5)

            &.activated,
            .no-touch &.activated
                box-shadow inset 0 0 2px 1px rgba($blue-2, .75)

        :checked + .checkbox,
        :checked + .radio
            @extends _blue-gradient

        :disabled + .checkbox,
        :disabled + .radio
            opacity .5
            box-shadow none !important
        
        .checkbox + .text,
        .radio + .text
            margin-left em(5)
            vertical-align middle

        input[type="submit"]
            @extends .submit-btn

        .btn-cancel
            @extends _fluffy

    // Holds multiple inputs on a single line. Most commonly used to hold a combo:
    //      Input + Submit -  button on one line
    .input-single-row
        margin-bottom 1em

        input
            margin-bottom .5em

            &:last-child
                margin 0

    // Combines a:
    //       label + input - under a parent element to align them
    .line
        @extends _clearfix
        margin-bottom .5em

        &:last-child
            margin 0

        input,
        select
            margin-bottom 0

    /*.line*/ .row-legend
        color $blue-2
        margin-bottom .75em
        $font-bold(15, null 16)

    /*.line*/.center
        text-align center

    // Grouping of:
    //       label + radio/checkboxes + (opt. error message - below input)
    /*.line*/ .set
        float left

    .double .set
        width 50%

    .triple .set
        width (100 / 3)%

    .quad .set
        width 25%

.default-form
    [class*="icon-"]
        input[type],
        .ion-autocomplete
            padding-left 2em