input
    border none

.item-input
    border none

    &.overflow
        overflow visible

    .fat &
        padding 16px 0 13px 16px

.input-label
    font-weight bold

.item-stacked-label input,
.item-stacked-label textarea
    padding-top 10px !important

textarea
    &.tall
        min-height em(110)

    &.med
        min-height em(80)