// Subtle blue italic text. meant for reminders/notes
.faint-note
    $font-italic(12, null, 14)
    color $blue-fade

.light-text
    $font-light(15, null, 17)
    color $blue-2-50op

.border-dot
    background url("/misc/blue-border-image-horz.svg") repeat-x
    min-width em(8)
    width 100%
    height em(3)
    
    &.oj
        min-width em(6)
        height em(2)
        background url("/misc/oj-border-image-horz.svg") repeat-x

        .no-svg &
            background url("/misc/fallback/oj-border-image-horz.png") repeat-x

    .no-svg &
        background url("/misc/fallback/blue-border-image-horz.png") repeat-x

.vert-border-dot
    background url("/misc/blue-border-image-vert.svg") repeat-y
    width em(3)
    height 100%
    min-height em(8)

    .no-svg &
        background url("/misc/fallback/blue-border-image-vert.png") repeat-y

/**
.dot-through-box.margin
    .bg-dot.border-dot
    .create-bg-lay
        h4....
*/
.dot-through-box
    max-width em(520)
    margin em(10) auto
    position relative
    text-align center

    .bg-dot
        width 100%
        position absolute
        top 49%
        z-index 0
        
    .create-bg-lay
        padding em(30) 
        background $white
        position relative
        z-index 1
        display inline-block

[class*="-modal"] .create-bg-lay
    background $modal-bg

// for classes where you don't want to create a whole new file for
.btm-room-box
    display block
    margin 1em 0 2.25em

.padded-content
    padding 1em

.small-space-chunk
    display block
    height .7em
    width 100%

// Medium margin chunk (17.5px)
.mid-space-chunk
    display block
    height 1.25em
    width 100%

// Larger margin chunk (35px)
.space-chunk
    height 2.5em
    display block
    width 100%

// Logo emblem
.emblem
    width em(33)
    height em(25)
    background-size contain
    display inline-block
    vertical-align top
    background-repeat none

    // 20% opacity dark blue ($blue-3)
    &.db
        background url('/misc/emblem-db.svg')

        .no-svg &
            background url('/misc/fallback/emblem-db.png')

// Edit links
.edit-link,
.save-link,
.cancel-link
    font 14px \/ 1em $font-light-val
    color $cyan
    display inline
    cursor pointer
    margin-left .75em

    &:before
        @extends [class^="icon-"]:before
        vertical-align baseline
        color $blue-3

    &.edit-link:before
        @extends .icon-pencil:before

    &.save-link:before
        @extends .icon-check:before

    &.cancel-link:before
        @extends .icon-cancel:before

    .no-touch &:hover
        text-decoration underline

        &:before
            color $cyan
            text-decoration none

//JCrop
.jcrop-holder
    margin 0 auto