.modal-backdrop
    background rgba(0,0,0, .7)
    transition(transform .2s ease)
    overflow scroll

    /*body*/.menu-open &
        transform translateX(- unit($side-menu-width, px))

.modal-content
    background $light-blue-1
    padding em($default-padding)
    margin 0 em($default-padding) 0

    &.margin
        margin-left 3%
        margin-right 3%
        border 1px solid $cyan
        border-radius em(3)

.close-modal
    padding 1em
    display inline-block
    color $white

.blank-modal
    .inline-x .close-modal
        absolute top right
        z-index 1
        color $blue-2-50op
        padding 1.25em

/************************/
/*****    !TITLE   *****/
/************************/
.title-modal
    $title-padding-top = 14
    $font-adjust = 2 // Font is not full height so we need to make the container shorter & the text taller
    $title-height = 15 - $font-adjust // will adjust the height of title header

    background $modal-bg
    border-radius 2px

    /*header*/.head-bar
        @extends _dark-blue-gradient
        text-align center
        color $white
        box-sizing content-box
        padding em($title-padding-top) 0
        border-radius 2px
        width 100%

    /*header.head-bar */.modal-title
        margin 0 em(16, $title-height + 2)// give margin-left
        $font-title($title-height + $font-adjust, null, ($title-height + $font-adjust) * 1.2) // bigger font to fill out the height
        text-transform capitalize
        color $white

    /*header.head-bar */.close-modal
        $font-size = 18
        font-size em($font-size)
        background none
        top em(15, 18)
        right 2.5%

/*************************
***  MODAL !DEFAULTS  ****
*************************/
.content-modal,
.title-modal,
.blank-modal
    text-align left

    legend
        border none
        color inherit

    .x-out
        position absolute
        top 5px
        right 5px
        font-size 2em
        cursor pointer
        color $blue-2-50op
        transition color 250ms linear
        
        .no-touch &:hover
            color $blue-2
        
        &:before
            @extends [class^="icon-"]:before
            @extends .icon-cancel:before
            margin 0

    .sec-divide
        border-bottom 2px solid $blue-3

/*************************
******    !MISC    *******
*************************/
.modal-padding
    padding em($default-padding)

.modal-divider
    width 100%
    height em(25)
    position relative
    text-align center
    margin 1em 0

    &:before
        width 100%
        height 3px
        background $cyan
        background url("/misc/blue-border-image-horz.svg") repeat-x
        absolute left
        top 48%
        content ''
        z-index 0

        .no-svg &
            background url("/misc/fallback/blue-border-image-horz.png") repeat-x

    .text
        background $modal-bg
        padding 0 .5em
        $font-italic(18)
        color $blue-2
        display inline-block
        position relative
        z-index 1

//////////////////////////
///   !Confirm Modal   ///
//////////////////////////
.default-modal.confirm
    .message
        margin-bottom .5em

    [class*="btn-"]
        margin-bottom 0
