table,
thead,
tbody,
th,
tr,
td
    display block
    box-sizing border-box

.default-table,
.display-table
    text-align left

    th
        margin-bottom .5em
    
    th,
    td
        display inline-block
        font 1em $font-regular-val
        color $blue-2

    input[type="email"],
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="month"],
    input[type="url"],
    input[type="tel"],
    input[type="checkbox"],
    input[type="radio"],
    textarea,
    select
        margin 0
        

.display-table
    background $light-blue-2

    th
        padding .5em 0
        font 1.25em $font-bold-val
        background $light-blue-3
        color $white
        text-align center

    