/*ul*/.display-tabs
    $bg-color = $gray

    position relative
    z-index 0
    background $bg-color
    padding em($default-padding)
    height em($display-tab-height)
    overflow hidden
    
    /*li*/.btn-tab
        background $bg-color
        position relative
        border-bottom em(100) solid $white
        border-left em(7) solid transparent
        border-right em(7) solid transparent
        padding 0 1.5em
        height em(10)
        transition transform 200ms ease-out
        box-shadow none !important
        
        &:before,
        &:after
            position absolute
            bottom - em(10)
            width em(10)
            height em(10)
            content ''
            border-radius: 50%
        
        &:before
            border-width 0 1px 1px 0
            box-shadow -5px -5px 0 $bg-color
            left -1px

        &:after
            border-width 0 0 1px 1px
            box-shadow 5px -5px 0 $bg-color
            right -1px
        
        .no-touch &:hover:not(.active)
            transform translateY(- em(5))

    /*a*/.text
        color $blue-2
        line-height em(32, 15)
