.taper-attach
    position relative

    .taper-bar
        absolute top left
        z-index 5

    /*.taper-bar */.taper-inner
        width 100%

    /*.taper-inner span*/.taper-display
        position relative
        display inline-block
        $font-title(15, null, $activity-sticky-height)
        color $white
        padding 0 em(14)
        background $blue-2
        box-shadow 2px 2px 10px 0 rgba($blue-3, .5)
        text-transform capitalize
        width 100%

        &:after
            content ''
            position absolute
            left 100%
            top 0
            border em($activity-sticky-height / 2, 15) solid $blue-2
            border-right em($activity-sticky-height / 2, 15) solid transparent
            border-bottom em($activity-sticky-height / 2, 15) solid transparent
