.page-results
    .nav-subhead.Quick-Search.hidden
        display block !important

    // If the same color as the main nav, then overlap their shared padding
    .map-container
        margin-top em($nav-sub-same-bg-height)

    ion-content.pane-content
        height calc('' + (100 - $dashboard-map-height) + 'vh - ' + em($nav-sub-same-bg-height + $footer-height))

    .platform-ios ion-content.pane-content
        height calc('' + (100 - $dashboard-map-height) + 'vh - ' + em($nav-sub-same-bg-height + $footer-height + $iphone-offset))


.Activity
    .search-outer
        border-bottom 2px solid $cyan
        @extends _blue-gradient
        
        &.has-banner
            .search-banner
                display inline-block

    /*.search-wrap */.search-banner
        $banner-height = 37
        $font-size = 15
        display none
        padding em(($banner-height - $font-size) / 2, $font-size) em(15, $font-size)
        line-height 1em
        color $blue-3
        width 70%
        background $white
        border-top 1px solid $cyan
        position relative
        
        &:after
            content ''
            display block
            border em(round($banner-height / 2), $font-size) solid $white
            border-right em(round($banner-height / 2), $font-size) solid transparent
            border-top em(round($banner-height / 2), $font-size) solid transparent
            absolute top
            left 100%

    .load-more
        cursor pointer
        padding em($default-padding)
        text-align center
        
        &.activated
            .load-bar
                background $cyan
            
            .load-text
                color $white
    
    .load-bar
        padding em($default-padding)
        background $light-blue-1
        border 1px solid $cyan
    
    /*span*/.load-text
        color $blue-2-50op

@require 'directives/zeroData/Style'
