ion-content.Search.pane-content(delegate-handle="scroll")
    .pane-wrapper-scroll
        view-title meta.SEARCH_TITLE

        meta(
            view-head
            name="description"
            content="{{::meta.SEARCH_DESC | i18n}}"
        )

        activities-list(
            data-type="Search.searchType"
            data-options="Search.searchOptions"
            data-on-refresh="Search._onRefresh"
            data-stack="Search.stack"
            data-group="Search.searchGroup"
        )
