.LS-regions
    padding-top 3em

    /*h2.sec-header*/.title
        margin-bottom 1em
        color $gray

    .region
        position relative
        display block

        &.activated
            .bg-overlay
                opacity .4

    /*h4*/.lang-name
        position absolute
        top 50%
        left 50%
        transform translateX(-50%)
        font-size em(24)
        color $light-gray

    .bg-img
        width 100%
        background-size cover

    .bg-overlay
        absolute top left
        background-color $blue-2
        width 100%
        height 100%
        display block
        opacity 0
        transition opacity 250ms ease-out

    /*.bg-img span*/.img
        +media('sm')
            padding-bottom 65%
            background-size cover
