.LS-regions.LS-defaults
    .container
        .row.center
            h1.col.col-100(i18n="landing.HEAD_1")

        .row.center
            h2.sec-header.title.col.col-100(i18n="landing.CHOOSE_LANGUAGE")

        .regions
            a.region.center(
                ng-repeat="region in ::vars.regions"
                href='{{::region.href}}'
            )
                .bg-img
                    responsive-image(
                        data-img-base="{{::region.image}}"
                        data-img-size="region-{{region.size}}"
                        data-static-path="{{::vars.regionData.path}}"
                        data-static-type="{{::vars.regionData.mime}}"
                        data-breakpoints="xs,sm"
                    )
                    .bg-overlay
                    h4.lang-name(i18n="languages.{{::region.lang}}")
