._404
    h1
        $font-title(34)
        margin-bottom em(15, 34)

    h2
        $font-title(20)
        margin-bottom em(10, 20)

    
    .background
        position relative
        height em(365)

    /*.background */.sky-gradient
        background #41d1f6
        background linear-gradient(180deg, #41d1f6 0%, #affff9 100%)
        height 100%
    
    /*.background */.city
        position absolute
        bottom 0
        width 100%
        height em(295)
        background url('/images/standalone/404/city.svg') repeat-x

    .foreground
        height em(168)
        overflow-y visible
        position relative
        z-index 2
    
    /*.foreground */.foreground-gradient
        background #41d1f6
        background linear-gradient(180deg, #e7fcf9 0%, $light-blue-2 100%)
        border-top em(5) solid $white
        height em(285)

    /*.foreground */.alien
        position absolute
        bottom 25%
        left 50%
        margin-left - em(305)
        width em(609)
        height em(329)
        background url('/images/standalone/404/alien.svg') no-repeat
    
    .head
        position absolute
        top 0
        left 0
        width 100%
    
    /*.head */.inner-head
        margin em(20) auto 0
        width 100%
        max-width $max-width
        text-align center

    .bottom-wrap
        background $light-blue-2
        padding-bottom em($default-padding * 3)
    
    /*.bottom-wrap */.box
        width 100%
        max-width em(880)
        background $white
        padding em($default-padding * 2)
        box-shadow 0 0 5px 0 rgba($blue-3, .65)
        position relative
        z-index 3
        text-align center
        margin 0 auto
    
    /*.box p*/.text
        font-size em(15)
        margin-bottom em(25, 15)