._404.cont
    view-title 404
    meta(
        view-head
        name="keywords"
        content="not found, 404, missing"
    )

    meta(
        name="prerender-status-code"
        content="404"
    )

    .full-wrap
        .bg
            .background
                .sky-gradient
                .city

            .foreground
                .foreground-gradient
                .alien

        .head
            .inner-head
                h1.no-cap(i18n="standalone.404_TITLE")
                h2(i18n="standalone.404_SUBHEADER")

        .bottom-wrap
            .box
                h2(i18n="standalone.404_BOX_HEAD")
                p.text(i18n="standalone.404_BOX_SUB")

                a.btn-blue.plump(
                    ui-sref="map.activity.search.default"
                    i18n="common.BACK_2_SEARCH"
                    analytics-on="click"
                    analytics-category="standalone"
                    analytics-event="click"
                    analytics-label="404: back to search"
                )

    site-footer