.AddSelf
    background $very-light-gray

    /*header*/.cta
        color $blue-3
        padding em(25)
        text-align center
        background url('/images/standalone/addYourself/header_800.jpg') no-repeat
        background-size cover
        border-bottom 1px solid $cyan

    /*.cta h1*/.page-title
        $font-title(24)
        margin-bottom em(20, 24)
        color inherit

    /*.cta h2*/.page-sub
        $font-regular(17)
        color inherit
        
    /*section*/.add-content
        padding 1em
        text-align center

    /*.add-content header*/.intro
        margin-bottom em(40)
        
    /*.intro h3*/.intro-head
        color $blue-2
        $font-title(17)
        margin-bottom em(15, 17)
    
    /*.add-content form*/.info
        max-width em(600)
        margin 0 auto em(40)

        .term-editor
            padding em($input-padding) em($input-padding) em($input-padding) 2em !important

    /*.row*/.native
        .term
            margin 0 em(6) em(3) em(3) !important
        
    /*.info */.line
        margin-bottom em(25)
        clearfix()
        
    /*.line */.subject
        text-align center
        font-family $font-bold-val
        margin-bottom em(10)

    /*.line */.ffield
        text-align left

    .shadow
        box-shadow em(5) em(5) 0 lighten($gray, 65%)

    /*.row .ffield*/.submit
        text-align center

    .subject,
    .ffield
        @extends .middle-align
        min-height 1px
        vertical-align middle
        width 100%

    /*footer*/.assure
        max-width em(970)
        margin 0 auto

    /*.assure */.trip
        @extends .top-align
        padding 0 1.25em
        margin-bottom em(5)

        .img
            display none

        &:last-child
            .img
                display block

    /*.google-location */.icon-location:before
        color $blue-2 !important

    /*.trip h3*/.trip-head
        $font-italic(14, null, 16)
        height 2.5em

        strong
            $font-title(17)
            color $cyan

    /*.trip */.img
        width em(175)
        height em(175)
        margin 0 auto

    for num in 1 2 3
        .img-{num}
            background url('/images/standalone/addYourself/assure-' + num + '.svg') no-repeat