.AddSelf
    header.cta
        h1.page-title(i18n="campaign.ADD_SELF_LAND_1")

        h2.page-sub(i18n="campaign.ADD_SELF_LAND_SUB_HEAD")

    section.add-content
        form#addSelf.info.default-form.styled(name="addSelf")
            .line.learning
                .subject(i18n="campaign.LANG_U_LEARN")
                .ffield
                    single-lang-complete.input(
                    data-icon="true"
                    name="learning"
                    data-languages="Add.data.learning"
                    data-placeholder="activities.PLACEHOLDER-SEARCH_LANGUAGE"
                    data-required="Add.data.isRequired"
                    data-field-name="learning"
                    )

            .line.native
                .subject(i18n="campaign.U_NATIVE_LANG")
                .ffield
                    lang-complete.input(
                    data-icon="true"
                    name="native"
                    data-langs="Add.data.native"
                    data-placeholder="activities.PLACEHOLDER-SEARCH_LANGUAGE"
                    data-required="Add.data.isRequired"
                    )

            .line
                .subject(i18n="common.MAP_LOCATION")
                .ffield
                    google-location(
                    name="location"
                    data-search-type="places"
                    data-on-select="Add.locationUpdate(location)"
                    data-display-src="Add.data.location"
                    data-show-icon="true"
                    data-no-general="true"
                    required="Add.data.isRequired"
                    )

            .line.listings
                venues-listing-dummy.shadow(ng-show="!Add.data.location")
                venues-listing.shadow(
                ng-if="Add.data.location"
                data-venue-src="Add.data.location"
                data-watch-var="Add.data.locationChange"
                data-no-map="true"
                )

            .small-space-chunk.hidden-xs

            .line
                .subject.hidden-xs &nbsp;
                .ffield.fluffy.submit
                    button.btn-yellow(
                    i18n="common.CONTINUE"
                    ng-click="Add.submitForm()"
                    ng-disabled="addSelf.$invalid"
                    analytics-on="submit"
                    analytics-category="add yourself"
                    analytics-event="click"
                    analytics-label="confirm"
                    )

        footer.assure(ng-if="::!formOnly")
            .trip
                h3.trip-head(i18n="campaign.ADD_SELF_LAND_1")
                .img.img-1

            .trip
                h3.trip-head(i18n="campaign.ADD_SELF_LAND_2")
                .img.img-2

            .trip
                h3.trip-head(i18n="campaign.ADD_SELF_LAND_3")
                .img.img-3