.user-location
    span.icon-location
        span(
            ng-if="vars.displayAddress"
            ng-bind="vars.displayAddress"
        )

        span(
            ng-if="!vars.displayAddress"
            i18n="profile.LOCATION_NOT_SET"
        )