.LS-blog
    padding 2em 0 1em

    ////////////////
    /** CLASSES **/
    ////////////////
    .overlay-text
        text-shadow 0 0 6px rgba($black, .85)
        color $white
        margin-bottom 1em

    ////////////////
    /** STRUCTURE **/
    ////////////////
    /*h2.sec-head*/.title
        color $gray !important
        margin-bottom 1em
        text-align center

    /*.row*/.blog-container
        margin-bottom 1.5em

    /*a*/.blog
        box-sizing border-box
        margin-bottom 2em

        &:last-child
            margin 0

        &.activated
            cursor pointer

            .read-more
                color $cyan

    /*article*/.background
        height em(172)
        width 100%
        position relative
        background $gray
        padding 4em 1em
        text-align center
        background-position center

    .post-text
        margin-top 1em
        font-size em(12)
        font-style italic
        
    /*.post-text span*/.blog-copy
        color $light-gray
    
        
    /*.post-text span*/.read-more
        color $blue-1
        margin-left 2.5%
        
    /*.row*/.subscribe
        text-align right
        
    /*.subscribe a.h5*/.rss
        color $orange-dark
        margin-right em(15)

        &.activated
            color $cyan
