.LS-blog.LS-defaults
    .row
        h2.col.col-100.sec-header.title(i18n="misc.FOLLOW_BLOG")

    .row(ng-repeat="post in vars.feeds track by post.id")
        a.blog.col.col-100(
            href="{{::post.link}}"
            target="_blank"
        )
            article.background(style="background:url({{::post.image}}) no-repeat;background-size:cover")
                h5.overlay-text(ng-bind="::post.title")

                h6.overlay-text(ng-bind="::post.updated")

            p.post-text
                span.blog-copy(ng-bind-html="::post.description")
                span.read-more(i18n="common.READ_MORE")

    .row
        .subscribe
            a.h5.rss(
                type="application/rss+xml"
                href="{{::vars.rssLink}}"
            )
                span(i18n="common.SUBSCRIBE_ACTN")
                span=' '
                span.icon-rss