.autocomplete-box(ng-class="::{'icon-comment': icon}")
    input.input-language.ion-autocomplete(
        ion-autocomplete
        name="{{::vars.fieldName}}"
        ng-required="vars.required"
        ng-disabled="vars.disabled"
        ng-model="vars.value"
        type="text"
        readonly="readonly"
        autocomplete="off"
        default-on-empty="true"
        item-view-value-key="name"
        items-method="LangComplete.getLangs(query)"
        items-clicked-method="vars.onAdd(callback)"
        search-items="LangComplete.prepopulated"
        data-placeholder="LangComplete.placeholder"
        max-selected-items=""
    )